---
---

@import 'bootstrap/bootstrap';

nav {
  padding-top: 10px !important;
}

ul.navbar-nav {
  margin-top: 10px;
}

.content {
  margin-top: 60px;
  width: 100%;
}

.container {
  padding: 0 10px 0 10px;
}

body {
  width: 100%;
}

.slider {
    background-color: $primary;
    margin: auto;
    text-align: left !important;
    margin-bottom: 20px;
}

.logo {
  padding-left: 20px;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    color: black !important;
    margin-left: 20px;
    height: 50px;
    padding-top: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.get-started {
    background-color: $secondary;
    color: white !important;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-weight: bold;
}

a:hover {
    color: $secondary !important;
}

a.get-started:hover {
    color: $secondary !important;
    font-weight: bold;
    border: 2px solid $secondary;
    background-color: white;
}

.navbar {
  display: block;
position: fixed;
}

.nav {
    border-bottom: 1px solid black;
}

.navbar {
    background-color: white;
}

.slider-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
}

table.slider {
  height: 100%;
  max-width: 1024px;
}

.logo-sm {
  height: 150px !important;
}

.slider-sm {
  font-size: 20px;
  height: 300px
}

.slider-lg {
  height: 400px
}

.narative-alt {
  font-size: 1.2rem;
  color: white;
  padding: 10px !important;
  background-color: grey;
}

.narative {
  font-size: 1.2rem;
  color: grey;
  padding: 10px !important;
  background-color: white;
}

.feature-narative {
  font-size: 1rem;
  padding: 0px !important;
}

.card {
  border: 0 !important;
  border-radius: 0 !important;
}
// Cards
.card-purple {
  border-left: 5px solid $purple !important;
  margin-bottom: 40px;
}

.card-pink {
  border: 0 !important;
  border-left: 5px solid $pink !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-orange {
  border: 0 !important;
  border-left: 5px solid $orange !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-blue {
  border: 0 !important;
  border-left: 5px solid $blue !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-white {
  border: 0 !important;
  border-left: 5px solid white !important;
  border-radius: 0 !important;
  padding: 0 30px 0 30px !important;
}


.text-purple {
  color: $purple !important;
}

.text-pink {
  color: $pink !important;
}

.text-orange {
  color: $orange !important;
}

.text-blue {
  color: $blue !important;
}

.text-green {
  color: $green !important;
}

.text-white {
  color: white !important;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.btn-icon {
  margin-left: 10px;
}

.feature-img {
  text-align: center;
  padding: 20px;
  vertical-align: middle
}

.sitemap {
  background-color: grey;
  color: white !important;
  padding: 50px;
}

.sitemap a {
  color: white;
  text-decoration: none;
}

.sitemap li {
    list-style-type: none;
}

.sitemap ul {
  padding: 0px;
}

.users {
  background-color: $green;
  padding: 50px;
  text-align: center;
}

.users .container {
  background-color: $green;
  margin-bottom: 20px;
}

.user-logo {
  padding: 20px;
}

.features {
  background-color: white;
  color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.features .container .card {
  background: none;
}


.features .narative {
  color: white;
  background-color: grey;
}

.feature-purple {
  background-color: $purple;
}

.feature-pink {
  background-color: $pink;
}

.feature-blue {
  background-color: $purple;
}

.feature-orange {
  background-color: $purple;
}

.card-title-purple {
  padding-top: 10px;
  border-top: 5px solid $purple;
}

.card-title-pink {
  padding-top: 10px;
  border-top: 5px solid $pink;
}

.card-title-orange {
  padding-top: 10px;
  border-top: 5px solid $orange;
}

.navbar {
  border-bottom: 1px solid black;
}
