---
---

@import 'bootstrap/bootstrap';

nav {
  padding-top: 10px !important;
}

ul.navbar-nav {
  margin-top: 10px;
}

.content {
  margin-top: 60px;
}

.slider {
    background-color: $primary;
    margin: auto;
    text-align: left !important;
}

.logo {
  padding-left: 20px;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    color: black !important;
    margin-left: 20px;
    height: 50px;
    padding-top: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.get-started {
    background-color: $secondary;
    color: white !important;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-weight: bold;
}

a:hover {
    color: $secondary !important;
}

a.get-started:hover {
    color: $secondary !important;
    font-weight: bold;
    border: 2px solid $secondary;
    background-color: white;
}

.nav {
    border-bottom: 1px solid black;
}

.navbar {
    background-color: white;
}

.slider-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
}

table.slider {
  height: 100%;
  max-width: 1024px;
}

.logo-sm {
  height: 150px !important;
}

.slider-sm {
  font-size: 20px;
  height: 300px
}

.slider-lg {
  height: 400px
}
