<nav class="site-nav">
  <div class="inner">
    <a class="brand" href="{{ "/" | relURL }}">
      Home
    </a>
    <ul>
      <li><a href="{{ "/news/" | relURL }}">News</a></li>
      <li class="dropdown">
        <a href="{{ "/components/classic/" | relURL }}">Components ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{{ "/components/classic/" | relURL }}">ActiveMQ</a></li>
          <li><a href="{{ "/components/nms/" | relURL }}">NMS Clients</a></li>
          <li><a href="{{ "/components/cms/" | relURL }}">CMS Client</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="{{ "/support/" | relURL }}">Community ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{{ "/contact/" | relURL }}">Contact Us</a></li>
          <li><a href="{{ "/contributing/" | relURL }}">Contribute</a></li>
          <li><a href="{{ "/issues/" | relURL }}">Report Issues</a></li>
          <li><a href="{{ "/support/" | relURL }}">Get Support</a></li>
        </ul>
      </li>
      <li><a href="{{ "/download/" | relURL }}">Download</a></li>
    </ul>
  </div>
</nav>
