<!-- Features -->

<!-- Feature 1 -->
<div class="row features">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-purple text-purple">
              Protect your data & Balance your Load
            </h5>
            <!--h6>
              Subtitle.
            </h6-->
            <div class="card-body">
              <div class="row">
                <!--div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div-->
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>ActiveMQ provides many advanced features including message load-balancing and high-availability for your data. Multiple connected "master" brokers can dynamically respond to consumer demand by moving messages between the nodes in the background. Brokers can also be paired together in a master-slave configuration so that if a master fails then the slave takes over ensuring clients can get to their important data and eliminating costly downtime.</p>
                </div>
                <!--div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-warning">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-pink text-pink">
              Easy Enterprise Integration Patterns
            </h5>
            <!--h6>
              Subtitle
            </h6-->
            <div class="card-body">
              <div class="row">
                <!--div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div-->
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>Enterprise Integration Patterns describe the various ways in which multiple applications generally interact and integrate with each other. Aysnchronous messaging is at the heart of this integration, and ActiveMQ makes it easy to leverage these patterns via Apache Camel routes deployed directly on the broker.</p>
                </div>
                <!--div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-secondary">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-orange text-orange">
              Flexible Deployment
            </h5>
            <!--h6>
              Subtitle.
            </h6-->
            <div class="card-body">
              <div class="row">
                <!--div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div-->
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>ActiveMQ is most commonly deployed as a standalone process. This option isolates ActiveMQ from any particular application and provides maximum flexibility for resource allocation and management. However, ActiveMQ can be configured to have a very small footprint which makes it viable to <em>embed</em> it within your application. This option can provide an application with simple, powerful messaging semantics and also allow easy message exchange with other applications.</p>
                </div>
                <!--div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-danger">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
