# Site settings
title: ActiveMQ
email:
author:
description:
  url: https://apache.activemq.org

# Build settings
permalink: none
# permalink: :title/
sass:
  sass_dir: css/

collections:
  artemis_releases:
    output: false
  5x_releases:
    output: true
    permalink: /:name

# Current release streams "x.y.[z]" prefixes
current_artemis_releases:
  - "2.18."
current_5x_releases:
  - "5.16."
  - "5.15."

defaults:
  - scope:
      path: "assets/img"
    values:
      image: true
  - scope:
      path: ""
      type: "5x_releases"
    values:
      layout: "5x_release"
      title-class: page-title-activemq5
      type: activemq5

markdown: kramdown
highlighter: rouge
#permalink: /news/:year/:month/:day/:title/
excerpt_separator: ""
source: src
exclude: [ BUILD.md, Gemfile* ]
keep_files: [ .git ]
exclude: [ vendor ]
baseurl:

plugins:
  - jekyll-redirect-from
