# Site settings
title: ActiveMQ
email:
author:
description:
  url: https://apache.activemq.org

# Build settings
permalink: none
# permalink: :title/
sass:
  sass_dir: css/

collections:
  artemis_releases:
    output: true
    permalink: /components/artemis/download/:name
  5x_releases:
    output: true
    permalink: /:name
  cms_releases:
    output: true
    permalink: /components/cms/download/:name
  nms_activemq_releases:
    output: true
    permalink: /components/nms/providers/activemq/downloads/:name
  nms_amqp_releases:
    output: true
    permalink: /components/nms/providers/amqp/downloads/:name
  nms_ems_releases:
    output: true
    permalink: /components/nms/providers/ems/downloads/:name
  nms_msmq_releases:
    output: true
    permalink: /components/nms/providers/msmq/downloads/:name
  nms_stomp_releases:
    output: true
    permalink: /components/nms/providers/stomp/downloads/:name
  nms_wcf_releases:
    output: true
    permalink: /components/nms/providers/wcf/downloads/:name
  news:
    output: true
    permalink: /news/:name


# Current release streams "x.y.[z]" prefixes
current_artemis_releases:
  - "2.18."
current_5x_releases:
  - "5.16."
  - "5.15."

defaults:
  - scope:
      path: "assets/img"
    values:
      image: true
  - scope:
      path: ""
      type: "5x_releases"
    values:
      layout: "5x_release"
      title-class: page-title-activemq5
      type: activemq5
  - scope:
      path: ""
      type: "artemis_releases"
    values:
      layout: "artemis_release"
      title-class: page-title-artemis
      type: artemis
  - scope:
      path: ""
      type: "news"
    values:
      layout: "news"
      title-class: page-title-activemq5
      type: activemq5

markdown: kramdown
highlighter: rouge
#permalink: /news/:year/:month/:day/:title/
excerpt_separator: ""
source: src
exclude: [ BUILD.md, Gemfile* ]
keep_files: [ .git ]
exclude: [ vendor ]
baseurl:

plugins:
  - jekyll-redirect-from
