// Override Bootstrap Defaults
$primary: #78932c; // Green
$secondary: #c12766; // Pink
$success: #cf242a; // Orange
$warning: #714099; // Purple
$info: #3e489f; // Blue

// ActiveMQ Variables
$green: #78932c; // Green
$pink: #c12766; // Pink
$orange: #cf242a; // Orange
$purple: #714099; // Purple
$blue: #3e489f; // Blue
