<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="#"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ 5</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#mailing">Mailing Lists</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#chat">Chat</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#contributing">Contributing</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apache</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.3.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.3.0 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12341247">here</a></p>

<h4 id="bug">Bug</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1255">ARTEMIS-1255</a>] - Unable to validate user</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1271">ARTEMIS-1271</a>] - Deadlock on shutdown may occur if using shared store and network cable is pulled</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1291">ARTEMIS-1291</a>] - Broken link in a documentation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1297">ARTEMIS-1297</a>] - AMQPMessages cannot be load balanced across a Message Bridge</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1299">ARTEMIS-1299</a>] - Unable to configure comma delimited enabledProtocols</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1303">ARTEMIS-1303</a>] - Potential dead lock in Replication Endpoint</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1305">ARTEMIS-1305</a>] - Server Frozen during shutdown if RA is retrying</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1308">ARTEMIS-1308</a>] - Client Acknowledge not performant</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1310">ARTEMIS-1310</a>] - Provide GSSAPI (kerberos) SASL mechanism for AMQP</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1311">ARTEMIS-1311</a>] - Log messages without prefixed id code in artemis-core-client</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1312">ARTEMIS-1312</a>] - TimedBuffer doubled timeout with blocking flush</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1313">ARTEMIS-1313</a>] - getAddresses in PostOfficeImpl does not correctly return all addresses</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1315">ARTEMIS-1315</a>] - Client disconnection may cause consumer to hang</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1317">ARTEMIS-1317</a>] - Messages that expire on OpenWire client are lost (never make it to ExpiryQueue, if one is configured)</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1320">ARTEMIS-1320</a>] - Support arbitrary URL for connection between REST interface and broker</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1323">ARTEMIS-1323</a>] - REST: manual acknowledgment not working as documented</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1328">ARTEMIS-1328</a>] - Delivery guard can take too long</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1332">ARTEMIS-1332</a>] - The broker should always return a response when a client adds metadata</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1333">ARTEMIS-1333</a>] - Completion listener can lead to message loss in case of crash</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1353">ARTEMIS-1353</a>] - Replication packets can get out of order</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1354">ARTEMIS-1354</a>] - AIOSequentialFile does not call IOError on write failure</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1355">ARTEMIS-1355</a>] - Default config for client reconnection attempts does not match documentation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1359">ARTEMIS-1359</a>] - AMQP: Broker reencodes the message Header needlessly on outbound dispatch</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1368">ARTEMIS-1368</a>] - Artemis gets to state when it doesn’t respond to producer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1376">ARTEMIS-1376</a>] - AMQ224014: Failed to close session: java.lang.NullPointerException</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1378">ARTEMIS-1378</a>] - ActiveMQServer.updateQueue or cli.updateQueue is broken, may lose messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1379">ARTEMIS-1379</a>] - Some queue stats are not thread-safe</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1385">ARTEMIS-1385</a>] - Incomplete comment in default broker.xml file</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1389">ARTEMIS-1389</a>] - Closing session on open wire will throw a NPE on logs</li>
</ul>

<h4 id="improvement">Improvement</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1306">ARTEMIS-1306</a>] - Clarify identity for authentication failures</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1321">ARTEMIS-1321</a>] - Remove final modifier from org.apache.activemq.artemis.ra.ActiveMQRASession</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1327">ARTEMIS-1327</a>] - Support checked exceptions from ActiveMQServerPlugin</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1335">ARTEMIS-1335</a>] - Update Netty to 4.1.14</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1343">ARTEMIS-1343</a>] - Update Configuration Transport Documentation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1346">ARTEMIS-1346</a>] - Add documentation for new Management Console</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1347">ARTEMIS-1347</a>] - ActiveMQServerPlugin beforeCreateConsumer should have the QueueBinding as an argument</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1356">ARTEMIS-1356</a>] - Avoid allocations and atomic operations to recognize handler’s thread</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1357">ARTEMIS-1357</a>] - TypedProperties encode/decode improvement</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1361">ARTEMIS-1361</a>] - Support Updating queue config from broker.xml at runtime</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1367">ARTEMIS-1367</a>] - Add LOG to the Critical Analyzer policies</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1369">ARTEMIS-1369</a>] - Include queue name in security errors where appropriate</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1370">ARTEMIS-1370</a>] - consumer command, does not offer a ClientID command line arg</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1374">ARTEMIS-1374</a>] - AMQP: Improve transfer tag generation and add tag pooling</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1377">ARTEMIS-1377</a>] - AMQP: Better handle message disposition events</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1381">ARTEMIS-1381</a>] - add a JMX operation removeAllMessages() to the queue</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1384">ARTEMIS-1384</a>] - add a CLI command to display basic queue stats</li>
</ul>

<h4 id="new-feature">New Feature</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1270">ARTEMIS-1270</a>] - Provide a Management Console for Artemis</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1322">ARTEMIS-1322</a>] - Add a ServerLocator option to ignore topology for load-balancing</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1324">ARTEMIS-1324</a>] - Critical Analysis and deadlock detection on broker</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1342">ARTEMIS-1342</a>] - Support Netty Native KQueue on MacOS</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1348">ARTEMIS-1348</a>] - Support LVQ for AMQP</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1372">ARTEMIS-1372</a>] - Support kerberos authentication to LDAP for the LdapJAASLoginModule</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1373">ARTEMIS-1373</a>] - Allow chaining of Kerberos and LDAP JAAS Login Modules for authentication and authorisation</li>
</ul>

<h4 id="task">Task</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1316">ARTEMIS-1316</a>] - Document Scheduled message support over AMQP</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1325">ARTEMIS-1325</a>] - Update Proton 0.20 and qpid-jms 0.24</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1350">ARTEMIS-1350</a>] - Update management console to expose client side objects</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1358">ARTEMIS-1358</a>] - Eliminate code duplication in MQTTProtocolManager</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1360">ARTEMIS-1360</a>] - Documenting runtime reloadable configuration</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1371">ARTEMIS-1371</a>] - Update JGroups stack files</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1380">ARTEMIS-1380</a>] - Simplify documentation to refer to URL syntax rather than API</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p>Apache ActiveMQ, ActiveMQ, ActiveMQ Artemis, Apache, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2019, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
