{{ define "above-main" }}
<div class="hero">
  <div class="inner">
    <div class="hero-text">
      <h1>Flexible &amp; Powerful Open Source<br>Multi-Protocol Messaging</h1>
      <a class="btn" href="{{ "/download/" | relURL }}">Download</a>
      <a class="btn btn-outline" href="{{ "/components/classic/" | relURL }}">Documentation</a>
    </div>
    <div class="hero-logo">
      <img src="/assets/img/activemq_logo_white_vertical.png" alt="Apache ActiveMQ">
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="intro">
  <p>Apache ActiveMQ® is the most popular open source, multi-protocol, Java-based message broker. It supports industry standard protocols so users get the benefits of client choices across a broad range of languages and platforms. Connect from clients written in JavaScript, C, C++, Python, .Net, and more. Integrate your multi-platform applications using the ubiquitous <strong>AMQP</strong> protocol. Exchange messages between your web applications using <strong>STOMP</strong> over websockets. Manage your IoT devices using <strong>MQTT</strong>. Support your existing <strong>JMS</strong> infrastructure and beyond.</p>
</div>

<div class="news-cards">
  <div class="news-card">
    <h4><a href="{{ "/news/classic-6-2-1-release/" | relURL }}">ActiveMQ Classic 6.2.1 Release</a></h4>
    <p>ActiveMQ Classic 6.2.1 is a new milestone for the project, starting the 6.2.x series.</p>
    <time>Feb 18th, 2026</time>
  </div>
  <div class="news-card">
    <h4><a href="{{ "/news/classic-05-19-02/" | relURL }}">ActiveMQ Classic 5.19.2 Release</a></h4>
    <p>Maintenance release on the 5.19.x series.</p>
    <time>Feb 13th, 2026</time>
  </div>
  <div class="news-card">
    <h4><a href="{{ "/news/apachenmsactivemq-v220/" | relURL }}">Apache.NMS.ActiveMQ 2.2.0 Release</a></h4>
    <p>Dependency upgrade to Apache.NMS version 2.2.0.</p>
    <time>Nov 27th, 2025</time>
  </div>
</div>

<div class="component">
  <h3>ActiveMQ</h3>
  <p>Long established, endlessly pluggable architecture serving many generations of applications.</p>
  <ul>
    <li><a href="{{ "/components/classic/documentation/jms2" | relURL }}">Partial Jakarta Messaging 3.1 &amp; JMS 2.0 support</a> and full JMS 1.1 support</li>
    <li>High availability using shared storage</li>
    <li>Familiar JMS-based addressing model</li>
    <li>Network of brokers for distributing load</li>
    <li>KahaDB &amp; JDBC options for persistence</li>
  </ul>
</div>
{{ end }}
