<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="content">
      <div class="row">
  <div class="col-12 slider slider-activemq5 slider-sm parent d-none d-xl-block">
    <div class="row child" style="width: 100%">
      <div class="col-2 align-middle"></div>
      <div class="col-6 slider-text align-middle">
          <p style="font-size: 60px">ActiveMQ "Classic"</p>
          <p style="font-size: 23px">The Tried and Trusted Open Source Message Broker</p>
          <a style="margin-top: 20px" href="download" class="btn btn-primary btn-lg btn-outline-light">Download<i class="fa-download fa btn-icon"></i></a>
          <!--a style="margin-top: 20px" href="getstarted" class="btn btn-primary btn-lg btn-outline-light">Get Started<i class="fa-info-circle fa btn-icon"></i></a-->
          <a style="margin-top: 20px" href="documentation" class="btn btn-primary btn-lg btn-outline-light">Read the Docs<i class="fa-book fa btn-icon"></i></a>
      </div>
      <div class="col-4 align-middle" >
          <img src="/assets/img/activemq_logo_white_vertical.png" style="height: 250px"/>
      </div>
    </div>
  </div>
</div>

			<div class="row project-narative">
			  <div class="col-12">
			    <div class="container activemq5">
			      <!-- Narative 2 -->
			      <div class="row">
			        <div class="col-12">
			          <div class="card card-pink">
			            <div class="card-body">
			              <div class="row">
			                <div class="col-sm-12 col-md-10">
			                  <div class="card">
			                    <div class="card-body">
			                      <p>Apache ActiveMQ® is the most popular and powerful open source messaging and <a href="../../enterprise-integration-patterns">Integration Patterns</a> server.</p>

<p>Apache ActiveMQ is fast, supports many <a href="../../cross-language-clients">Cross Language Clients and Protocols</a>, comes with easy to use <a href="../../enterprise-integration-patterns">Enterprise Integration Patterns</a> and many <a href="../../features">advanced features</a> while fully supporting <a href="http://java.sun.com/products/jms/">JMS 1.1</a> and J2EE 1.4. Apache ActiveMQ is released under the <a href="http://www.apache.org/">Apache</a> <a href="http://www.apache.org/licenses/LICENSE-2.0">2.0 License</a></p>

<p>Grab yourself a <a href="../../download">download</a>, review our <a href="../../getting-started">Getting Started Guide</a>, surf our <a href="../../faq">FAQ</a>, or start <a href="../../contributing">contributing</a>.</p>

<hr />

<h4 id="features">Features</h4>

<ul>
  <li>Supports a variety of <a href="../../cross-language-clients">Cross Language Clients and Protocols</a> from Java, C, C++, C#, Ruby, Perl, Python, PHP
    <ul>
      <li><a href="../../openwire">OpenWire</a> for high performance clients in Java, C, C++, C#</li>
      <li><a href="../../stomp">Stomp</a> support so that clients can be written easily in C, Ruby, Perl, Python, PHP, ActionScript/Flash, Smalltalk to talk to ActiveMQ as well as any other popular Message Broker</li>
      <li><a href="../../amqp">AMQP</a> v1.0 support</li>
      <li><a href="../../mqtt">MQTT</a> v3.1 support allowing for connections in an IoT environment.</li>
    </ul>
  </li>
  <li>full support for the <a href="../../enterprise-integration-patterns">Enterprise Integration Patterns</a> both in the JMS client and the Message Broker</li>
  <li>Supports many <a href="../../features">advanced features</a> such as <a href="../../message-groups">Message Groups</a>, <a href="../../virtual-destinations">Virtual Destinations</a>, <a href="../../wildcards">Wildcards</a> and <a href="../../composite-destinations">Composite Destinations</a></li>
  <li>Fully supports JMS 1.1 and J2EE 1.4 with support for transient, persistent, transactional and XA messaging</li>
  <li><a href="../../spring-support">Spring Support</a> so that ActiveMQ can be easily embedded into Spring applications and configured using Spring’s XML configuration mechanism</li>
  <li>Tested inside popular J2EE servers such as <a href="http://tomee.apache.org/">TomEE</a>, <a href="http://geronimo.apache.org/">Geronimo</a>, JBoss, GlassFish and WebLogic
    <ul>
      <li>Includes <a href="../../resource-adapter">JCA 1.5 resource adaptors</a> for inbound &amp; outbound messaging so that ActiveMQ should auto-deploy in any J2EE 1.4 compliant server</li>
    </ul>
  </li>
  <li>Supports pluggable <a href="../../uri-protocols">transport protocols</a> such as <a href="../../how-do-i-use-activemq-using-in-jvm-messaging">in-VM</a>, TCP, SSL, NIO, UDP, multicast, JGroups and JXTA transports</li>
  <li>Supports very fast <a href="../../persistence">persistence</a> using JDBC along with a high performance journal</li>
  <li>Designed for high performance clustering, client-server, peer based communication</li>
  <li><a href="../../rest">REST</a> API to provide technology agnostic and language neutral web based API to messaging</li>
  <li><a href="../../ajax">Ajax</a> to support web streaming support to web browsers using pure DHTML, allowing web browsers to be part of the messaging fabric</li>
  <li><a href="../../axis-and-cxf-support">CXF and Axis Support</a> so that ActiveMQ can be easily dropped into either of these web service stacks to provide reliable messaging</li>
  <li>Can be used as an in memory JMS provider, ideal for <a href="../../how-to-unit-test-jms-code">unit testing JMS</a></li>
</ul>

<p><a href="../../features">Find out more.</a></p>

			                    </div>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>      
    </div>
    <div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
