<!-- Features -->
<div class="row narative-alt">
  <div class="col-12">
    <div class="container">
      <!-- Narative 2 -->
      <div class="row">
        <div class="col-sm-12 narative-alt">
          <div class="card">
            <div class="card-body narative-alt">
              <div class="card-body narative-alt">
                  <span>Narative: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feature 1 -->
<div class="row features">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-purple text-purple">
              Why choose ActiveMQ over other projects.
            </h5>
            <h6>
              Subtitle.
            </h6>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div>
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-warning">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-pink text-pink">
              Why choose ActiveMQ over other projects?
            </h5>
            <h6>
              Subtitle
            </h6>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div>
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-secondary">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div style="padding: 10px;" class="card card-white">
            <h5 style="margin-left: 10px" class="card-title card-title-orange text-orange">
              Why choose ActiveMQ over other projects?
            </h5>
            <h6>
              Subtitle.
            </h6>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-lg-12 feature-img">
                  <img  src="{{site.baseurl}}/assets/img/example-diagram.png"></img>
                </div>
                <div class="col-sm-12 col-lg-12 feature-narative">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button style="margin-top: 10px" href="#" class="btn btn-danger">Find out more<i class="fa-info-circle fa btn-icon"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
