<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-4">
              <h5>Projects</h5>
              <ul>
                <li><a href="#">Artemis</a></li>
                <li><a href="#">ActiveMQ</a></li>
                <li><a href="#">NMS</a></li>
                <li><a href="#">CMS</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h5>Community</h5>
              <ul>
                <li><a href="#">Artemis</a></li>
                <li><a href="#">ActiveMQ</a></li>
                <li><a href="#">NMS</a></li>
                <li><a href="#">CMS</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
            <h5>Getting Started</h5>
              <ul>
                <li><a href="#">Artemis</a></li>
                <li><a href="#">ActiveMQ</a></li>
                <li><a href="#">NMS</a></li>
                <li><a href="#">CMS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div style="text-align: center; margin-bottom: 30px; margin-top: 30px;" class="col-sm-6">
              Apache ActiveMQ is an open source project licensed under Apache License 2.0.
            </div>
            <div class="col-sm-6">
              <div >
                <img class="float-left" style="max-height: 100px" src="assets/img/main-logo.png"/>
                <img class="float-right" style="max-height: 80px" src="assets/img/apache-logo.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
