<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="#"><img src="/assets/img/activemq_logo_black.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownProjects" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-3" aria-labelledby="navbarDropdownProjects">
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">ActiveMQ Artemis</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/artemis/">Overview</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/artemis/documentation">Documentation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/artemis/download">Download</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/artemis/migration">Migration</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">ActiveMQ 5</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/classic/">Overview</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/classic/documentation">Documentation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/classic/download">Download</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Other</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/cms/">CMS</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/nms/">NMS</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownClients" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-2" aria-labelledby="navbarDropdownClients">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/amqp">AMQP</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/mqtt">MQTT</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/core">Core</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/openwire">OpenWire</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/stomp">STOMP</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/rest">REST</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/clients/xmpp">XMPP</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>

                </li>

                <li class="nav-item dropdown">
                    <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Two Column <b class="caret"></b></a>-->
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-3" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Users</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/mailing">User Mailing List</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/support">Support</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/usedby">Used By</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/security">Security Advisories</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Developers</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/developer/mailing">Dev Mailing List</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/developer/source">Source</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/developer/issues">Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/developer/contributing">Contributing</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Other</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/irc">IRC</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/twitter">Twitter</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/blog">Blog</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/stackoverflow">Stack Overflow</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Two Column <b class="caret"></b></a>-->
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Team</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/team/committers">Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/pmc">PMC</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/reports">Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Getting Started</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>

</nav>
