<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="#"><img src="/assets/img/activemq_logo_black.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownProjects" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownProjects">
                        <div class="row">
                            <div class="col-2">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Projects</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/classic">ActiveMQ 5</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/projects/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Two Column <b class="caret"></b></a>-->
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Contact</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/mailing">Mailing Lists</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/support">IRC</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/usedby">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/security">Contributing</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/user/security">Social Media</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Two Column <b class="caret"></b></a>-->
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Team</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <h6 class="dropdown-header">Team</h6>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/committers">Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/pmc">PMC</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/community/reports">Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>

</nav>
