<div class="row">
  <div class="col-12 slider slider-{{ page.project_class }} slider-sm parent d-none d-xl-block">
    <div class="row child" style="width: 100%">
      <div class="col-2 align-middle"></div>
      <div class="col-6 slider-text align-middle">
          <p style="font-size: 60px">{{ page.project_name }}</p>
          <p style="font-size: 23px">{{ page.project_info }}</p>
          <a style="margin-top: 20px" href="download" class="btn btn-primary btn-lg btn-outline-light">Download<i class="fa-download fa btn-icon"></i></a>
          <!--a style="margin-top: 20px" href="getstarted" class="btn btn-primary btn-lg btn-outline-light">Get Started<i class="fa-info-circle fa btn-icon"></i></a-->
          <a style="margin-top: 20px" href="documentation" class="btn btn-primary btn-lg btn-outline-light">Read the Docs<i class="fa-book fa btn-icon"></i></a>
      </div>
      <div class="col-4 align-middle" >
          <img src="{{site.baseurl}}/assets/img/activemq_logo_white_vertical.png" style="height: 250px"/>
      </div>
    </div>
  </div>
</div>
