<!-- <div class="row">
    <div class="col-12 slider slider-{{ page.project_class }} slider-lg parent d-none d-lg-block">
        <div class="row child" style="width: 100%">
            <div class="col-2 align-middle"></div>
            <div class="col-6 slider-text align-middle">
                <p style="font-size: 60px">{{ page.project_name }}</p>
                <p style="font-size: 23px">{{ page.project_info }}</p>
                <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">DOWNLOAD v{{ page.latest_version }}<i class="fa-download fa btn-icon"></i></button>
                <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">GET STARTED<i class="fa-info-circle fa btn-icon"></i></button>
            </div>
            <div class="col-4 align-middle" >
                <img src="/assets/img/activemq_logo_white_vertical.png" style="height: 250px"/>
            </div>
        </div>
    </div>
</div>

<div class="row narative">
    <div class="col-12">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 narative">
                    <div class="card">
                        <div class="card-body narative">{{ page.project_top_narative }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
  <div class="col-12 slider slider-{{ page.project_class }} slider-lg parent d-none d-lg-block">
    <div class="row child" style="width: 100%">
      <div class="col-2 align-middle"></div>
      <div class="col-6 slider-text align-middle">
          <p style="font-size: 60px">{{ page.project_name }}</p>
          <p style="font-size: 23px">{{ page.project_info }}</p>
          <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">DOWNLOAD v{{ page.latest_version }}<i class="fa-download fa btn-icon"></i></button>
          <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">GET STARTED<i class="fa-info-circle fa btn-icon"></i></button>
      </div>
      <div class="col-4 align-middle" >
          <img src="/assets/img/activemq_logo_white_vertical.png" style="height: 250px"/>
      </div>
    </div>
  </div>
  <div class="col-12 slider slider-{{ page.project_class }} d-md-none d-lg-none d-xl-none d-inline-block">
    <div class="row" style="padding: 50px 10px 20px 10px">
      <div class="col-7 slider-text align-middle">
          <p style="font-size: 30px">{{ page.project_name }}</p>
      </div>
      <div class="col-4 align-middle" >
          <img src="/assets/img/activemq_logo_white_vertical.png" style="height: 130px"/>
      </div>
    </div>
    <div class="row" style="padding: 0px 10px 50px 10px; color: white; font-size: 20px; text-align: center">
      <div class="col-12 align-center">
        <p style="font-size: 20px; font-weight: bold">{{ page.project_info }}</p>
        <button style="margin: 20px 10px 0 0" href="#" class="btn btn-primary btn btn-outline-light">Download v{{ page.latest_version }}<i class="fa-download fa btn-icon"></i></button>
        <button style="margin-top: 20px" href="#" class="btn btn-primary btn btn-outline-light">Get Started<i class="fa-info-circle fa btn-icon"></i></button>
      </div>
    </div>
  </div>
</div>
