<div class="row">
    <div class="col-12 slider slider-{{ page.project_class }}">
        <div class="container">
            <div class="row">
                <div class="col-12 slider-text align-middle">
                    <table class="d-none d-md-block">
                      <tbody>
                        <tr>
                          <td>
                              <span style="font-size: 60px">{{ page.project_name }}</span><br>
                              <span style="font-size: 23px">{{ page.project_info }}</span>
                              <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">DOWNLOAD v{{ page.latest_version }}<i class="fa-download fa btn-icon"></i></button>
                              <button style="margin-top: 20px" href="#" class="btn btn-primary btn-lg btn-outline-light">GET STARTED<i class="fa-info-circle fa btn-icon"></i></button>
                            </td>
                          <td class="slider-lg align-middle">
                            <img class="float-right" src="/assets/img/main-logo.png"/>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row narative">
    <div class="col-12">
        <div class="container">
            <!-- Narative 2 -->
            <div class="row">
                <div class="col-sm-12 narative">
                    <div class="card">
                        <div class="card-body narative">{{ page.project_top_narative }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
