<div class="users row">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="margin-bottom: 20px; color: white">USED BY</h2>
        </div>
        <div class="row">
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/redhatlogo.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/igindex.png" />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/logo-aws-white.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/dominoes.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/wildfly_white.png"   />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/ge.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/ThomsonReuters_Logo.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/cmcmarkets.png"  />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/betfair-logo-large-white.png"   />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/savoir.png"   />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/creditsuisse.png"   />
          </div>
          <div class="user-logo col-sm-4 col-md-2">
            <img src="/assets/img/customers/UBS-LOGO-WHITE.png"   />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
