<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ 5</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#mailing">Mailing Lists</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#chat">Chat</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#contributing">Contributing</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apache</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-cms">
    <div class="container">
      <h1>CMS Downloads</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 cms">
        <h3 id="latest-releases">Latest Releases</h3>

<p>The current stable release of the code is the <a href="395-release">ActiveMQ-CPP 3.9.5</a> Release.</p>

<h3 id="all-releases">All Releases</h3>

<ul>
  <li><a href="395-release">ActiveMQ-CPP 3.9.5 Release</a></li>
  <li><a href="394-release">ActiveMQ-CPP 3.9.4 Release</a></li>
  <li><a href="393-release">ActiveMQ-CPP 3.9.3 Release</a></li>
  <li><a href="392-release">ActiveMQ-CPP 3.9.2 Release</a></li>
  <li><a href="391-release">ActiveMQ-CPP 3.9.1 Release</a></li>
  <li><a href="390-release">ActiveMQ-CPP 3.9.0 Release</a></li>
  <li><a href="384-release">ActiveMQ-CPP 3.8.4 Release</a></li>
  <li><a href="383-release">ActiveMQ-CPP 3.8.3 Release</a></li>
  <li><a href="382-release">ActiveMQ-CPP 3.8.2 Release</a></li>
  <li><a href="381-release">ActiveMQ-CPP 3.8.1 Release</a></li>
  <li><a href="380-release">ActiveMQ-CPP 3.8.0 Release</a></li>
  <li><a href="371-release">ActiveMQ-CPP 3.7.1 Release</a></li>
  <li><a href="370-release">ActiveMQ-CPP 3.7.0 Release</a></li>
  <li><a href="360-release">ActiveMQ-CPP 3.6.0 Release</a></li>
  <li><a href="350-release">ActiveMQ-CPP 3.5.0 Release</a></li>
  <li><a href="345-release">ActiveMQ-CPP 3.4.5 Release</a></li>
  <li><a href="344-release">ActiveMQ-CPP 3.4.4 Release</a></li>
  <li><a href="343-release">ActiveMQ-CPP 3.4.3 Release</a></li>
  <li><a href="342-release">ActiveMQ-CPP 3.4.2 Release</a></li>
  <li><a href="341-release">ActiveMQ-CPP 3.4.1 Release</a></li>
  <li><a href="340-release">ActiveMQ-CPP 3.4.0 Release</a></li>
  <li><a href="330-release">ActiveMQ-CPP 3.3.0 Release</a></li>
  <li><a href="325-release">ActiveMQ-CPP 3.2.5 Release</a></li>
  <li><a href="324-release">ActiveMQ-CPP 3.2.4 Release</a></li>
  <li><a href="323-release">ActiveMQ-CPP 3.2.3 Release</a></li>
  <li><a href="322-release">ActiveMQ-CPP 3.2.2 Release</a></li>
  <li><a href="321-release">ActiveMQ-CPP 3.2.1 Release</a></li>
  <li><a href="320-release">ActiveMQ-CPP 3.2.0 Release</a></li>
  <li><a href="313-release">ActiveMQ-CPP 3.1.3 Release</a></li>
  <li><a href="312-release">ActiveMQ-CPP 3.1.2 Release</a></li>
  <li><a href="311-release">ActiveMQ-CPP 3.1.1 Release</a></li>
  <li><a href="310-release">ActiveMQ-CPP 3.1.0 Release</a></li>
  <li><a href="301-release">ActiveMQ-CPP 3.0.1 Release</a></li>
  <li><a href="30-release">ActiveMQ-CPP 3.0 Release</a></li>
  <li><a href="226-release">ActiveMQ-CPP 2.2.6 Release</a></li>
  <li><a href="225-release">ActiveMQ-CPP 2.2.5 Release</a></li>
  <li><a href="224-release">ActiveMQ-CPP 2.2.4 Release</a></li>
  <li><a href="223-release">ActiveMQ-CPP 2.2.3 Release</a></li>
  <li><a href="222-release">ActiveMQ-CPP 2.2.2 Release</a></li>
  <li><a href="221-release">ActiveMQ-CPP 2.2.1 Release</a></li>
  <li><a href="22-release">ActiveMQ CPP 2.2 Release</a></li>
  <li><a href="213-release">ActiveMQ-CPP 2.1.3 Release</a></li>
  <li><a href="libtool-and-packaging-notes">ActiveMQ-CPP, libtool and packaging notes</a></li>
  <li><a href="212-release">ActiveMQ-CPP 2.1.2 Release</a></li>
  <li><a href="211-release">ActiveMQ-CPP 2.1.1 Release</a></li>
  <li><a href="cms-api-12-release">CMS API 1.2 Release</a></li>
  <li><a href="21-release">ActiveMQ-CPP 2.1 Release</a></li>
  <li><a href="cms-api-11-release">CMS API 1.1 Release</a></li>
  <li><a href="201-release">ActiveMQ-CPP 2.0.1 Release</a></li>
  <li><a href="cms-api-10-release">CMS API 1.0 Release</a></li>
  <li><a href="20-release">ActiveMQ-CPP 2.0 Release</a></li>
  <li><a href="11-release">ActiveMQ-CPP 1.1 Release</a></li>
  <li><a href="10-release">ActiveMQ-CPP 1.0 Release</a></li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p>Apache ActiveMQ, ActiveMQ, ActiveMQ Artemis, Apache, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2019, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
