<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-cms">
    <div class="container">
      <h1>Configuring</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 cms">
        <h2 id="configuring-activemq-cpp">Configuring ActiveMQ-CPP</h2>

<p>The configuration of ActiveMQ is so slick, we decided to take a similar approach with ActiveMQ-CPP. All configuration is achieved via URI-encoded parameters, either on the connection or destinations. Through the URIs, you can configure virtually every facet of your ActiveMQ-CPP client. The tables below show the comprehensive set of parameters.</p>

<h3 id="connection-uri-parameters"><strong>Connection URI Parameters</strong></h3>

<h5 id="example-configuration"> Example Configuration</h5>

<p>This first example uses a standard TCP based transport.</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cf = new ActiveMQConnectionFactory(
    "tcp://localhost:61616?wireFormat=openwire&amp;wireFormat.tightEncodingEnabled=true");
</code></pre></div></div>
<p>For a more reliable connection use the Failover Transport and configure in alternate locations to connect to.</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cf = new ActiveMQConnectionFactory(
    "failover://(tcp://localhost:61616,tcp://anotherhost:61616)?connection.useAsyncSend=true");
</code></pre></div></div>
<h3 id="protocol-options">Protocol Options</h3>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>tcp</td>
      <td>Uses TCP/IP Sockets to connect to the broker.</td>
    </tr>
    <tr>
      <td>ssl</td>
      <td>Uses OpenSSL to secure TCP/IP sockets. <strong>(Since v3.2.0)</strong></td>
    </tr>
    <tr>
      <td>failover</td>
      <td>Composite of other Transports, when a Transport connection fails, the Failover Transport connects to the next Transport in the list or retries the connection to the failed broker URI.</td>
    </tr>
  </tbody>
</table>

<h4 id="socket-options"><strong>Socket Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>inputBufferSize</td>
      <td>10000</td>
      <td>The number of bytes in the buffered input stream’s buffer</td>
    </tr>
    <tr>
      <td>outputBufferSize</td>
      <td>10000</td>
      <td>The number of bytes in the buffered output stream’s buffer</td>
    </tr>
    <tr>
      <td>soLinger</td>
      <td>0</td>
      <td>Socket SOLinger value</td>
    </tr>
    <tr>
      <td>soKeepAlive</td>
      <td>false</td>
      <td>Socket SOKeepAlive value</td>
    </tr>
    <tr>
      <td>soReceiveBufferSize</td>
      <td>-1</td>
      <td>Socket receive buffer. If -1, use OS default.</td>
    </tr>
    <tr>
      <td>soSendBufferSize</td>
      <td>-1</td>
      <td>Socket send buffer. If -1, use OS default.</td>
    </tr>
    <tr>
      <td>soConnectTimeout</td>
      <td>-1</td>
      <td>Socket connection timeout in microseconds. If -1, use OS default. <strong>(Since ActiveMQ-CPP 2.2)</strong></td>
    </tr>
    <tr>
      <td>tcpNoDelay</td>
      <td>true</td>
      <td>Sets the Socket level TCP_NODELAY option</td>
    </tr>
  </tbody>
</table>

<h4 id="general-transport-options"><strong>General Transport Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>transport.commandTracingEnabled</td>
      <td>false</td>
      <td>If true, enables tracing of incoming and outgoing transport commands</td>
    </tr>
    <tr>
      <td>transport.tcpTracingEnabled</td>
      <td>false</td>
      <td>If true, enables tracing of raw network IO (in hex)</td>
    </tr>
    <tr>
      <td>transport.useAsyncSend</td>
      <td>false</td>
      <td>If true, enables asynchronous sending of messages. <strong>*WARNING: Using this could result in a loss of data if messages are pending and the client is shut down or crashes.</strong>* <strong>(Deprecated Since ActiveMQ-CPP 2.2.2 has no effect as of this release, use connection.useAsyncSend instead)</strong></td>
    </tr>
    <tr>
      <td>transport.ResponseCorrelator.maxResponseWaitTime</td>
      <td>3000</td>
      <td>Milliseconds to wait for responses from the broker. <strong>(Removed as of ActiveMQ-CPP 2.2.1, use connection.sendTimeout instead)</strong></td>
    </tr>
  </tbody>
</table>

<h4 id="failover-transport-options"><strong>Failover Transport Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>initialReconnectDelay</td>
      <td>10</td>
      <td>How long to wait if the initial attempt to connect to the broker fails.</td>
    </tr>
    <tr>
      <td>maxReconnectDelay</td>
      <td>30000</td>
      <td>Maximum time that the transport waits before trying to connect to the Broker again.</td>
    </tr>
    <tr>
      <td>useExponentialBackOff</td>
      <td>true</td>
      <td>Should the delay between connection attempt grow on each try up to the max reconnect delay</td>
    </tr>
    <tr>
      <td>maxReconnectAttempts</td>
      <td>0</td>
      <td>Max number of times to attempt to reconnect before failing the transport, default is forever (0).</td>
    </tr>
    <tr>
      <td>startupMaxReconnectAttempts</td>
      <td>0</td>
      <td>Max number of times to attempt to reconnect before failing the transport, default is forever (0). Only applies during the initial attempt to connect, after one successful connection the <em>maxReconnectAttempts</em> flag applies from then on. <strong>(Since v3.2.0)</strong></td>
    </tr>
    <tr>
      <td>randomize</td>
      <td>true</td>
      <td>Should the transport attempt to connect to the listed Broker URI’s in Random order.</td>
    </tr>
    <tr>
      <td>backup</td>
      <td>false</td>
      <td>Should the Failover transport maintain hot backups.</td>
    </tr>
    <tr>
      <td>backupPoolSize</td>
      <td>1</td>
      <td>If enabled, how many hot backup connections are made.</td>
    </tr>
    <tr>
      <td>timeout</td>
      <td>-1</td>
      <td>If a send is blocked waiting on a failed connection to reconnect how long should it wait before failing the send, default is forever (-1).</td>
    </tr>
  </tbody>
</table>

<h4 id="transaction-options"><strong>Transaction Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>transaction.maxRedeliveryCount</td>
      <td>5</td>
      <td>Maximum number of redelivery attempts. <strong>(Removed in v3.2.0, see instead Connection Redelivery Policy)</strong></td>
    </tr>
  </tbody>
</table>

<h4 id="connection-options"><strong>Connection Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>connection.sendTimeout</td>
      <td>0</td>
      <td>Time to wait on Message Sends for a Response, default value of zero indicates to wait forever. Waiting forever allows the broker to have flow control over messages coming from this client if it is a fast producer or there is no consumer such that the broker would run out of memory if it did not slow down the producer. <strong>Does not affect Stomp clients as the sends are ack’d by the broker.</strong> <strong>(Since ActiveMQ-CPP 2.2.1)</strong></td>
    </tr>
    <tr>
      <td>connection.producerWindowSize</td>
      <td>0</td>
      <td>The ProducerWindowSize is the maximum number of bytes in memory that a producer will transmit to a broker before waiting for acknowledgement messages from the broker that it has accepted the previously sent messages. In other words, this how you configure the producer flow control window that is used for async sends where the client is responsible for managing memory usage. The default value of 0 means no flow control at the client. See also <a href="http://activemq.apache.orgFeatures/Message Dispatching FeaturesFeatures/Message Dispatching Features/Features/Message Dispatching Features/producer-flow-control.md">Producer Flow Control</a>. <strong>This option only affects Openwire clients as Stomp does not have a means of notifying the clients of accepted messages asynchronously</strong>. <strong>(Since ActiveMQ-CPP 2.2.2)</strong></td>
    </tr>
    <tr>
      <td>connnection.closeTimeout</td>
      <td>15000</td>
      <td>The amount of time to wait for a response from the broker when shutting down. Normally we want a response to indicate that the client has been disconnected cleanly, but we don’t want to wait forever, however if you do, set this to zero. <strong>(Since ActiveMQ-CPP 2.2.1)</strong></td>
    </tr>
    <tr>
      <td>connection.useAsyncSend</td>
      <td>false</td>
      <td>Forces the use of Async Sends which adds a massive performance boost; but means that the send() method will return immediately whether the message has been sent or not which could lead to message loss. Normally only Persistant messages that are not part of a transaction are sent synchronously, using this options forces those messages to also be async. <strong>(</strong><strong>Since ActiveMQ-CPP 2.2.2</strong><strong>)</strong></td>
    </tr>
    <tr>
      <td>connection.alwaysSyncSend</td>
      <td>false</td>
      <td>Forces all messages that are sent to be sent synchronously overriding any usage of the useAsyncSend flag. This can reduce performance in some cases since the only messages we normally send synchronously are Persistent messages not sent in a transaction. This options guarantees that no send will return until the broker has acknowledge receipt of the message. <strong>(</strong><strong>Since ActiveMQ-CPP 2.2.2</strong><strong>)</strong></td>
    </tr>
    <tr>
      <td>connection.useCompression</td>
      <td>false</td>
      <td>Should outgoing messages have their body portion compressed using the ZLib compression algorithms <strong>(Since v3.2.0)</strong></td>
    </tr>
    <tr>
      <td>connection.dispatchAsync</td>
      <td>true</td>
      <td>Should the broker <a href="http://activemq.apache.orgFeatures/Consumer FeaturesFeatures/Consumer Features/Features/Consumer Features/consumer-dispatch-async.md">dispatch messages asynchronously</a> to the consumer, this causes all consumers from this Connection to use this setting. <strong>(Since v3.2.0)</strong></td>
    </tr>
  </tbody>
</table>

<h5 id="connection-policy-options"><strong>Connection Policy Options</strong></h5>

<p>As of version 3.2.0 the Connection object supports policies that control various aspects its behaviour and of the Consumer objects it creates.</p>

<h6 id="prefetch-policy">Prefetch Policy</h6>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cms.PrefetchPolicy.durableTopicPrefetch</td>
      <td>100</td>
      <td>Max prefetch for Durable Topics</td>
    </tr>
    <tr>
      <td>cms.PrefetchPolicy.queueBrowserPrefetch</td>
      <td>500</td>
      <td>Max prefetch for a Queue Browser</td>
    </tr>
    <tr>
      <td>cms.PrefetchPolicy.queuePrefetch</td>
      <td>1000</td>
      <td>Max prefetch for a Queue or Temp Queue</td>
    </tr>
    <tr>
      <td>cms.PrefetchPolicy.topicPrefetch</td>
      <td>65535</td>
      <td>Max prefetch for a Topic or Temp Topic</td>
    </tr>
  </tbody>
</table>

<h6 id="redelivery-policy">Redelivery Policy</h6>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cms.RedeliveryPolicy.backOffMultiplier</td>
      <td>5.0</td>
      <td>Used to extend the redelivery window when the _useExponentialBackOff option is enabled.</td>
    </tr>
    <tr>
      <td>cms.RedeliveryPolicy.collisionAvoidancePercent</td>
      <td>15</td>
      <td>Percentage of randomness to add to redelivery backoff to keep multiple consumers in a rollback from redelivering at the same time.</td>
    </tr>
    <tr>
      <td>cms.RedeliveryPolicy.initialRedeliveryDelay</td>
      <td>1000</td>
      <td>Amount of time to wait before starting redeliveries, in milliseconds.</td>
    </tr>
    <tr>
      <td>cms.RedeliveryPolicy.maximumRedeliveries</td>
      <td>6</td>
      <td>Maximum number of time to attempt a redelivery before giving up and NAck’ing the message.</td>
    </tr>
    <tr>
      <td>cms.RedeliveryPolicy.useCollisionAvoidance</td>
      <td>false</td>
      <td>Should the Random avoidance percentage be added into the redelivery delay.</td>
    </tr>
    <tr>
      <td>cms.RedeliveryPolicy.useExponentialBackOff</td>
      <td>false</td>
      <td>Should redeliveries be slowed on each cycle.</td>
    </tr>
  </tbody>
</table>

<h4 id="wire-format-protocol-options"><strong>Wire Format Protocol Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>wireFormat</td>
      <td>openwire</td>
      <td>Selects the wire format to use. Out of the box, can be either stomp or openwire.</td>
    </tr>
    <tr>
      <td>wireFormat.stackTraceEnabled</td>
      <td>false</td>
      <td>Should the stack trace of exception that occur on the broker be sent to the client? Only used by openwire protocol.</td>
    </tr>
    <tr>
      <td>wireFormat.cacheEnabled</td>
      <td>false</td>
      <td>Should commonly repeated values be cached so that less marshalling occurs? Only used by openwire protocol.</td>
    </tr>
    <tr>
      <td>wireFormat.tcpNoDelayEnabled</td>
      <td>true</td>
      <td>Does not affect the wire format, but provides a hint to the peer that TCP nodelay should be enabled on the communications Socket. Only used by openwire protocol.</td>
    </tr>
    <tr>
      <td>wireFormat.sizePrefixDisabled</td>
      <td>false</td>
      <td>Should serialized messages include a payload length prefix? Only used by openwire protocol.</td>
    </tr>
    <tr>
      <td>wireFormat.tightEncodingEnabled</td>
      <td>false</td>
      <td>Should wire size be optimized over CPU usage? Only used by the openwire protocol.</td>
    </tr>
    <tr>
      <td>wireFormat.maxInactivityDuration</td>
      <td>30000</td>
      <td>The maximum inactivity duration (before which the socket is considered dead) in milliseconds. On some platforms it can take a long time for a socket to appear to die, so we allow the broker to kill connections if they are inactive for a period of time. Use by some transports to enable a keep alive heart beat feature. Set to a value &lt;= 0 to disable inactivity monitoring.</td>
    </tr>
    <tr>
      <td>maxInactivityDurationInitalDelay</td>
      <td>10000</td>
      <td>The initial delay in starting the maximum inactivity checks (and, yes, the word ‘Inital’ is supposed to be misspelled like that)</td>
    </tr>
  </tbody>
</table>

<h3 id="destination-uri-parameters"><strong>Destination URI Parameters</strong></h3>

<h5 id="example-configuration-1">Example Configuration</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>d = session-&gt;createTopic("com.foo?consumer.prefetchSize=2000&amp;consumer.noLocal=true");
</code></pre></div></div>
<h4 id="general-options"><strong>General Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>consumer.prefetchSize</td>
      <td>1000</td>
      <td>The number of message the consumer will <a href="http://activemq.apache.orgCommunity/FAQ/Using Apache ActiveMQCommunity/FAQ/Using Apache ActiveMQ/Community/FAQ/Using Apache ActiveMQ/what-is-the-prefetch-limit-for.md">prefetch</a>.</td>
    </tr>
    <tr>
      <td>consumer.maximumPendingMessageLimit</td>
      <td>0</td>
      <td>Use to control if messages are dropped if a <a href="http://activemq.apache.orgFeatures/Consumer FeaturesFeatures/Consumer Features/Features/Consumer Features/slow-consumer-handling.md">slow consumer</a> situation exists.</td>
    </tr>
    <tr>
      <td>consumer.noLocal</td>
      <td>false</td>
      <td>Same as the noLocal flag on a Topic consumer. Exposed here so that it can be used with a queue.</td>
    </tr>
    <tr>
      <td>consumer.dispatchAsync</td>
      <td>false</td>
      <td>Should the broker <a href="http://activemq.apache.orgFeatures/Consumer FeaturesFeatures/Consumer Features/Features/Consumer Features/consumer-dispatch-async.md">dispatch messages asynchronously</a> to the consumer.</td>
    </tr>
    <tr>
      <td>consumer.retroactive</td>
      <td>false</td>
      <td>Is this a <a href="http://activemq.apache.orgFeatures/Consumer FeaturesFeatures/Consumer Features/Features/Consumer Features/retroactive-consumer.md">Retroactive Consumer</a>.</td>
    </tr>
    <tr>
      <td>consumer.selector</td>
      <td>null</td>
      <td>JMS Selector used with the consumer.</td>
    </tr>
    <tr>
      <td>consumer.exclusive</td>
      <td>false</td>
      <td>Is this an <a href="http://activemq.apache.orgFeatures/Consumer Features/exclusive-consumer.md">Exclusive Consumer</a>.</td>
    </tr>
    <tr>
      <td>consumer.priority</td>
      <td>0</td>
      <td>Allows you to configure a <a href="http://activemq.apache.orgFeatures/Consumer FeaturesFeatures/Consumer Features/Features/Consumer Features/consumer-priority.md">Consumer Priority</a>.</td>
    </tr>
  </tbody>
</table>

<h4 id="openwire-only-options"><strong>OpenWire-only Options</strong></h4>

<table>
  <thead>
    <tr>
      <th>Option Name</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>consumer.browser</td>
      <td>false</td>
      <td> </td>
    </tr>
    <tr>
      <td>consumer.networkSubscription</td>
      <td>false</td>
      <td> </td>
    </tr>
    <tr>
      <td>consumer.optimizedAcknowledge</td>
      <td>false</td>
      <td>Enables an optimised acknowledgement mode where messages are acknowledged in batches rather than individually. Alternatively, you could use Session.DUPS_OK_ACKNOWLEDGE acknowledgement mode for the consumers which can often be faster. <strong>WARNING</strong> enabling this issue could cause some issues with auto-acknowledgement on reconnection</td>
    </tr>
    <tr>
      <td>consumer.noRangeAcks</td>
      <td>false</td>
      <td> </td>
    </tr>
    <tr>
      <td>consumer.retroactive</td>
      <td>false</td>
      <td>Sets whether or not retroactive consumers are enabled. Retroactive consumers allow non-durable topic subscribers to receive old messages that were published before the non-durable subscriber started.</td>
    </tr>
  </tbody>
</table>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
