<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apache</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-nms">
    <div class="container">
      <h1>NMS API Downloads</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 nms">
        <h2 id="200-03072021">2.0.0 (03/07/2021)</h2>

<h5 id="new-and-noteworthy">New and Noteworthy</h5>

<p>This release brings NMS 2.0 support.</p>

<h5 id="download-here">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-src.zip">Apache.NMS-2.0.0-src.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-src.zip.asc">Apache.NMS-2.0.0-src.zip.asc</a></td>
      <td>2.0.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-bin.zip">Apache.NMS-2.0.0-bin.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-bin.zip.asc">Apache.NMS-2.0.0-bin.zip.asc</a></td>
      <td>2.0.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Nuget Package</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/2.0.0/Apache.NMS.2.0.0.nupkg">Apache.NMS.2.0.0.nupkg</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/2.0.0/Apache.NMS.2.0.0.nupkg.asc">Apache.NMS.2.0.0.nupkg.asc</a></td>
      <td>2.0.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Documentation</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-docs.zip">Apache.NMS-2.0.0-docs.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/2.0.0/Apache.NMS-2.0.0-docs.zip.asc">Apache.NMS-2.0.0-docs.zip.asc</a></td>
      <td>2.0.0</td>
    </tr>
  </tbody>
</table>

<h5 id="git-tag-checkout">Git Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>git clone https://github.com/apache/activemq-nms-api.git
git checkout tags/2.0.0
</code></pre></div></div>

<h5 id="changelog">Changelog</h5>

<p>https://issues.apache.org/jira/browse/AMQNET-637</p>

<hr />

<h2 id="180-01072019">1.8.0 (01/07/2019)</h2>

<h5 id="new-and-noteworthy-1">New and Noteworthy</h5>

<p>This is a major release of the NMS API which adds .net standard 2.0 support, it also is the first apache release providing nuget packages.</p>

<h5 id="download-here-1">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-src.zip">Apache.NMS-1.8.0-src.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-src.zip.asc">Apache.NMS-1.8.0-src.zip.asc</a></td>
      <td>1.8.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-bin.zip">Apache.NMS-1.8.0-bin.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-bin.zip.asc">Apache.NMS-1.8.0-bin.zip.asc</a></td>
      <td>1.8.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Nuget Package</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/1.8.0/Apache.NMS.1.8.0.nupkg">Apache.NMS.1.8.0.nupkg</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/1.8.0/Apache.NMS.1.8.0.nupkg.asc">Apache.NMS.1.8.0.nupkg.asc</a></td>
      <td>1.8.0</td>
    </tr>
    <tr>
      <td>Apache.NMS Documentation</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-docs.zip">Apache.NMS-1.8.0-docs.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms-api/1.8.0/Apache.NMS-1.8.0-docs.zip.asc">Apache.NMS-1.8.0-docs.zip.asc</a></td>
      <td>1.8.0</td>
    </tr>
  </tbody>
</table>

<h5 id="git-tag-checkout-1">Git Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>git clone https://gitbox.apache.org/repos/asf/activemq-nms-api.git
git checkout tags/1.8.0
</code></pre></div></div>

<h5 id="changelog-1">Changelog</h5>

<p>https://issues.apache.org/jira/browse/AMQNET-565</p>

<p>https://issues.apache.org/jira/browse/AMQNET-588</p>

<hr />

<h2 id="171-09042015">1.7.1 (09/04/2015)</h2>

<h5 id="new-and-noteworthy-2">New and Noteworthy</h5>

<p>This is a minor release of the NMS API which adds a few minor fixes for NMS Providers operating in MSDTC Transactions.</p>

<h5 id="api-documentation">API Documentation</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-2">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms/1.7.0/Apache.NMS-1.7.1-src.zip">Apache.NMS-1.7.1-src.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.1-src.zip.asc">Apache.NMS-1.7.1-src.zip.asc</a></td>
      <td>1.7.1.3894</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="http://www.apache.org/dyn/closer.lua/activemq/apache-nms/1.7.0/Apache.NMS-1.7.1-bin.zip">Apache.NMS-1.7.1-bin.zip</a></td>
      <td><a href="http://www.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.1-bin.zip.asc">Apache.NMS-1.7.1-bin.zip.asc</a></td>
      <td>1.7.1.3894</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.7.1/
</code></pre></div></div>
<h5 id="changelog-2">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311201&amp;styleName=Html&amp;version=12329541">release notes</a></p>

<hr />

<h2 id="170-01082015">1.7.0 (01/08/2015)</h2>

<h5 id="new-and-noteworthy-3">New and Noteworthy</h5>

<p>This is a major release of the NMS API which adds some new APIs and fixes some minor bugs in the NMS API libraries common code.</p>

<ul>
  <li>Added IDisposable as a base of IDestination.</li>
  <li>Added some improvements to the Unit tests framework.</li>
  <li>Added some new provider names (AMQP and MQTT) to allow for future clients.</li>
</ul>

<h5 id="api-documentation-1">API Documentation</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-3">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.0-src.zip">Apache.NMS-1.7.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.0-src.zip.asc">Apache.NMS-1.7.0-src.zip.asc</a></td>
      <td>1.7.0.3635</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.0-bin.zip">Apache.NMS-1.7.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.7.0/Apache.NMS-1.7.0-bin.zip.asc">Apache.NMS-1.7.0-bin.zip.asc</a></td>
      <td>1.7.0.3635</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-1">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.7.0/
</code></pre></div></div>
<h5 id="changelog-3">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311201&amp;styleName=Html&amp;version=12325350">release notes</a></p>

<hr />

<h2 id="160-05242013">1.6.0 (05/24/2013)</h2>

<h5 id="new-and-noteworthy-4">New and Noteworthy</h5>

<p>This is a major release of the NMS API which adds some new APIs and fixes some minor bugs in the NMS API libraries common code.</p>

<ul>
  <li>Added Recover method to ISession.</li>
  <li>Added new events to ISession for Transaction begin, commit and rollback.</li>
  <li>Added method in IConnection to purge created Temp Destinations.</li>
</ul>

<h5 id="api-documentation-2">API Documentation</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-4">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.6.0/Apache.NMS-1.6.0-src.zip">Apache.NMS-1.6.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.6.0/Apache.NMS-1.6.0-src.zip.asc">Apache.NMS-1.6.0-src.zip.asc</a></td>
      <td>1.6.0.3061</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.6.0/Apache.NMS-1.6.0-bin.zip">Apache.NMS-1.6.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.6.0/Apache.NMS-1.6.0-bin.zip.asc">Apache.NMS-1.6.0-bin.zip.asc</a></td>
      <td>1.6.0.3061</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-2">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.6.0/
</code></pre></div></div>
<h5 id="changelog-4">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311201&amp;styleName=Html&amp;version=12315987">release notes</a></p>

<hr />

<h2 id="151-07062012">1.5.1 (07/06/2012)</h2>

<h5 id="new-and-noteworthy-5">New and Noteworthy</h5>

<p>This is a bugfix release of the NMS API there are no API changes in this release.</p>

<h5 id="nms-fixes">NMS fixes</h5>

<ul>
  <li>Fixes a bug that can cause the Message properties object to marshal to a byte array that is much larger than needed which adds unwanted overhead on the wire for marshaled Messages.</li>
</ul>

<h5 id="api-documentation-3">API Documentation</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-5">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.1-src.zip">Apache.NMS-1.5.1-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.1-src.zip.asc">Apache.NMS-1.5.1-src.zip.asc</a></td>
      <td>1.5.1.2739</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.1-bin.zip">Apache.NMS-1.5.1-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.1-bin.zip.asc">Apache.NMS-1.5.1-bin.zip.asc</a></td>
      <td>1.5.1.2739</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-3">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.5.1/
</code></pre></div></div>
<h5 id="changelog-5">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311201&amp;styleName=Html&amp;version=12315640">release notes</a></p>

<hr />

<h2 id="150-01102011">1.5.0 (01/10/2011)</h2>

<h5 id="new-and-noteworthy-6">New and Noteworthy</h5>

<p>This release adds some great new features to the NMS API.</p>

<h5 id="nms-api-updates">NMS API Updates</h5>

<ul>
  <li>New Optional .NET Transaction Specific Connection classes that allow a client to offer support for operations within MS .NET Distributed Transactions.</li>
</ul>

<h5 id="api-documentation-4">API Documentation</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-6">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.0-src.zip">Apache.NMS-1.5.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.0-src.zip.asc">Apache.NMS-1.5.0-src.zip.asc</a></td>
      <td>1.5.0.2194</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.0-bin.zip">Apache.NMS-1.5.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.5.0/Apache.NMS-1.5.0-bin.zip.asc">Apache.NMS-1.5.0-bin.zip.asc</a></td>
      <td>1.5.0.2194</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-4">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.5.0/
</code></pre></div></div>
<h5 id="changelog-6">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311201&amp;styleName=Html&amp;version=12315640">release notes</a></p>

<hr />

<h2 id="140-09102010">1.4.0 (09/10/2010)</h2>

<h5 id="new-and-noteworthy-7">New and Noteworthy</h5>

<p>This release adds some great new features to the NMS API and fixes several bugs found in the 1.3.0 release.  Some highlights for this release.</p>

<ul>
  <li>Improved URI handling in all NMS clients.</li>
  <li>Added a new SetBytes method to IMapMessage.</li>
  <li>Added a new MessageTransformer API.</li>
  <li>Many new Unit Tests added to the Test Suite.</li>
  <li>Many bug fixes.</li>
</ul>

<h5 id="api">API</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-7">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.4.0/Apache.NMS-1.4.0-src.zip">Apache.NMS-1.4.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.4.0/Apache.NMS-1.4.0-src.zip.asc">Apache.NMS-1.4.0-src.zip.asc</a></td>
      <td>1.4.0.2075</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.4.0/Apache.NMS-1.4.0-bin.zip">Apache.NMS-1.4.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.4.0/Apache.NMS-1.4.0-bin.zip.asc">Apache.NMS-1.4.0-bin.zip.asc</a></td>
      <td>1.4.0.2075</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-5">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.4.0/
</code></pre></div></div>
<h5 id="changelog-7">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/activemq/secure/ReleaseNote.jspa?projectId=11010&amp;styleName=Html&amp;version=12188">release notes</a></p>

<hr />

<h2 id="130-05142010">1.3.0 (05/14/2010)</h2>

<h5 id="new-and-noteworthy-8">New and Noteworthy</h5>

<p>This release adds some great new features to the NMS API and fixes several bugs found in the 1.2.0 release.  Some highlights for this release.</p>

<ul>
  <li>Improved API Documentation.</li>
  <li>Many new Unit Tests added to the Test Suite.</li>
  <li>Many bug fixes.</li>
</ul>

<h5 id="api-1">API</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-8">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="http://archive.apache.org/dist/activemq/apache-nms/1.3.0/Apache.NMS-1.3.0-src.zip">Apache.NMS-1.3.0-src.zip</a></td>
      <td><a href="http://archive.apache.org/dist/activemq/apache-nms/1.3.0/Apache.NMS-1.3.0-src.zip.asc">Apache.NMS-1.3.0-src.zip.asc</a></td>
      <td>1.3.0.1959</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="http://archive.apache.org/dist/activemq/apache-nms/1.3.0/Apache.NMS-1.3.0-bin.zip">Apache.NMS-1.3.0-bin.zip</a></td>
      <td><a href="http://archive.apache.org/dist/activemq/apache-nms/1.3.0/Apache.NMS-1.3.0-bin.zip.asc">Apache.NMS-1.3.0-bin.zip.asc</a></td>
      <td>1.3.0.1959</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-6">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.3.0/
</code></pre></div></div>
<h5 id="changelog-8">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/activemq/secure/ReleaseNote.jspa?projectId=11010&amp;styleName=Html&amp;version=12150">release notes</a></p>

<hr />

<h2 id="120-01152010">1.2.0 (01/15/2010)</h2>

<h5 id="new-and-noteworthy-9">New and Noteworthy</h5>

<p>This release adds some great new features to the NMS API and fixes several bugs found in the 1.1.0 release.  Some highlights for this release.</p>

<ul>
  <li>Addition of IConnectionMeteData to the Connection API.</li>
  <li>Addition of IQueueBrowser to the Session API.</li>
  <li>Improved API Documentation.</li>
  <li>New IStreamMessage interface.</li>
  <li>New IRedeliveryPolicy interface.</li>
  <li>Expanded IByteMessage interface to read/write primitive types.</li>
  <li>Many new Unit Tests added to the Test Suite.</li>
  <li>Many bug fixes.</li>
</ul>

<h5 id="api-2">API</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-9">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.2.0/Apache.NMS-1.2.0-src.zip">Apache.NMS-1.2.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.2.0/Apache.NMS-1.2.0-src.zip.asc">Apache.NMS-1.2.0-src.zip.asc</a></td>
      <td>1.2.0.1836</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.2.0/Apache.NMS-1.2.0-bin.zip">Apache.NMS-1.2.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.2.0/Apache.NMS-1.2.0-bin.zip.asc">Apache.NMS-1.2.0-bin.zip.asc</a></td>
      <td>1.2.0.1836</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-7">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/Apache.NMS/tags/1.2.0/
</code></pre></div></div>
<h5 id="changelog-9">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/activemq/secure/ReleaseNote.jspa?projectId=11010&amp;styleName=Html&amp;version=11815">release notes</a></p>

<hr />

<h2 id="110-07122009">1.1.0 (07/12/2009)</h2>

<h5 id="new-and-noteworthy-10">New and Noteworthy</h5>

<p>The 1.1.0 release is a major milestone for the Apache NMS project. It is the first official release of the main Apache.NMS project, and all provider implementation projects. Following are some highlights of this release:</p>

<ul>
  <li>Improved API Documentation.</li>
  <li>Many bug fixes.</li>
</ul>

<h5 id="api-3">API</h5>

<p>Refer to the API for this release <a href="nms-Index/Site/NavigationIndex/Site/Navigation/Index/Site/Navigation/api.md">here</a></p>

<h5 id="download-here-10">Download Here</h5>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature File</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apache.NMS Source code</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.1.0/Apache.NMS-1.1.0-src.zip">Apache.NMS-1.1.0-src.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.1.0/Apache.NMS-1.1.0-src.zip.asc">Apache.NMS-1.1.0-src.zip.asc</a></td>
      <td>1.1.0.1642</td>
    </tr>
    <tr>
      <td>Apache.NMS Binary Assemblies</td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.1.0/Apache.NMS-1.1.0-bin.zip">Apache.NMS-1.1.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/apache-nms/1.1.0/Apache.NMS-1.1.0-bin.zip.asc">Apache.NMS-1.1.0-bin.zip.asc</a></td>
      <td>1.1.0.1642</td>
    </tr>
  </tbody>
</table>

<h5 id="svn-tag-checkout-8">SVN Tag Checkout</h5>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-net/Apache.NMS/tags/1.1.0/
</code></pre></div></div>
<h5 id="changelog-10">Changelog</h5>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/activemq/secure/ReleaseNote.jspa?projectId=11010&amp;styleName=Html&amp;version=11814">release notes</a></p>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
