---
---

@import 'bootstrap/bootstrap';

nav {
  padding-top: 10px !important;
}

ul.navbar-nav {
  margin-top: 10px;
}

.content {
  margin-top: 78px;
  //width: 100%;
}

.container {
  padding: 0 10px 0 10px;
}

.container-artemis {
  padding: 0 10px 0 10px;
}

.container-artemis a {
  color: $purple !important;
}

.container-nms {
  padding: 0 10px 0 10px;
}

.container-nms a {
  color: $orange !important;
}

body {
       width: 100%;
       margin: 0%;
       overflow-x:hidden;
}

.slider {
    background-color: $primary;
    margin: auto;
    text-align: left !important;
    margin-bottom: 20px;
}

.logo {
  padding-left: 20px;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    color: black !important;
    margin-left: 20px;
    height: 50px;
    padding-top: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.get-started {
  background-color: $secondary;
  color: white !important;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-weight: bold;
}

a:hover {
    color: $secondary !important;
}

a.get-started:hover {
    color: $secondary !important;
    font-weight: bold;
    border: 2px solid $secondary;
    background-color: white;
}

.navbar {
  display: block;
  position: fixed;
}

.nav {
    border-bottom: 1px solid black;
}

.navbar {
    background-color: white;
}

.slider-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.slider-text-small {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

table.slider {
  height: 100%;
  max-width: 1024px;
}

.logo-sm {
  height: 150px !important;
}

.slider-sm {
  font-size: 20px;
  height: 300px
}

.slider-lg {
  height: 400px
}

.narative-alt {
  font-size: 1.2rem;
  color: white;
  padding: 10px !important;
  background-color: grey;
}

.narative-alt a {
  color: white !important;
  text-decoration: underline !important;
}

.narative {
  font-size: 1.2rem;
  color: grey;
  padding: 10px !important;
  background-color: white;
}

.feature-narative {
  font-size: 1rem;
  padding: 0px !important;
}

.project-narative {
  font-size: 1rem;
  padding: 0px !important;
}

.project-narative-alt {
  font-size: 1rem;
  //padding: 0px !important;
  background-color: #eee
}

.card {
  border: 0 !important;
  border-radius: 0 !important;
}
// Cards
.card-purple {
  border-left: 5px solid $purple !important;
  margin-bottom: 40px;
}

.card-purple-right {
  border-right: 5px solid $purple !important;
  margin-bottom: 40px;
}

.card-pink {
  border: 0 !important;
  border-left: 5px solid $pink !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-pink-right {
  border: 0 !important;
  border-right: 5px solid $pink !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-orange {
  border: 0 !important;
  border-left: 5px solid $orange !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-orange-right {
  border: 0 !important;
  border-right: 5px solid $orange !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-blue {
  border: 0 !important;
  border-left: 5px solid $blue !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-blue-right {
  border: 0 !important;
  border-right: 5px solid $blue !important;
  border-radius: 0 !important;
  margin-bottom: 40px;
}

.card-white {
  border: 0 !important;
  border-left: 5px solid white !important;
  border-radius: 0 !important;
  padding: 0 30px 0 30px !important;
}


.text-purple {
  color: $purple !important;
}

.text-pink {
  color: $pink !important;
}

.text-orange {
  color: $orange !important;
}

.text-blue {
  color: $blue !important;
}

.text-green {
  color: $green !important;
}

.text-white {
  color: white !important;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.btn-icon {
  margin-left: 10px;
}

.feature-img {
  text-align: center;
  padding: 20px;
  vertical-align: middle
}

.sitemap {
  background-color: grey;
  color: white !important;
  padding: 20px;
}

.sitemap a {
  color: white;
  text-decoration: none;
}

.sitemap li {
    list-style-type: none;
}

.sitemap ul {
  padding: 0px;
}

.users {
  background-color: $green;
  padding: 50px;
  text-align: center;
}

.users .container .container-artemis .container-nms{
  margin-bottom: 20px;
}

.user-logo {
  padding: 20px;
}

.user-logo > img {
  max-height: 50px;
  max-width: 120px;
}

.features {
  background-color: white;
  color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature-img > img {
  max-height: 150px;
  max-width: 250px;
}

.features .container .container-artemis .container-nms .card {
  background: none;
}


.features .narative {
  color: white;
  background-color: grey;
}

.feature-purple {
  background-color: $purple;
}

.feature-pink {
  background-color: $pink;
}

.feature-blue {
  background-color: $blue;
}

.feature-orange {
  background-color: $orange;
}

.card-title-purple {
  padding-top: 10px;
  border-top: 5px solid $purple;
}

.card-title-pink {
  padding-top: 10px;
  border-top: 5px solid $pink;
}

.card-title-orange {
  padding-top: 10px;
  border-top: 5px solid $orange;
}

.navbar {
  border-bottom: 1px solid black;
}

// Projects
.slider-artemis {
  background-color: $purple !important;
}

.page-title-main {
  background-color: $green !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-main p {
  margin-bottom: 0px !important;
}

.page-title-main h1 {
  font-size: 20px;
  font-weight: bold;
}

.page-title-artemis {
  background-color: $purple !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-artemis p {
  margin-bottom: 0px !important;
}

.page-title-artemis h1 {
  font-size: 20px;
  font-weight: bold;
}

.page-title-activemq5 {
  background-color: $pink !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-activemq5 p {
  margin-bottom: 0px !important;
}

.page-title-activemq5 a, .page-title-activemq5 a:hover, .page-title-activemq5 a:visited {
  color: #fff !important;
}

.page-title-activemq5 h1 {
  font-size: 20px;
  font-weight: bold;
}

.slider-activemq5 {
  background-color: $pink !important;
}

.slider-cms {
  background-color: $blue !important;
}

.slider-nms {
  background-color: $orange !important;
}

.page-title-activemq5 {
  background-color: $pink !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-activemq5 h1 {
  font-size: 20px;
  font-weight: bold;
}

.page-title-nms {
  background-color: $orange !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-nms h1 {
  font-size: 20px;
  font-weight: bold;
}

.page-title-cms {
  background-color: $blue !important;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title-cms h1 {
  font-size: 20px;
  font-weight: bold;
}

// Make default navbar links display block at choosen breakpoint and adjust styles to fit...
@media (max-width: 62em) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
    float: none;
  }
  .navbar-brand {
    float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

a.dropdown-item.active, a.dropdown-item:active, a.dropdown-item:hover:active {
  font-weight: bolder;
  background-color: white !important;
}

.dropdown-header {
  padding: 0.15rem 1rem;
}

.dropdown-menu {
  min-width: 200px;
  border: none !important;
}

@media (min-width: 992px) {
  .dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.dropdown-menu.columns-2 {
  min-width: 400px;
}
.dropdown-menu.columns-3 {
  min-width: 600px;
}
.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.page-title {
  background-color: $primary;
  color: white;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

.page-title h1 {
  font-size: 20px;
  font-weight: bold;
}

table {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}

table a {
  color: $pink;
}

.artemis a {
  color: $purple
}

.cms a {
  color: $blue
}

.nms a {
  color: $orange
}

.activemq5 a {
  color: $pink
}

.nms table, .nms th, .nms td, .nms tr {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.main th {
  background-color: rgba(0, 0, 0, 0.15);
}

.main h4 {
  color: $green !important;
}

.main blockquote {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.main pre {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px dashed $green;
}

.main table, .main th, .main td, .main tr {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.artemis th {
  background-color: rgba(0, 0, 0, 0.15);
}

.artemis h4 {
  color: $purple !important;
}

.artemis blockquote {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.artemis pre {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px dashed $purple;
}

.artemis table, .artemis th, .artemis td, .artemis tr {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.nms th {
  background-color: rgba(0, 0, 0, 0.15);
}

.nms blockquote {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.nms pre {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px dashed $orange;
}

.cms table, .cms th, .cms td, .cms tr {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.cms th {
  background-color: rgba(0, 0, 0, 0.15);
}

.cms blockquote {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.cms pre {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px dashed $blue;
}

.activemq5 table, .activemq5 th, .activemq5 td, .activemq5 tr {
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.activemq5 th {
  background-color: rgba(0, 0, 0, 0.15);
}

.activemq5 blockquote {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.activemq5 pre {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px dashed $pink;
}

.anchor { padding-top: 80px; }
