<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-classic">
    <div class="container">
      <h1>ActiveMQ Classic 5.9.1 Release</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 classic">
        <div class="alert alert-warning">
  This is an older release. To get the current release, please see the <a href="/components/classic/download" class="alert-link">download page</a>.
</div>

<p>Apache ActiveMQ Classic 5.9.1 resolves <a href="https://issues.apache.org/jira/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+AMQ+AND+fixVersion+%3D+%225.9.1%22+AND+status+%3D+Resolved+ORDER+BY+priority+DESC&amp;mode=hide">more than 120 issues</a>, mostly bug fixes and improvements. It has the following new features:</p>

<ul>
  <li><a href="replicated-Features/PersistenceFeatures/Persistence/Features/Persistence/leveldb-store">Replicated LevelDB Store</a> for shared nothing Master/Slave.</li>
  <li><a href="New Features/New Features in 5.9/runtime-Community/FAQ/configuration">Runtime Configuration</a></li>
  <li>Generic JMS XA connection pool in activemq-jms-pool module (has no ActiveMQ Classic dependency)</li>
  <li>MQTT over WebSockets support</li>
  <li><a href="FeaturesFeatures/Features/broker-camel-component"><strong>broker</strong></a> Apache Camel component</li>
  <li>Broker auto-restart upon losing master status</li>
  <li>AMQP Hardening</li>
  <li>LevelDB Hardening</li>
</ul>

<p>There are some changes in 5.9 that may require user intervention</p>

<ol>
  <li>Schema change to JDBC Persistence Adapter. XID column type change.</li>
</ol>

<ul>
  <li>If you use XA transactions you need to ensure there are no XA transactions pending completion before you upgrade. Some mode detail in <a href="https://issues.apache.org/jira/browse/AMQ-4628">AMQ-4628</a></li>
</ul>

<p>Note that the Hawtio console was removed in this release.</p>

<h2 id="getting-the-binary-distributions">Getting the Binary Distributions</h2>

<table>
  <tbody>
    <tr>
      <td>Description</td>
      <td>Download Link</td>
      <td>PGP Signature file of download</td>
    </tr>
    <tr>
      <td>Windows Distribution</td>
      <td><a href="http://www.apache.org/dyn/closer.cgi?path=/activemq/5.9.1/apache-activemq-5.9.1-bin.zip">apache-activemq-5.9.1-bin.zip</a></td>
      <td><a href="https://www.apache.org/dist/activemq/5.9.1/apache-activemq-5.9.1-bin.zip.asc">apache-activemq-5.9.1-bin.zip.asc</a></td>
    </tr>
    <tr>
      <td>Unix/Linux/Cygwin Distribution</td>
      <td><a href="http://www.apache.org/dyn/closer.cgi?path=/activemq/5.9.1/apache-activemq-5.9.1-bin.tar.gz">apache-activemq-5.9.1-bin.tar.gz</a></td>
      <td><a href="https://www.apache.org/dist/activemq/5.9.1/apache-activemq-5.9.1-bin.tar.gz.asc">apache-activemq-5.9.1-bin.tar.gz.asc</a></td>
    </tr>
  </tbody>
</table>

<h2 id="verify-the-integrity-of-downloads">Verify the Integrity of Downloads</h2>

<p>It is essential that you verify the integrity of the downloaded files using the PGP or MD5 signatures. The PGP signatures can be verified using PGP or GPG. Begin by following these steps:</p>

<ol>
  <li>Download the <a href="http://www.apache.org/dist/activemq/KEYS">KEYS</a></li>
  <li>Download the asc signature file for the relevant distribution</li>
  <li>Verify the signatures using the following commands, depending on your use of PGP or GPG:
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ pgpk -a KEYS
$ pgpv apache-activemq-&lt;version&gt;-bin.tar.gz.asc
</code></pre></div>    </div>
    <p>or</p>
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ pgp -ka KEYS
$ pgp apache-activemq-&lt;version&gt;-bin.tar.gz.asc
</code></pre></div>    </div>
    <p>or</p>
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ gpg --import KEYS
$ gpg --verify apache-activemq-&lt;version&gt;-bin.tar.gz.asc
</code></pre></div>    </div>
  </li>
</ol>

<p>(Where <version> is replaced with the actual version, e.g., 5.1.0, 5.2.0, etc.).</version></p>

<p>Alternatively, you can verify the MD5 signature on the files. A Unix program called <code class="language-plaintext highlighter-rouge">md5</code> or <code class="language-plaintext highlighter-rouge">md5sum</code> is included in most Linux and Unix distributions. It is also available as part of <a href="http://www.gnu.org/software/textutils/textutils.html">GNU Textutils</a>. Windows users can utilize any of the following md5 programs:</p>

<ul>
  <li><a href="http://www.fourmilab.ch/md5/">md5</a></li>
  <li><a href="http://www.pc-tools.net/win32/md5sums/">md5sums</a></li>
  <li><a href="http://www.slavasoft.com/fsum/">SlavaSoft FSUM</a></li>
</ul>

<h2 id="getting-the-binaries-using-maven-2">Getting the Binaries using Maven 2</h2>

<p>To use this release in your maven project, the proper dependency configuration that you should use in your <a href="http://maven.apache.org/guides/introduction/introduction-to-the-pom.html">Maven POM</a> is:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&lt;dependency&gt;
  &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
  &lt;artifactId&gt;activemq-all&lt;/artifactId&gt;
  &lt;version&gt;5.9.1&lt;/version&gt;
&lt;/dependency&gt;
</code></pre></div></div>

<h2 id="getting-the-source-code">Getting the Source Code</h2>

<h3 id="source-distributions">Source Distributions</h3>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>PGP Signature file of download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Source Release</td>
      <td><a href="http://www.apache.org/dyn/closer.cgi?path=/activemq/5.9.1/activemq-parent-5.9.1-source-release.zip">activemq-parent-5.9.1-source-release.zip</a></td>
      <td><a href="https://www.apache.org/dist/activemq/5.9.1/activemq-parent-5.9.1-source-release.zip.asc">activemq-parent-5.9.1-source-release.zip.asc</a></td>
    </tr>
  </tbody>
</table>

<h3 id="svn-tag-checkout">SVN Tag Checkout</h3>

<p>https://git-wip-us.apache.org/repos/asf?p=activemq.git;a=tag;h=refs/tags/activemq-5.9.1</p>

<h2 id="changelog">Changelog</h2>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&amp;version=12323932">release notes</a></p>

<p>Also see the previous <a href="classic-05-08-00">ActiveMQ Classic 5.8.0 Release</a></p>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
