<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-classic">
    <div class="container">
      <h1>ActiveMQ Classic 5.18.0 Release</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 classic">
        
<div class="alert alert-warning">
  This is an older release. To get the current release, please see the <a href="/components/classic/download" class="alert-link">download page</a>.
</div>

<p>Apache ActiveMQ Classic 5.18.0 was released on Mar 24th, 2023. It’s a major milestone for the ActiveMQ Classic.
ActiveMQ Classic 5.18.x brings:</p>
<ul>
  <li>It brings initial JMS 2.0 (javax.jms API namespace) and Jakarta Messaging 3.1 (jakarta.jms API namespace) client support. See the <a href="/components/classic/documentation/jms2">JMS 2.0 page</a> for more details on the available functionality and how to use the Jakarta Messaging support.</li>
  <li>Spring 5.3.x</li>
  <li>optimized LDAP use in LDAP JAAS login module</li>
  <li>improved REST API</li>
  <li>improved redelivery policy</li>
  <li>a lot of dependency updates</li>
  <li>and much more!</li>
</ul>

<p>You can find details on the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&amp;version=12351380">release notes</a>.</p>

<h3 id="getting-the-binary-distributions">Getting the Binary Distributions</h3>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th><em>Verify</em></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Windows Distribution</td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.zip">apache-activemq-5.18.0-bin.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.zip.asc">ASC</a>, <a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.zip.sha512">SHA512</a></td>
    </tr>
    <tr>
      <td>Unix/Linux/Cygwin Distribution</td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.tar.gz">apache-activemq-5.18.0-bin.tar.gz</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.tar.gz.asc">ASC</a>, <a href="https://archive.apache.org/dist/activemq/5.18.0/apache-activemq-5.18.0-bin.tar.gz.sha512">SHA512</a></td>
    </tr>
  </tbody>
</table>

<p>Java compatibility: <strong>11+</strong></p>

<h2 id="verify-the-integrity-of-downloads">Verify the Integrity of Downloads</h2>

<p>It is essential that you verify the integrity of the downloaded files using the ASC signature or SHA checksum.</p>

<p>The ASC signatures can be verified using PGP or GPG. Begin by following these steps:</p>

<ol>
  <li>Download the <a href="https://downloads.apache.org/activemq/KEYS">KEYS</a> file.</li>
  <li>Download the <code class="language-plaintext highlighter-rouge">.asc</code> signature for the relevant distribution file.</li>
  <li>Verify the signature.
    <ul>
      <li>If using GPG:
        <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code> $ gpg --import KEYS
 $ gpg --verify &lt;file-name&gt;.asc &lt;file-name&gt;
</code></pre></div>        </div>
      </li>
      <li>If using PGP:
        <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code> $ pgp -ka KEYS
 $ pgp &lt;file-name&gt;.asc
</code></pre></div>        </div>
      </li>
    </ul>
  </li>
</ol>

<p>Alternatively you can [also] verify the SHA-512 checksum of the file. For example, using the <code class="language-plaintext highlighter-rouge">sha512sum</code> command:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ sha512sum -c &lt;file-name&gt;.sha512
</code></pre></div></div>

<h2 id="getting-the-binaries-using-maven-3">Getting the Binaries using Maven 3</h2>

<p>To use this release in your maven project, the simplest dependency that you can use in your <a href="http://maven.apache.org/guides/introduction/introduction-to-the-pom.html">Maven POM</a> is:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&lt;dependency&gt;
  &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
  &lt;artifactId&gt;activemq-all&lt;/artifactId&gt;
  &lt;version&gt;5.18.0&lt;/version&gt;
&lt;/dependency&gt;
</code></pre></div></div>
<p>If you need more fine grained control of your dependencies (activemq-all is an uber jar) pick and choose from the various components activemq-client, activemq-broker, activemq-xx-store etc.</p>

<h2 id="getting-the-source-code">Getting the Source Code</h2>

<h3 id="source-distributions">Source Distributions</h3>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Download Link</th>
      <th>Verify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Source Release</td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/activemq-parent-5.18.0-source-release.zip">activemq-parent-5.18.0-source-release.zip</a></td>
      <td><a href="https://archive.apache.org/dist/activemq/5.18.0/activemq-parent-5.18.0-source-release.zip.asc">ASC</a>, <a href="https://archive.apache.org/dist/activemq/5.18.0/activemq-parent-5.18.0-source-release.zip.sha512">SHA512</a></td>
    </tr>
  </tbody>
</table>

<h2 id="change-log">Change Log</h2>

<p>For a more detailed view of new features and bug fixes, see the <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&amp;version=12351380">release notes</a></p>

<p>Also see the previous <a href="/components/classic/download/classic-05-17-07">ActiveMQ Classic 5.17.7 Release</a></p>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
