<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-classic">
    <div class="container">
      <h1>Download ActiveMQ Classic</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 classic">
        <p>These are the current ActiveMQ Classic releases. For prior releases, please see the <a href="../documentation/download-archives">past releases</a> page.</p>

<p>It is important to <a href="#verify-the-integrity-of-downloads">verify the integrity</a> of the files you download.</p>

<h4 id="summary-table-of-activemq-series-status">Summary Table of ActiveMQ Series Status</h4>

<table>
  <thead>
    <tr>
      <th>Series</th>
      <th>Status</th>
      <th>Latest Patch Version</th>
      <th>Date of Release</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: #dff0d8;">
      <td>6.2.x</td>
      <td>In Dev</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr style="background-color: #dff0d8;">
      <td>6.1.x</td>
      <td><strong>Stable - Supported</strong></td>
      <td>6.1.5</td>
      <td>Jan 13th, 2025</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>6.0.x</td>
      <td><em>Deprecated</em></td>
      <td>6.0.1</td>
      <td>Dec 3rd, 2023</td>
    </tr>
    <tr style="background-color: #dff0d8;">
      <td>5.18.x</td>
      <td><strong>Stable - Supported</strong></td>
      <td>5.18.6</td>
      <td>Oct 2nd, 2024</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.17.x</td>
      <td><em>Deprecated</em></td>
      <td>5.17.6</td>
      <td>Oct 25th, 2023</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.16.x</td>
      <td><em>Deprecated</em></td>
      <td>5.16.7</td>
      <td>Oct 26th, 2023</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.15.x</td>
      <td><em>Deprecated</em></td>
      <td>5.15.16</td>
      <td>Oct 26th, 2023</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.14.x</td>
      <td><em>Deprecated</em></td>
      <td>5.14.5</td>
      <td>Apr 25th, 2017</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.13.x</td>
      <td><em>Deprecated</em></td>
      <td>5.13.5</td>
      <td>Dec 16th, 2016</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.12.x</td>
      <td><em>Deprecated</em></td>
      <td>5.12.3</td>
      <td>Feb 3rd, 2016</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.11.x</td>
      <td><em>Deprecated</em></td>
      <td>5.11.4</td>
      <td>Feb 3rd, 2016</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
      <td>5.10.x</td>
      <td><em>Deprecated</em></td>
      <td>5.10.2</td>
      <td>Feb 13th, 2016</td>
    </tr>
  </tbody>
</table>

<h5 id="status-descriptions">Status Descriptions</h5>

<div style="margin-top: 15px;">
  <strong>In Dev</strong>: Actively in development with new features and improvements in progress. This version may not yet be fully stable for production environments.
</div>

<div style="margin-top: 10px;">
  <strong>Stable - Supported</strong>: Actively supported and recommended for production use. This version receives regular updates, including new features, security patches, and bug fixes.
</div>

<div style="margin-top: 10px;">
  <strong>Deprecated</strong>: Reached end-of-life and is no longer maintained. Deprecated versions do not receive updates. Not recommended for new deployments; users are encouraged to upgrade to a stable version for ongoing support.
</div>

<h4 id="schedule--status">Schedule &amp; Status</h4>

<table>
  <thead>
    <tr>
      <th>Series</th>
      <th>Broker JMS API Support</th>
      <th>Client JMS API Client</th>
      <th>Java Version</th>
      <th>Spring Version</th>
      <th>Logging Support</th>
      <th>Web Support</th>
      <th>Status</th>
      <th>Last</th>
      <th>Next</th>
      <th>ETA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6.2.x</td>
      <td>Jakarta JMS 2/3.1 (partial)</td>
      <td>Jakarta JMS 2/3.1</td>
      <td>17+</td>
      <td>6.2.0</td>
      <td>Log4j 2.24.1/Slf4j 2.0.13</td>
      <td>Jetty 11.0.24</td>
      <td>In dev</td>
      <td> </td>
      <td> </td>
      <td>Dec  24</td>
    </tr>
    <tr>
      <td>6.1.x</td>
      <td>Jakarta JMS 2/3.1 (partial)</td>
      <td>Jakarta JMS 2/3.1</td>
      <td>17+</td>
      <td>6.1.16</td>
      <td>Log4j 2.24.1/Slf4j 2.0.13</td>
      <td>Jetty 11.0.24</td>
      <td><strong>Stable - Supported</strong></td>
      <td>6.1.5</td>
      <td>6.1.6</td>
      <td>Mar  25</td>
    </tr>
    <tr>
      <td>6.0.x</td>
      <td>Jakarta JMS 2/3.1 (partial)</td>
      <td>Jakarta JMS 2/3.1</td>
      <td>17+</td>
      <td>6.0.17</td>
      <td>Log4j 2.22.0/Slf4j 2.0.9</td>
      <td>Jetty 11.0.18</td>
      <td><em>Not Active</em></td>
      <td>6.0.1</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.18.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1/Jakarta JMS 2</td>
      <td>11+</td>
      <td>5.3.39</td>
      <td>Log4j 2.24.1/Slf4j 2.0.13</td>
      <td>Jetty 9.4.56.v20240826</td>
      <td><strong>Stable - Supported</strong></td>
      <td>5.18.6</td>
      <td>5.18.7</td>
      <td>Dec  24</td>
    </tr>
    <tr>
      <td>5.17.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>11+</td>
      <td>5.3.30</td>
      <td>Log4j 2.20.0/Slf4j 1.7.36</td>
      <td>Jetty 9.4.53.v20231009</td>
      <td><em>Deprecated</em></td>
      <td>5.17.6</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.16.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.8</td>
      <td>4.3.30.RELEASE</td>
      <td>Reload4j 1.2.24/Slf4j 1.7.26</td>
      <td>Jetty 9.4.50.v20221201</td>
      <td><em>Deprecated</em></td>
      <td>5.16.7</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.15.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.8</td>
      <td>4.3.30.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.32</td>
      <td>Jetty 9.4.39.v20210325</td>
      <td><em>Deprecated</em></td>
      <td>5.15.16</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.14.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.7</td>
      <td>4.1.9.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.13</td>
      <td>Jetty 9.2.13.v20150730</td>
      <td><em>Deprecated</em></td>
      <td>5.14.5</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.13.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.7</td>
      <td>4.1.9.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.13</td>
      <td>Jetty 9.2.13.v20150730</td>
      <td><em>Deprecated</em></td>
      <td>5.13.5</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.12.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.7</td>
      <td>3.2.16.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.10</td>
      <td>Jetty 9.2.6.v20141205</td>
      <td><em>Deprecated</em></td>
      <td>5.12.3</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.11.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.7</td>
      <td>3.2.16.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.10</td>
      <td>Jetty 9.2.6.v20141205</td>
      <td><em>Deprecated</em></td>
      <td>5.11.4</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>5.10.x</td>
      <td>Javax JMS 1.1</td>
      <td>Javax JMS 1.1</td>
      <td>1.6</td>
      <td>3.2.8.RELEASE</td>
      <td>Log4j 1.2.17/Slf4j 1.7.5</td>
      <td>Jetty 7.6.9.v20130131</td>
      <td><em>Deprecated</em></td>
      <td>5.10.2</td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>

<h4 id="activemq-classic-615-jan-13th-2025">ActiveMQ Classic 6.1.5 (Jan 13th, 2025)</h4>
<p><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&amp;version=12355276">Release Notes</a> | <a href="/components/classic/download/classic-06-01-05">Release Page</a> | <a href="../documentation">Documentation</a> | Java compatibility: <strong>17+</strong></p>

<table>
  <tbody>
    <tr>
      <td>Windows</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/6.1.5/apache-activemq-6.1.5-bin.zip&amp;action=download">apache-activemq-6.1.5-bin.zip</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/apache-activemq-6.1.5-bin.zip.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/apache-activemq-6.1.5-bin.zip.asc">GPG Signature</a></td>
    </tr>
    <tr>
      <td>Unix/Linux/Cygwin</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/6.1.5/apache-activemq-6.1.5-bin.tar.gz&amp;action=download">apache-activemq-6.1.5-bin.tar.gz</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/apache-activemq-6.1.5-bin.tar.gz.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/apache-activemq-6.1.5-bin.tar.gz.asc">GPG Signature</a></td>
    </tr>
    <tr>
      <td>Source Code Distribution:</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/6.1.5/activemq-parent-6.1.5-source-release.zip&amp;action=download">activemq-parent-6.1.5-source-release.zip</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/activemq-parent-6.1.5-source-release.zip.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/6.1.5/activemq-parent-6.1.5-source-release.zip.asc">GPG Signature</a></td>
    </tr>
  </tbody>
</table>

<h4 id="activemq-classic-5186-oct-2nd-2024">ActiveMQ Classic 5.18.6 (Oct 2nd, 2024)</h4>
<p><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&amp;version=12354938">Release Notes</a> | <a href="/components/classic/download/classic-05-18-06">Release Page</a> | <a href="../documentation">Documentation</a> | Java compatibility: <strong>11+</strong></p>

<table>
  <tbody>
    <tr>
      <td>Windows</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/5.18.6/apache-activemq-5.18.6-bin.zip&amp;action=download">apache-activemq-5.18.6-bin.zip</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/apache-activemq-5.18.6-bin.zip.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/apache-activemq-5.18.6-bin.zip.asc">GPG Signature</a></td>
    </tr>
    <tr>
      <td>Unix/Linux/Cygwin</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/5.18.6/apache-activemq-5.18.6-bin.tar.gz&amp;action=download">apache-activemq-5.18.6-bin.tar.gz</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/apache-activemq-5.18.6-bin.tar.gz.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/apache-activemq-5.18.6-bin.tar.gz.asc">GPG Signature</a></td>
    </tr>
    <tr>
      <td>Source Code Distribution:</td>
      <td><a href="https://www.apache.org/dyn/closer.cgi?filename=/activemq/5.18.6/activemq-parent-5.18.6-source-release.zip&amp;action=download">activemq-parent-5.18.6-source-release.zip</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/activemq-parent-5.18.6-source-release.zip.sha512">SHA512</a></td>
      <td><a href="https://downloads.apache.org/activemq/5.18.6/activemq-parent-5.18.6-source-release.zip.asc">GPG Signature</a></td>
    </tr>
  </tbody>
</table>

<p><br /></p>

<hr />

<h4 id="verify-the-integrity-of-downloads">Verify the Integrity of Downloads</h4>

<p>It is essential that you verify the integrity of the downloaded files using the PGP signature or SHA checksum.</p>

<p>The PGP signatures can be verified using PGP or GPG. Begin by following these steps:</p>

<ol>
  <li>Download the <a href="https://downloads.apache.org/activemq/KEYS">KEYS</a> file.</li>
  <li>Download the .asc signature for the relevant distribution file.</li>
  <li>Verify the signature using one the following sets of commands, depending on your use of PGP or GPG:
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ gpg --import KEYS
$ gpg --verify &lt;file-name&gt;.asc &lt;file-name&gt;

$ pgpk -a KEYS
$ pgpv &lt;file-name&gt;.asc

$ pgp -ka KEYS
$ pgp &lt;file-name&gt;.asc
</code></pre></div>    </div>
  </li>
</ol>

<p>Alternatively you can [also] verify the SHA-512 checksum of the file. For example, using the <code class="language-plaintext highlighter-rouge">sha512sum</code> command:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ sha512sum -c &lt;file-name&gt;.sha512
</code></pre></div></div>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
