<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="#"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ 5</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#mailing">Mailing Lists</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#chat">Chat</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contact#contributing">Contributing</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apache</a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories.html">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-nms">
    <div class="container">
      <h1>Building NMS</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 nms">
        <p>Currently our main build tool for NMS is <a href="http://nant.sourceforge.net/">NAnt</a>.</p>

<p>Setup For *NIX Users</p>

<ul>
  <li>Install <a href="http://www.mono-project.com">Mono</a></li>
  <li>
    <p>On some operating systems (e.g. OS X), you may need to point the <strong>PKG_CONFIG_PATH</strong> environment variable at the mono packages</p>

    <p><code class="highlighter-rouge">export PKG_CONFIG_PATH="/Library/Frameworks/Mono.framework/Versions/Current/lib/pkgconfig/:${PKG_CONFIG_PATH}"</code></p>
  </li>
  <li>Depending on your installation of <a href="http://www.mono-project.com">Mono</a>, you may need additional steps to get NAnt going on OS X. The more recent versions of the Mono installer for OS X seem to set things up properly. However, if you are having problems running NAnt, try the following:
    <ul>
      <li>download the binary of <a href="http://nant.sourceforge.net/">NAnt</a></li>
      <li>create a script file called nant</li>
      <li>chmod a+x nant</li>
      <li>
        <p>put the following into the script…</p>

        <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">#!/bin/sh</span>
<span class="nb">exec</span> /usr/bin/mono /path/to/nant/NAnt.exe <span class="s2">"</span><span class="nv">$@</span><span class="s2">"</span>
</code></pre></div>        </div>
      </li>
    </ul>
  </li>
</ul>

<p>Thanks to the hints from <a href="http://cs-sdl.sourceforge.net/index.php/The_absolute_newbies_guide_to_SDL.NET">this page</a>.</p>

<h3 id="building-nms-with-nant">Building NMS with Nant</h3>

<p>There are two steps to build the NMS project code, we’ll look at each now.</p>

<h4 id="setting-up-your-nant-repository">Setting up your NAnt Repository.</h4>

<p>Before you can build the NMS API and the various provider libraries you need to initialize your local NAnt repository so that you have all the required dependencies available for the provider’s NAnt build scripts to pull in during their builds. We maintain a tree in the NMS SVN repo with all the required dependencies which allow you to easily populate you NAnt repo. You can check out this tree by executing the following:</p>
<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>svn co https://svn.apache.org/repos/asf/activemq/activemq-dotnet/vendor/
</code></pre></div></div>

<p>Now that you have the vendor tree checkout out you can install the various libaries into you NAnt repo by running each one’s build script and with the ‘install’ target. You will need nant-0.91 or higher. The version 0.90 won’t work. Let’s take the NUnit testing framework libraries as an example, you install them like so:</p>
<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cd ./activemq-dotnet/vendor/NUnit/2.5.8
nant install
</code></pre></div></div>

<p>Install each of the vendor libraries using the same process and then you are ready to build the NMS libraries.</p>

<h4 id="building-the-nms-api-and-provider-libraries">Building the NMS API and Provider libraries.</h4>

<p>To build the code with Nant you will need to build the individual modules, starting with the main NMS module first. Following are the steps needed to build all of the modules, but depending on which provider you are using, you may only need to build the main Apache.NMS module and then your specific provider module. For example, if you are only working with ActiveMQ, then you would need to build the Apache.NMS module and the Apache.NMS.ActiveMQ provider module. Here are the steps to build all of the modules for the trunk version. Modify the paths to build a particular tag release (e.g., change the <strong>trunk</strong> folder to <strong>tags\1.0.0</strong>):</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cd activemq-dotnetcd Apache.NMS\trunk
nant

cd ..\..\Apache.NMS.ActiveMQ\trunk
nant

cd ..\..\Apache.NMS.AMQP\trunk
nant

cd ..\..\Apache.NMS.EMS\trunk
nant

cd ..\..\Apache.NMS.MQTT\trunk
nant

cd ..\..\Apache.NMS.MSMQ\trunk
nant

cd ..\..\Apache.NMS.Stomp\trunk
nant

cd ..\..\Apache.NMS.WCF\trunk
nant

cd ..\..\Apache.NMS.ZMQ\trunk
nant
</code></pre></div></div>

<p>This will build all of the providers. The only module that needs to be built first is the Apache.NMS module, as all of the other provider modules depend upon that module. <strong>IMPORTANT:</strong> In order to build the Apache.NMS.EMS module, you must have a licensed copy of the TIBCO.EMS.dll. This module is not available from The Apache Software Foundation.</p>

<blockquote>
  <p>Running the Unit Tests</p>

  <p>The unit tests depend on an ActiveMQ broker running on tcp://localhost:61616 so that the test cases can connect to ActiveMQ and send and receive messages etc. So if you have a distribution of ActiveMQ, <a href="http://activemq.apache.org/getting-started.html#GettingStarted-StartingActiveMQ">run the broker</a> first before testing Apache.NMS.ActiveMQ.</p>
</blockquote>

<p>If you want to run a build with the unit tests (assuming you have a broker running) then type the following from the <strong>trunk</strong> folder of the provider module:</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>nant test
</code></pre></div></div>

<p>Alternatively, you can use the NUnit graphical interface to load the appropriate module’s nunit project file. Each project includes a file named Apache.NMS.<em>modulename</em>.Test.nunit, where <em>modulename</em> matches the provider module’s name (e.g., ActiveMQ, AMQP, EMS, MQTT, MSMQ, Stomp, WCF, or ZMQ). This file can be loaded into the NUnit’s graphical application to run all of the unit tests and see their output.</p>

<h2 id="ide-tips">IDE Tips</h2>

<p>If you are on windows then you probably want to use Visual Studio 2008; we highly recommend using <a href="http://www.jetbrains.com/resharper/">ReSharper</a> as well, - its a shame there is not a distro for OS X and Linux <img src="https://cwiki.apache.org/confluence/s/en_GB/5997/6f42626d00e36f53fe51440403446ca61552e2a2.1/_/images/icons/emoticons/sad.png" alt="(sad)" />.</p>

<h3 id="using-monodevelop-to-edit-c">Using <a href="http://monodevelop.com/">MonoDevelop</a> to edit C#</h3>

<p>If you are on OS X or Linux (and even Windows nowdays) we recommend the use of <a href="http://monodevelop.com">MonoDevelop</a> for editing, refactoring and running the code. MonoDevelop can load the NMS Visual Studio Project files, and is integrated with the Mono debugger as well.</p>

<h3 id="using-eclipse-to-edit-c">Using Eclipse to edit C#</h3>

<p>You can use Eclipse as your IDE to edit C# code.</p>

<p>If you want to use Eclipse there are the following two C# eclipse plugins we are aware of</p>

<ul>
  <li><a href="http://emonic.sourceforge.net/">Emonic</a></li>
  <li><a href="http://black-sun.sourceforge.net/">BlackSun</a></li>
  <li><a href="http://www.improve-technologies.com/alpha/esharp/">Improve C#</a></li>
</ul>

<p>We tend to use BlackSun as it has auto-format and outline view support along with compiler warnings (though you might want to change the default font size).</p>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p>Apache ActiveMQ, ActiveMQ, ActiveMQ Artemis, Apache, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2019, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
