<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/news/artemis-tlp">Artemis</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis Console 1.1.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5095">ARTEMIS-5095</a> - Resend Dialog broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5131">ARTEMIS-5131</a> - Add A Copy message button to console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5185">ARTEMIS-5185</a> - Move from craco server to webpack server for console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5204">ARTEMIS-5204</a> - Backups not showing in console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5213">ARTEMIS-5213</a> - Selecting only “show internal addresses” in the new console never shows these addresses</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5216">ARTEMIS-5216</a> - broker diagram used ‘wrong’color for internal queues</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5160">ARTEMIS-5160</a> - Migrate console to PF 5 and latest hawtio</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5175">ARTEMIS-5175</a> - Fix up text in console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5186">ARTEMIS-5186</a> - UI Consistency Improvements</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5192">ARTEMIS-5192</a> - Reset selected items when changing page size in web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5193">ARTEMIS-5193</a> - Remember page size settings in web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5194">ARTEMIS-5194</a> - Remember columns when browsing queue in web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5195">ARTEMIS-5195</a> - Row hover color too dark</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5197">ARTEMIS-5197</a> - List broker name prominently in web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5198">ARTEMIS-5198</a> - Make the default page size configurable on the web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5240">ARTEMIS-5240</a> - Broker Diagram options all prefix with show</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5176">ARTEMIS-5176</a> - Upgrade cookie to 0.7.0, micromatch to 4.0.8, rollup to 2.79.2, http-proxy-middleware to 2.0.7 and cross-spawn to 7.0.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5238">ARTEMIS-5238</a> - upgrade nanoid to 3.3.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5239">ARTEMIS-5239</a> - upgrade path-to-regexp to 0.1.12</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5242">ARTEMIS-5242</a> - Upgrade Jolokia.js to 2.1.9</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
