<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis Console 1.2.1 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5217">ARTEMIS-5217</a> - “yarn start” does not work</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5307">ARTEMIS-5307</a> - Attributes/Operations close does not work</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5311">ARTEMIS-5311</a> - Page gets skewed when per page is changed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5408">ARTEMIS-5408</a> - Search by “name” field and search using “contains” instead of “equals” by default.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5419">ARTEMIS-5419</a> - wide tables dont fit into pane and no scroll bar is added</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5433">ARTEMIS-5433</a> - Filter ignored for queues created via web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5440">ARTEMIS-5440</a> - New Artemis Management Console not working under custom context path</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5449">ARTEMIS-5449</a> - Console searches should reset page in tables</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5510">ARTEMIS-5510</a> - Add scrollbar to tree</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5490">ARTEMIS-5490</a> - Adds the version to the About Box of any hawtio client containing the plugin</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5196">ARTEMIS-5196</a> - Decrease web console table row height</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5361">ARTEMIS-5361</a> - fix the broker diagram to use only css</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5362">ARTEMIS-5362</a> - Manage Columns tab doesnt allow unselect all</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5367">ARTEMIS-5367</a> - broker Diagram can only handle so many addresses</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5389">ARTEMIS-5389</a> - Pressing &lt;enter&gt; in search text box should execute search</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5391">ARTEMIS-5391</a> - Remember sorting values for each tab</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5392">ARTEMIS-5392</a> - Only display visible columns for sorting &amp; searching</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5393">ARTEMIS-5393</a> - Provide meaningful feedback w/invalid filter when browsing messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5394">ARTEMIS-5394</a> - Use “Filter” instead of “Search” when browsing messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5395">ARTEMIS-5395</a> - Provide documentation for filtering when browsing messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5396">ARTEMIS-5396</a> - Don’t display internal ID by default</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5407">ARTEMIS-5407</a> -  Search and sorting options should be remembered at least for the duration of the web session.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5410">ARTEMIS-5410</a> - Sorting by clicking on the column name would be nice.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5416">ARTEMIS-5416</a> -  The “Broker: …” text takes up vertical space. If it really must be there, then maybe the header bar would be a good place to put it.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5425">ARTEMIS-5425</a> - Compile console with java 17</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5432">ARTEMIS-5432</a> - Change console log level to ERROR for production environment</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5435">ARTEMIS-5435</a> - Clicking outside of sort dropdown menus should close them</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5447">ARTEMIS-5447</a> - Split JavaScript activemq-artemis-extension into a reusable library and an app</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5459">ARTEMIS-5459</a> - Browse messages by clicking on a queue name</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5471">ARTEMIS-5471</a> - Simplify base URL logic</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5472">ARTEMIS-5472</a> - Update webpack config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5473">ARTEMIS-5473</a> - Add webpack maxAsset and maxEntrypoint size config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5474">ARTEMIS-5474</a> - RAT exclusions cleanup</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5475">ARTEMIS-5475</a> - Cache Maven dependencies</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5511">ARTEMIS-5511</a> - Improve rendering logic</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5515">ARTEMIS-5515</a> - Expose persisted status of queue’s paused attribute on the web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5516">ARTEMIS-5516</a> - Add attributes to web console addresses tab</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5450">ARTEMIS-5450</a> - Fix issues with favicon</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5451">ARTEMIS-5451</a> - Compress images and remove unused ones</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5343">ARTEMIS-5343</a> - Upgrade serialize-javascript to 6.0.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5344">ARTEMIS-5344</a> - upgrade axios to 1.8.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5442">ARTEMIS-5442</a> - Upgrade caniuse-lite</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5495">ARTEMIS-5495</a> - Bump HawtIO version</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5544">ARTEMIS-5544</a> - Upgrade webpack-dev-server to ^5.2.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5545">ARTEMIS-5545</a> - http-proxy-middleware to 2.0.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5547">ARTEMIS-5547</a> -  upgrade @babel/runtime to 7.26.10</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
