<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/news/artemis-tlp">Artemis</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.10.1 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.10.1 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12346078">here</a></p>

<p>A list of commits can be found <a href="commit-report-2.10.1">here</a>.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.10.1</p>

<h2 id="bug">Bug</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2380">ARTEMIS-2380</a>] - Fix delivering message in the case of consume close</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2471">ARTEMIS-2471</a>] - JdbcNodeManager doesn’t use jdbc-user and jdbc-password tags</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2472">ARTEMIS-2472</a>] - Persistent and delivering size not right in replacement of lvq message</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2473">ARTEMIS-2473</a>] - RemoteQueueBindingImpl should check for empty filters</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2478">ARTEMIS-2478</a>] - Expired message not removed in non destructive queue</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2479">ARTEMIS-2479</a>] - ActiveMQConnectionFactory may not be able to connect with initialConnectAttempt=-1</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2480">ARTEMIS-2480</a>] - Reloading configuration can kill broker</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2483">ARTEMIS-2483</a>] - BlockSize is not used on sync calculation on CLI create</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2485">ARTEMIS-2485</a>] - Deleting SNF Queue should also delete associated remote bindings</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2487">ARTEMIS-2487</a>] - artemis-server-osgi references not-existing jctools:2.2.0</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2489">ARTEMIS-2489</a>] - Ring queue fails with concurrent producers</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2493">ARTEMIS-2493</a>] - OpenWire session close doesn’t cleanup consumer refs</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2496">ARTEMIS-2496</a>] - Use of Netty FileRegion on ReplicationCatch is breaking wildfly integration with artemis</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2501">ARTEMIS-2501</a>] - Incorrect ActiveMQRALogger configuration for invalidNumberOfMaxSession and unableToRetrieveDestinationName</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1811">ARTEMIS-1811</a>] - NIOSequentialFile should use RandomAccessFile with heap ByteBuffers</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2424">ARTEMIS-2424</a>] - Add option to override InetAddress.isReachable() with purePing()</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2462">ARTEMIS-2462</a>] - Allow store and forward queue to be deleted after scaledown</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2465">ARTEMIS-2465</a>] - [JDBC-STORE] Adding index on txId</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2467">ARTEMIS-2467</a>] - Define static cluster through ./artemis create –static <node-list></node-list></li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2468">ARTEMIS-2468</a>] - console.war doesn’t need checker-compat-qual lib</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2474">ARTEMIS-2474</a>] - Backup Connector ignores the retryInterval on the connection factories</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2475">ARTEMIS-2475</a>] - Log details when initializing metrics plugin</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2477">ARTEMIS-2477</a>] - create quieter check dependencies warning</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2488">ARTEMIS-2488</a>] - Potential NPE parsing source address in AMQP</li>
</ul>

<p>** Task
    * [<a href="https://issues.apache.org/jira/browse/ARTEMIS-2423">ARTEMIS-2423</a>] - Explain in documentation that auto-create-addresses/queues doesn’t work for core protocol</p>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
