<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.28.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12352523&amp;projectId=12315920">A complete list of JIRAs</a> for the 2.28.0 release.</p>
  </li>
  <li>
    <p><a href="commit-report-2.28.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the “Versions” chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bug">Bug</h2>
<ul>
  <li>[ARTEMIS-3357] - Setting multicast: prefix explicitely when reconnecting a durable AMQP client causes the queue to be renewed and all pending messages lost</li>
  <li>[ARTEMIS-3370] - default-queue-routing-type is ignored when set to multicast</li>
  <li>[ARTEMIS-3609] - Artemis’s Core JMS 2 CompletionListener shouldn’t be called within Netty thread</li>
  <li>[ARTEMIS-3819] - stack traces in console output on browse queue due to missing validatedUser value</li>
  <li>[ARTEMIS-3871] - ActiveMQ Artemis 2.23.0 – mqtt 5.0, mqtt client can’t subscribe multiple share topic?</li>
  <li>[ARTEMIS-4030] - AMQ222010 (No such file or directory) during startup</li>
  <li>[ARTEMIS-4078] - Divert filter not added/updated/removed on configuration change</li>
  <li>[ARTEMIS-4083] - when artemis streaming enabled then artemis-core client is not closing inputstream for Bytes message, blocking deletion of file after its processed in windows</li>
  <li>[ARTEMIS-4084] - Rolling back massive amounts of messages might crash broker</li>
  <li>[ARTEMIS-4085] - Exclusive LVQ not working as expected</li>
  <li>[ARTEMIS-4089] - Auto-deleted queue with active producer leaves producer disabled (or impotent)</li>
  <li>[ARTEMIS-4092] - ./artemis upgrade backup is not created properly / incomplete</li>
  <li>[ARTEMIS-4096] - AMQP Large Messages can be lost when sent through Clustered or Bridge</li>
  <li>[ARTEMIS-4098] - AMQP messages missing correlation ID in console</li>
  <li>[ARTEMIS-4101] - SecurityStore caches failed authentication result from LDAP connection failures</li>
  <li>[ARTEMIS-4103] - Support journal-lock-acquisition-timeout in broker.xml</li>
  <li>[ARTEMIS-4106] - Do not set property with empty key name when converting to OpenWire</li>
  <li>[ARTEMIS-4108] - AMQP Drain can fail with Large Messages under load</li>
  <li>[ARTEMIS-4109] - Unable to auto-delete queue for MQTT retained message</li>
  <li>[ARTEMIS-4114] - Broker deadlock occurs when restarting another broker in the cluster</li>
  <li>[ARTEMIS-4115] - ArrayIndexOutOfBoundsException when duplicate cache size is 0</li>
  <li>[ARTEMIS-4125] - Address can be removed inadvertently</li>
  <li>[ARTEMIS-4126] - Address not created automatically when sending MQTT message</li>
  <li>[ARTEMIS-4129] - When HA does not configure the oldreplica number of directories parameter (max-saved-replicated-journals-size) for the master/primary, always the default value of 2</li>
  <li>[ARTEMIS-4132] - broker uses anycast for amqp destination which is configured as multicast</li>
  <li>[ARTEMIS-4133] - Message with null property value unable to be consumed via STOMP</li>
  <li>[ARTEMIS-4135] - Mitigate NPE when browsing</li>
  <li>[ARTEMIS-4137] - MQTT subscription queue clean-up can fail due to security</li>
</ul>

<h2 id="new-feature">New Feature</h2>
<ul>
  <li>[ARTEMIS-4136] - Mirror sync replication</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[ARTEMIS-3085] - Support registering IOCriticalErrorListener on the broker</li>
  <li>[ARTEMIS-3168] - JAAS login module to convert existing Principal to an Artemis UserPrincipal</li>
  <li>[ARTEMIS-3178] - Provide a way to limit the size of an address after paged</li>
  <li>[ARTEMIS-3866] - Authorize management message sending using access control context subject</li>
  <li>[ARTEMIS-4042] - DefaultSensitiveStringCodec - read ARTEMIS_DEFAULT_SENSITIVE_STRING_CODEC_KEY env if system property is not set</li>
  <li>[ARTEMIS-4065] - Improving Page Counting by using real records, and not use the journal extensive for every message sent</li>
  <li>[ARTEMIS-4077] - Add an option to disable XML external entity processing</li>
  <li>[ARTEMIS-4093] - Expose properties and support resource adapter in J2EE environments</li>
  <li>[ARTEMIS-4100] - Improve consistency and wording of CLI command descriptions</li>
  <li>[ARTEMIS-4112] - DefaultSensitiveStringCodec don’t set system property in scripts as env is read directly</li>
  <li>[ARTEMIS-4116] - Implement management semaphore to avoid parallel operations being executed from user’s persistently calling operations</li>
  <li>[ARTEMIS-4120] - show labels for header field mqtt.qos.level</li>
  <li>[ARTEMIS-4122] - Pull update from OpenLDAP</li>
  <li>[ARTEMIS-4123] - Enable Strict-Transport-Security header</li>
  <li>[ARTEMIS-4124] - Set the SameSite flag on all cookies</li>
  <li>[ARTEMIS-4131] - Support custom maven local repo for karaf tests</li>
  <li>[ARTEMIS-4134] - add version to initial boostrap log message, making it more obvious</li>
  <li>[ARTEMIS-4149] - add watcher to login.config dir to trigger jass property reload</li>
</ul>

<h2 id="task">Task</h2>
<ul>
  <li>[ARTEMIS-4110] - tidy up some licence header issues</li>
  <li>[ARTEMIS-4127] - Refactor multiprotocol JMS tests in AMQP package</li>
</ul>

<h2 id="dependency-upgrade">Dependency upgrade</h2>
<ul>
  <li>[ARTEMIS-4099] - Update to PostgreSQL 42.4.3</li>
  <li>[ARTEMIS-4117] - Bump netty-codec-http from 4.1.82.Final to 4.1.86.Final</li>
  <li>[ARTEMIS-4138] - Upgrade jackson version to 2.14.1</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2023, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
