<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.14.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.14.0 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12348290&amp;styleName=Text&amp;projectId=12315920&amp;Create=Create&amp;atl_token=A5KQ-2QAV-T4JA-FDED_f0dbbf05ba0e3df7a6122e3d23621f40044dcb87_lin">here</a></p>

<p>A list of commits can be found <a href="commit-report-2.14.0">here</a>.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.14.0</p>

<h2 id="bug">Bug</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2596] - (kill -9) AMQ causes tmp web dir space usage to increase
* [ARTEMIS-2769] - NumberFormatException  
* [ARTEMIS-2774] - Remove the divert transformer on divert destroying
* [ARTEMIS-2778] - AcceptorControl returns only transport parameters
* [ARTEMIS-2781] - Return only local queue names for AddressControl.getQueueNames()
* [ARTEMIS-2783] - User not set on shared queue
* [ARTEMIS-2785] - io.netty.util.internal.OutOfDirectMemoryError during uncompress
* [ARTEMIS-2788] - OpenWire producerId leak in session state
* [ARTEMIS-2789] - Fix memory estimage for AMQP Large Message
* [ARTEMIS-2790] - No examples documentation in the bin archive
* [ARTEMIS-2791] - ArrayIndexOutOfBoundsException in SSLContextFactoryProvider
* [ARTEMIS-2792] - Wrong default network pinger command for linux
* [ARTEMIS-2793] - quorum logging implies it happens when single pair
* [ARTEMIS-2798] - Expiration for AMQP messages not properly reloaded
* [ARTEMIS-2799] - sniHost property not allowed
* [ARTEMIS-2800] - Artemis Native / libaio crashing under certain kernel versions
* [ARTEMIS-2801] - Fix ByteUtil.getHumanReadableByteCount() giving inconsistent results
* [ARTEMIS-2803] - NPE when trying to configure clustering
* [ARTEMIS-2804] - Human readable timestamp is incorrectly parsed in web console
* [ARTEMIS-2805] - Wrong day-of-month in web console
* [ARTEMIS-2806] - deployQueue missing address argument
* [ARTEMIS-2809] - Retain public access to api's used by activemq-cli-tools around xml import/export
* [ARTEMIS-2810] - Support all address-settings via management
* [ARTEMIS-2814] - java.sql.SQLException: Couldn't access org.postgresql.largeobject.LargeObject
* [ARTEMIS-2815] - Null pointer exception on queue update
* [ARTEMIS-2817] - Support Stomp subscription with FQQN+multicast
* [ARTEMIS-2819] - Removal of address setting (exact match) ineffective
* [ARTEMIS-2821] - AWS load balancer health check causes log entries 224088 with every check
* [ARTEMIS-2825] - Wrong calculation for DiskStoreUsagePercentage 
* [ARTEMIS-2829] - Wrong return type for getDiskStoreUsage
* [ARTEMIS-2830] - NPE in XML exporter
* [ARTEMIS-2833] - Fix metrics configuration backwards compatibility
* [ARTEMIS-2834] - Leaking meters
* [ARTEMIS-2835] - Porting HORNETQ-1575 and HORNETQ-1578
* [ARTEMIS-2836] - Console diagram view contains broken destination links and raw tool tips
</code></pre></div></div>

<h2 id="new-feature">New Feature</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2770] - Update diverts using the management API
</code></pre></div></div>

<h2 id="improvement">Improvement</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2109] - enable building Artemis with JDK 11+
* [ARTEMIS-2771] - Support JVM GC &amp; thread metrics
* [ARTEMIS-2776] - Dockerfile improvements to startup arguments
* [ARTEMIS-2786] - Timestamp in console is incorrect
* [ARTEMIS-2787] - Allow a queue to be disabled, so that messages are not routed to it.
* [ARTEMIS-2797] - Reset queue properties by unsetting them in broker.xml
* [ARTEMIS-2807] - Avoid notifications on critical IO error
* [ARTEMIS-2820] - Undeploy diverts by removing them from broker.xml
* [ARTEMIS-2827] - Add addressMemoryUsagePercentage as metric
* [ARTEMIS-2828] - Add addressSize as metric
</code></pre></div></div>

<h2 id="test">Test</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2775] - Cleanup Tests
</code></pre></div></div>

<h2 id="task">Task</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2795] - update to proton-j 0.33.5 and qpid-jms 0.52.0
* [ARTEMIS-2818] - Upgrade Activemq Artemis native as 1.0.2
* [ARTEMIS-2831] - Possible StackOverFlow when setSendDLAOnNoRoute
* [ARTEMIS-2837] - Bursts of open files under high load
</code></pre></div></div>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
