<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.22.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.22.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12351488&amp;styleName=Html&amp;projectId=12315920&amp;Create=Create">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.22.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h1 id="bug">Bug</h1>
<ul>
  <li>[ARTEMIS-3744] - NPE with empty security-manager config in bootstrap.xml</li>
  <li>[ARTEMIS-3751] - Artemis cuts off large bytes messages with compression that exceed the minimal large message size</li>
  <li>[ARTEMIS-3753] - Messages are not deleted in the mirror broker if they were distributed from the main to another broker in the cluster</li>
  <li>[ARTEMIS-3755] - Mitigate NPE related to fail-back</li>
  <li>[ARTEMIS-3756] - Connectors extra parameters are not passed throught the URI</li>
  <li>[ARTEMIS-3764] - Incorrect CONNACK return code for MQTT 5</li>
  <li>[ARTEMIS-3769] - Browsing iterator could cause NoSuchElementException</li>
  <li>[ARTEMIS-3773] - Remove defunct rate references from web console</li>
  <li>[ARTEMIS-3774] - Support user properties on MQTT will message</li>
  <li>[ARTEMIS-3775] - Don’t carry forward MQTT topic aliases to new connection</li>
  <li>[ARTEMIS-3776] - Inconsistency with older OpenWire clients due to AMQ-6431 with messageID&gt;Integer.MaxValue</li>
  <li>[ARTEMIS-3777] - Fix MQTT request/response + nolocal</li>
  <li>[ARTEMIS-3778] - Reaper reporting TimeoutException on Reaper threads</li>
  <li>[ARTEMIS-3781] - Send PUBREC on duplicate PUBLISH for MQTT QoS 2</li>
  <li>[ARTEMIS-3788] - Don’t send MQTT will message if will flag = false</li>
  <li>[ARTEMIS-3789] - Respect session expiry interval on MQTT disconnect message</li>
  <li>[ARTEMIS-3791] - Leak on OpenWire Sessions after failover</li>
  <li>[ARTEMIS-3798] - Some OpenWire message details dropped during upgrade to 2.21.0</li>
  <li>[ARTEMIS-3799] - Ping command is wrong on Windows</li>
  <li>[ARTEMIS-3801] - Not getting messages on MQTT subscriptions with $</li>
  <li>[ARTEMIS-3802] - Possible issue with concurrent removing on Queue references and Mirror</li>
  <li>[ARTEMIS-3803] - The first NetworkHealthCheck execution uses default commands</li>
</ul>

<h1 id="improvement">Improvement</h1>
<ul>
  <li>[ARTEMIS-3083] - Set a default producer-window-size on cluster connection</li>
  <li>[ARTEMIS-3733] - Destination cache size too small for OpenWire clients</li>
  <li>[ARTEMIS-3741] - Cache MBeanInfoHelper results</li>
  <li>[ARTEMIS-3749] - Improvements to e2e-tests module</li>
  <li>[ARTEMIS-3757] - properties config - allow system and env var substitution</li>
  <li>[ARTEMIS-3761] - Cleanup paged messages in the middle of the stream</li>
  <li>[ARTEMIS-3765] - Display validated user in Hawtio</li>
  <li>[ARTEMIS-3771] - Rework destination handling for the OpenWire-protocol</li>
  <li>[ARTEMIS-3779] - Critical IO Error to be logged as Error</li>
  <li>[ARTEMIS-3780] - OpenWire messageConverter throws exceptions for all user properties</li>
  <li>[ARTEMIS-3786] - properties config - allow conversion from String for NamedPropertyConfiguration</li>
  <li>[ARTEMIS-3800] - Allow CLI to delete address with queues</li>
  <li>[ARTEMIS-3805] - Change default Bridge Producer Window Size to 1MB</li>
</ul>

<h1 id="task">Task</h1>
<ul>
  <li>[ARTEMIS-3758] - do some tidy up of optional openwire systests module</li>
  <li>[ARTEMIS-3762] - refresh package dependency versions for doc build</li>
  <li>[ARTEMIS-3782] - use existing managed version for shade plugin uses</li>
  <li>[ARTEMIS-3783] - rationalise config for alternate jakarta spec versions</li>
  <li>[ARTEMIS-3804] - make version available for reference in the user manual</li>
</ul>

<h1 id="dependency-upgrade">Dependency upgrade</h1>
<ul>
  <li>[ARTEMIS-3740] - Upgrade Johnzon</li>
  <li>[ARTEMIS-3752] - Upgrade Spring Framework to 5.3.19</li>
  <li>[ARTEMIS-3754] - Upgrade tomcat-servlet-api to 8.5.78</li>
  <li>[ARTEMIS-3760] - Upgrade jackson version to 2.13.2</li>
  <li>[ARTEMIS-3768] - Update to Qpid JMS 1.6.0</li>
  <li>[ARTEMIS-3772] - Update to Mockito 4.4.0</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2022, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
