<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.17.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.17.0 release can be found     * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12349326">here</a></p>

<p>A list of commits can be found     * <a href="commit-report-2.17.0">here</a>.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.17.0</p>

<h2 id="bug">Bug</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2620] - Avoid Exception on client when large message file corrupted
* [ARTEMIS-2898] - Outdated dependency: micrometer-core 1.1.4
* [ARTEMIS-2943] - Multicast Static filter for topics not working
* [ARTEMIS-2961] - Configuration SSL/TLS - no way to "reset" password with forceSSLParameters
* [ARTEMIS-2971] - outgoing 'server-connection' doesnt support ANONYMOUS or EXTERNAL SASL mechanisms
* [ARTEMIS-2974] - Audit logger can print wrong user info
* [ARTEMIS-2976] - Remove password before creating server locator
* [ARTEMIS-2978] - Errors switching tabs after selecting a filter
* [ARTEMIS-2983] - AMQPMessages won't show message inner data with print-data
* [ARTEMIS-2985] - MQTT should not block netty thread
* [ARTEMIS-2986] - Deleting scheduled messages not permanent
* [ARTEMIS-2989] - Remove random client-side debug log in Web console
* [ARTEMIS-2991] - Leak of HttpAcceptorHandler instances when using websocket connections
* [ARTEMIS-2993] - Artemis plugin console components raise syntax error
* [ARTEMIS-2996] - Provide JMH Benchmarks for Artemis
* [ARTEMIS-2997] - artemis-jms-client: NPE on toString(), ActiveMQQueue/ActiveMQTopic
* [ARTEMIS-3000] - Console browse message filter broken
* [ARTEMIS-3003] - NPE when reloading persisted security-setting
* [ARTEMIS-3004] - ActiveMQXAResourceWrapper doesn't propagate ServerLocatorConfig on connect
* [ARTEMIS-3005] - Scaling down AMQP messages create MULTICAST queues
* [ARTEMIS-3007] - DLQ can crash the server if message almost large
* [ARTEMIS-3012] - Incorrect fallback consumer authorization
* [ARTEMIS-3014] - Console Jolokia isn't guarded by JMX RBAC
* [ARTEMIS-3017] - ArtemisJMXSecurity bulk canInvoke operation always returns true
* [ARTEMIS-3018] - Console dlq pref doesn work with multiple dlq's
* [ARTEMIS-3019] - AMQP Large Messages Expiration is broken
* [ARTEMIS-3024] - DLQ or Expiry retry is not working with AMQP messages
* [ARTEMIS-3025] - JsonReader char[] leak
* [ARTEMIS-3026] - Allow "reencoding" of application properties on AMQP Large Messages
* [ARTEMIS-3029] - wrong heading on producers tab in console
* [ARTEMIS-3037] - JournalImpl#checkKnownRecordID() implementation can leave a thread hanging in WAITING state
* [ARTEMIS-3040] - Artemis cannot reload large messages paged before 2.12
* [ARTEMIS-3051] - Fix MessageReferenceImpl::getMemoryEstimate
* [ARTEMIS-3058] - Improper AddressSettings merge
* [ARTEMIS-3065] - AMQP Anonymous Producer will block on global max page when using only paged messages
* [ARTEMIS-3067] - AMQP applicationProperties are not part of the memoryEstimate
* [ARTEMIS-3068] - Comparator implementation of HierarchicalObjectRepository issue
* [ARTEMIS-3072] - Management methods check for null and not for empty strings
* [ARTEMIS-3075] - Scale down of activemq.notifications causes issues
* [ARTEMIS-3079] - QueueControl fails on serializing AMQP messages with binary application properties
* [ARTEMIS-3081] - Cannot override the default Java key/truststore system properties
* [ARTEMIS-3082] - Fix non-destructive + rollback
* [ARTEMIS-3086] - refresh on diagram forgets to draw internal objects
* [ARTEMIS-3089] - Direct delivery can break LVQ + non-destructive
* [ARTEMIS-3091] - Artemis CLI cannot export AMQP message headers from the journal
* [ARTEMIS-3092] - Inconsistent JDBC config logging
* [ARTEMIS-3096] - Bridge config using wrong default confirmation window size
* [ARTEMIS-3099] - Incorrect default producer-window-size on bridge in broker.xml
* [ARTEMIS-3105] - Large message file not closed on backup side
* [ARTEMIS-3108] - Bridge XML config doesn't allow -1
* [ARTEMIS-3109] - Unsetting expiry-address results in excessive logging
</code></pre></div></div>

<h2 id="new-feature">New Feature</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-33] - Generic integration with SASL Frameworks
* [ARTEMIS-1884] - ActiveMQ5-like message-level authorization
* [ARTEMIS-3001] - Provide address and queue count via ActiveMQServerControl
* [ARTEMIS-3008] - Configuration reload triggered by Management API
* [ARTEMIS-3031] - Add new callback for broker deactivation
* [ARTEMIS-3034] - CLI Option to Transfer Messages
* [ARTEMIS-3107] - Extension of the artemis-docker module
</code></pre></div></div>

<h2 id="improvement">Improvement</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2026] - Allow location of $ARTEMIS_INSTANCE/tmp location to be overridden
* [ARTEMIS-2343] - "Illegal reflective access" warning with OpenJDK 11
* [ARTEMIS-2932] - Configuration of SSL/TLS
* [ARTEMIS-2938] - Update to latest Apache ActiveMQ Client to resolve CVEs
* [ARTEMIS-2965] - Allow mirror to stop capture events and delete inner queue
* [ARTEMIS-2982] - Improve "Browse Queues" view in web console
* [ARTEMIS-2987] - Management Console -&gt; Queue -&gt; Message: view with text only
* [ARTEMIS-2990] - optimise performance of wildcard address manager
* [ARTEMIS-3009] - Reference cluster connection message loadbalancing type from the remote binding
* [ARTEMIS-3011] - Use X-Forwarded-Proto header for Hawtio 2
* [ARTEMIS-3016] - Reduce DuplicateIDCache memory footprint
* [ARTEMIS-3022] - add original queue to dlq/expiry queue
* [ARTEMIS-3023] - Avoid opening AMQP Large Message File for final parsing
* [ARTEMIS-3033] - use a structured tree with visitors for wildcard addresses to avoid duplicate cross linking in address impl
* [ARTEMIS-3035] - Log.info on Broker Connection Reconnection Success
* [ARTEMIS-3039] - Replication initialization failure should only retry on network isolation
* [ARTEMIS-3041] - Allow encrypted data source property values
* [ARTEMIS-3043] - improvements on new console
* [ARTEMIS-3049] - Reduce live page lookup cost
* [ARTEMIS-3052] - Do not block on Bindings Operation
* [ARTEMIS-3054] - Clashes between start/stop paging and replication catch up
* [ARTEMIS-3059] - AMQP message reencoding should save creating Netty heap arenas
* [ARTEMIS-3061] - AMQPMessage::getDuplicateProperty can save key comparisons and class checks
* [ARTEMIS-3063] - AMQPMessage get property can use a String switch
* [ARTEMIS-3064] - Disable useTopologyForLoadBalancing for non HA federation connections between clusters
* [ARTEMIS-3069] - Add option to mask using the configured password-codec
* [ARTEMIS-3073] - Improve replication manger NPE logs
* [ARTEMIS-3074] - Add ActiveMQServerControl#createBridge() method variant which accepts the callTimeout attribute
* [ARTEMIS-3080] - Provide JakartaEE 9 artefacts
* [ARTEMIS-3084] - Eliminate block when moving to a next file on libaio and journal
* [ARTEMIS-3095] - add some spacing between checkboxes for Broker Diagram
* [ARTEMIS-3113] - Artemis AMQP shouldn't depend on JMS
</code></pre></div></div>

<h2 id="task">Task</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>* [ARTEMIS-2970] - Implement a test validating Connection timeout with broker connection that does not depend on qpid-dispatch
* [ARTEMIS-2994] - Update jetty version to 9.4.34.v20201102
* [ARTEMIS-3006] - Upgrade to Qpid Proton 0.33.8
* [ARTEMIS-3013] - update to Qpid JMS 0.55.0
* [ARTEMIS-3028] - Update jetty version to 9.4.35.v20201120
* [ARTEMIS-3060] - Upgrade to Guava 30.1
</code></pre></div></div>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
