<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.36.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.36.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-2892">ARTEMIS-2892</a> - Replication stopped working after many failovers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3509">ARTEMIS-3509</a> - STOMP Websocket client disconnected after ConcurrentModificationException in Broker</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4667">ARTEMIS-4667</a> - JMX Recovery operation triggers ClassCastException</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4747">ARTEMIS-4747</a> - UNREACHABLE_CODE.EXCEPTION This statement in the source code is unreachable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4794">ARTEMIS-4794</a> - CoreBridge: Duplicate message when bridge is stopped/Lost message when bridge is paused while messages being produced to target node.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4816">ARTEMIS-4816</a> - Docker image echo’s admin credentials during startup</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4817">ARTEMIS-4817</a> - AMQP Federation address policy doesn’t allow credit configuration to override parent settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4820">ARTEMIS-4820</a> - AMQP TTL message property being treated as int instead of uint</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4821">ARTEMIS-4821</a> - OperationContext may leak between servers in embedded/test mode on SendAckThread on a bridge</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4826">ARTEMIS-4826</a> - ICAST_INTEGER_MULTIPLY_CAST_TO_LONG value too high</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4827">ARTEMIS-4827</a> - UNREACHABLE_CODE</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4902">ARTEMIS-4902</a> - Downstream federation example not compliant with xsd</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4905">ARTEMIS-4905</a> - PeriodicConnectionExpiry plugin comparison error treating seconds as milli seconds</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4910">ARTEMIS-4910</a> - DivertConfiguration encoding is broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4912">ARTEMIS-4912</a> - Filter is not enforced when sending message to queue via web console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4914">ARTEMIS-4914</a> - Clarify docs on core + client ID</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4919">ARTEMIS-4919</a> - AMQP protocol level errors not handled cleanly</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4922">ARTEMIS-4922</a> - Spurious warn message when OpenWire client disconnects</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4925">ARTEMIS-4925</a> - Mirroring and Replication do not work in combination</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4931">ARTEMIS-4931</a> - BridgeConfiguration encoding is broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4936">ARTEMIS-4936</a> - Verify response correlationId in Core client</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4941">ARTEMIS-4941</a> - Remove update estimate after ARTEMIS-3067</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4948">ARTEMIS-4948</a> - Clarify failover-on-shutdown-doc</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4949">ARTEMIS-4949</a> - java.nio.channels.ClosedChannelException with slower devices and NIO journal</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4950">ARTEMIS-4950</a> - MBeanGuard throws an NPE</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4951">ARTEMIS-4951</a> - Multiple connection router occurrences with same policy cause parser error</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4764">ARTEMIS-4764</a> - Increase automation for dependecy updates</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4814">ARTEMIS-4814</a> - Remove linear iteration to get direct bindings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4818">ARTEMIS-4818</a> - Improve support for multiple broker plugins from broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4913">ARTEMIS-4913</a> - Provide more details on error callbacks</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4920">ARTEMIS-4920</a> - Strip leading forward slash from IP address</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4921">ARTEMIS-4921</a> - Include protocol name in disconnection log message</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4923">ARTEMIS-4923</a> - Reduce synchronization in ManagementServiceImpl</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4930">ARTEMIS-4930</a> - Refactor storage manager tests</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4822">ARTEMIS-4822</a> - improve build reproducibility</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4828">ARTEMIS-4828</a> - Remove unused variables</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4829">ARTEMIS-4829</a> - Use lambdas consistently</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4831">ARTEMIS-4831</a> - consistently use surefire default behaviour around test failure</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4832">ARTEMIS-4832</a> - direct test output to file by default</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4833">ARTEMIS-4833</a> - Remove redundant type arguments</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4845">ARTEMIS-4845</a> - remove unnecessary plugin from extra openwire tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4863">ARTEMIS-4863</a> - misc pom tweaks</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4872">ARTEMIS-4872</a> - use explicit annotationProcessorPaths compiler configuration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4873">ARTEMIS-4873</a> - Add an AMQP federation example showing pull mode</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4880">ARTEMIS-4880</a> - remove unnecessary dependency from extra openwire tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4918">ARTEMIS-4918</a> - artemis-maven-plugin pom cleanups</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4938">ARTEMIS-4938</a> - Update commons-lang to 3.15.0</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4823">ARTEMIS-4823</a> - Upgrade BouncyCastle to 1.78.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4835">ARTEMIS-4835</a> - Bump JCTools from 4.0.2 to 4.0.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4836">ARTEMIS-4836</a> - Update to Mockito 5.12.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4837">ARTEMIS-4837</a> - Update to Groovy 4.0.22</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4838">ARTEMIS-4838</a> - Bump version.batavia from 1.0.10.Final to 1.0.15.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4839">ARTEMIS-4839</a> - Bump org.jline:jline from 3.25.1 to 3.26.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4840">ARTEMIS-4840</a> - Bump org.apache.commons:commons-dbcp2 from 2.11.0 to 2.12.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4841">ARTEMIS-4841</a> - Bump jetty.version from 10.0.20 to 10.0.22</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4843">ARTEMIS-4843</a> - Bump log4j.version from 2.22.1 to 2.23.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4844">ARTEMIS-4844</a> - Update jackson to 2.17.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4846">ARTEMIS-4846</a> - Bump version.org.jacoco.plugin from 0.8.11 to 0.8.12</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4847">ARTEMIS-4847</a> - update jgroups to 5.3.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4848">ARTEMIS-4848</a> - Bump org.codehaus.mojo:javacc-maven-plugin from 2.6 to 3.1.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4849">ARTEMIS-4849</a> - Bump ZooKeeper from 3.9.1 to 3.9.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4850">ARTEMIS-4850</a> - Bump owasp.version from 9.0.9 to 9.2.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4851">ARTEMIS-4851</a> - Bump curator.version from 5.6.0 to 5.7.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4852">ARTEMIS-4852</a> - Bump slf4j.version from 2.0.12 to 2.0.13</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4853">ARTEMIS-4853</a> - Bump selenium.version from 4.17.0 to 4.22.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4854">ARTEMIS-4854</a> - Bump picocli.version from 4.7.5 to 4.7.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4855">ARTEMIS-4855</a> - Bump org.asciidoctor:asciidoctor-maven-plugin from 2.2.4 to 3.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4856">ARTEMIS-4856</a> - Bump org.asciidoctor:asciidoctorj-pdf from 2.3.9 to 2.3.17</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4857">ARTEMIS-4857</a> - Bump testcontainers.version from 1.19.4 to 1.19.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4858">ARTEMIS-4858</a> - Bump spring.version from 5.3.33 to 5.3.37</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4859">ARTEMIS-4859</a> - Bump org.jboss.marshalling:jboss-marshalling-river from 2.0.9.Final to 2.1.4.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4860">ARTEMIS-4860</a> - Bump org.codehaus.mojo:findbugs-maven-plugin from 2.5.2 to 3.0.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4861">ARTEMIS-4861</a> - Bump org.codehaus.mojo:findbugs-maven-plugin from 2.5.2 to 3.0.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4862">ARTEMIS-4862</a> - Bump check-leak-version from 0.8 to 0.11</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4864">ARTEMIS-4864</a> - Bump org.easymock:easymock from 5.2.0 to 5.3.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4865">ARTEMIS-4865</a> - Bump org.apache.commons:commons-text from 1.10.0 to 1.12.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4866">ARTEMIS-4866</a> - Bump com.google.cloud.tools:jib-maven-plugin from 3.3.2 to 3.4.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4867">ARTEMIS-4867</a> - Bump com.sun.winsw:winsw from 2.7.0 to 2.9.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4868">ARTEMIS-4868</a> - Bump byteman.version from 4.0.18 to 4.0.23</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4869">ARTEMIS-4869</a> - Update to ErrorProne 2.29.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4870">ARTEMIS-4870</a> - Bump com.puppycrawl.tools:checkstyle from 10.16.0 to 10.17.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4871">ARTEMIS-4871</a> - Bump org.osgi:osgi.cmpn from 6.0.0 to 7.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4874">ARTEMIS-4874</a> - Bump org.codehaus.mojo:exec-maven-plugin from 3.0.0 to 3.3.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4875">ARTEMIS-4875</a> - Bump activemq5-version from 5.18.3 to 5.18.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4876">ARTEMIS-4876</a> - Bump commons-codec:commons-codec from 1.16.0 to 1.17.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4877">ARTEMIS-4877</a> - Bump jakarta.inject:jakarta.inject-api from 1.0.3 to 1.0.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4878">ARTEMIS-4878</a> - Bump org.apache.maven.resolver:maven-resolver-api from 1.9.6 to 1.9.20</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4879">ARTEMIS-4879</a> - Bump jmh.version from 1.26 to 1.37</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4881">ARTEMIS-4881</a> - Bump org.apache.maven:maven-artifact from 3.8.5 to 3.9.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4882">ARTEMIS-4882</a> - Bump org.apache.qpid:qpid-jms-client from 1.10.0 to 1.11.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4883">ARTEMIS-4883</a> - Bump org.codehaus.woodstox:woodstox-core-asl from 4.4.0 to 4.4.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4885">ARTEMIS-4885</a> - Bump version.jaxb.runtime from 2.3.3 to 2.3.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4886">ARTEMIS-4886</a> - Bump org.apache.maven.plugins:maven-pmd-plugin from 3.21.2 to 3.23.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4887">ARTEMIS-4887</a> - Bump org.apache.hadoop:hadoop-minikdc from 3.3.1 to 3.4.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4888">ARTEMIS-4888</a> - Bump org.postgresql:postgresql from 42.7.2 to 42.7.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4889">ARTEMIS-4889</a> - Bump org.apache.maven:maven-plugin-api from 3.3.3 to 3.9.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4890">ARTEMIS-4890</a> - Bump maven-antrun-plugin from 1.8 to 3.1.0 in artemis-dto</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4891">ARTEMIS-4891</a> - Bump org.hamcrest:hamcrest from 2.1 to 2.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4892">ARTEMIS-4892</a> - Bump io.micrometer:micrometer-core from 1.12.2 to 1.13.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4893">ARTEMIS-4893</a> - Bump org.codehaus.mojo:build-helper-maven-plugin from 1.8 to 3.6.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4894">ARTEMIS-4894</a> - Bump com.google.guava:guava from 33.0.0-jre to 33.2.1-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4895">ARTEMIS-4895</a> - Bump org.apache.maven.plugins:maven-plugin-plugin from 3.6.0 to 3.13.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4896">ARTEMIS-4896</a> - Bump org.hdrhistogram:HdrHistogram from 2.1.12 to 2.2.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4897">ARTEMIS-4897</a> - Bump org.apache.servicemix.tooling:depends-maven-plugin from 1.2 to 1.5.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4898">ARTEMIS-4898</a> - Bump org.junit:junit-bom from 5.10.2 to 5.10.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4899">ARTEMIS-4899</a> - Bump org.apache.directory.jdbm:apacheds-jdbm2 from 2.0.0-M1 to 2.0.0-M3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4900">ARTEMIS-4900</a> - Bump version.org.jacoco from 0.8.11 to 0.8.12</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4901">ARTEMIS-4901</a> - Bump owasp.version from 9.2.0 to 10.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4903">ARTEMIS-4903</a> - Use parent version of maven-plugin-tools</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4907">ARTEMIS-4907</a> - update commons-configuration2 to 2.11.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4908">ARTEMIS-4908</a> - Update to commons-logging 1.3.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4917">ARTEMIS-4917</a> - Update to apache parent pom 33</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4940">ARTEMIS-4940</a> - update to protonj2 test driver 1.0.0-M21</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4942">ARTEMIS-4942</a> - Bump org.apache.maven.plugins:maven-pmd-plugin from 3.23.0 to 3.24.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4943">ARTEMIS-4943</a> - Bump owasp.version from 10.0.0 to 10.0.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4944">ARTEMIS-4944</a> - Bump testcontainers.version from 1.19.8 to 1.20.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4945">ARTEMIS-4945</a> - Bump netty.version from 4.1.111.Final to 4.1.112.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4946">ARTEMIS-4946</a> - Bump selenium.version from 4.22.0 to 4.23.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4953">ARTEMIS-4953</a> - update to activemq 5.18.5</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
