<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.39.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.39.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 17 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5104">ARTEMIS-5104</a> - Remove unused variables</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5106">ARTEMIS-5106</a> - Exception thrown from plugin in beforeSend method is not propagated to AMQP tx clients on commit</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5116">ARTEMIS-5116</a> - SslAutoReload not working in kubernetes environment</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5135">ARTEMIS-5135</a> - AMQP Address federation consumer can fail to attach if previous detach response delayed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5150">ARTEMIS-5150</a> - ActiveMQServerControlImpl.getHAPolicy() gets NullPointerException</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5155">ARTEMIS-5155</a> - AMQP LargeMessage file can be deleted in error on connection drop if final frame is being processed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5172">ARTEMIS-5172</a> - Reduce the permissions on temp file</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5187">ARTEMIS-5187</a> - ArtemisRbacMBeanServerBuilder causes AMQ229031 errors after authentication failures</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5199">ARTEMIS-5199</a> - Create directory race on shared storage</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5093">ARTEMIS-5093</a> - Support configurable onMessage timeout when closing consumer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5110">ARTEMIS-5110</a> - Add ability to identify retired IDs in log annotations</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5117">ARTEMIS-5117</a> - Freshen up releasing doc</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5118">ARTEMIS-5118</a> - Expose HelpCreate on the CLI Jar</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5151">ARTEMIS-5151</a> - Clarify transfer command parameter descriptions</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5153">ARTEMIS-5153</a> - Mark AMQP federation events and control queues as internal</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5157">ARTEMIS-5157</a> - Add management capabilities for AMQP Federation and its Broker Connection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5158">ARTEMIS-5158</a> - brokerProperties - storeConfiguration.dataSourceProperties are not exposed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5168">ARTEMIS-5168</a> - Improve remoting to brokers from Artemis shell</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5201">ARTEMIS-5201</a> - Allow Artemis cli to system exit(1) on exception like the Artemis boot</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5206">ARTEMIS-5206</a> - Provide description = “” instead of null in certain exception instances</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5148">ARTEMIS-5148</a> - Simplify and make ClusteredLargeMessageInterruptTest more reliable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5156">ARTEMIS-5156</a> - Simplify and make LargeMessageFrozenTest more reliable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5159">ARTEMIS-5159</a> - Lower number of threads on SoakReplicatedPagingTest</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5166">ARTEMIS-5166</a> - Improve reliability of ReconnectTest</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5173">ARTEMIS-5173</a> - Improve reliability of tests</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3410">ARTEMIS-3410</a> - the Karaf integration tests dont work on Java 16+</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5132">ARTEMIS-5132</a> - consolidate ActiveMQQueueLogger into ActiveMQServerLogger</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5170">ARTEMIS-5170</a> - Fix AutoCreateExpiryResourcesTest and document expiry of expiry situation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5171">ARTEMIS-5171</a> - remove unusual relativePath from base pom</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5202">ARTEMIS-5202</a> - Require Java 17+ (i.e drop support for Java 11)</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5122">ARTEMIS-5122</a> - Update micrometer-core to 1.14.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5123">ARTEMIS-5123</a> - Update mockito to 5.14.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5124">ARTEMIS-5124</a> - Update jline to 3.27.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5125">ARTEMIS-5125</a> - Update asciidoctorj-pdf to 2.3.19</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5126">ARTEMIS-5126</a> - Update jib-maven-plugin to 3.4.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5127">ARTEMIS-5127</a> - Update hadoop-minikdc to 3.4.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5128">ARTEMIS-5128</a> - Update to junit 5.11.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5129">ARTEMIS-5129</a> - Update exec-maven-plugin to 3.5.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5130">ARTEMIS-5130</a> - Update testcontainers to 1.20.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5136">ARTEMIS-5136</a> - Update to zookeeper 3.9.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5137">ARTEMIS-5137</a> - Update to jackson 2.18.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5138">ARTEMIS-5138</a> - Update to checkstyle 10.20.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5143">ARTEMIS-5143</a> - Update to bouncycastle 1.79</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5144">ARTEMIS-5144</a> - Update to selenium 4.27.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5145">ARTEMIS-5145</a> - Update asciidoctor-maven-plugin to 3.1.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5152">ARTEMIS-5152</a> - Update to Groovy 4.0.24</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5154">ARTEMIS-5154</a> - Update to Netty 4.1.115</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5162">ARTEMIS-5162</a> - Upgrade pem-keystore to 3.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5165">ARTEMIS-5165</a> - update to easymock 5.5.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5174">ARTEMIS-5174</a> - Have dependabot ignore jgroups until JGRP-2794 is resolved</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5177">ARTEMIS-5177</a> - Bump log4j.version from 2.24.1 to 2.24.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5178">ARTEMIS-5178</a> - Bump testcontainers.version from 1.20.3 to 1.20.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5179">ARTEMIS-5179</a> - Bump commons-io:commons-io from 2.17.0 to 2.18.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5180">ARTEMIS-5180</a> - Bump owasp.version from 10.0.4 to 11.1.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5181">ARTEMIS-5181</a> - Bump org.apache.maven.plugins:maven-pmd-plugin from 3.25.0 to 3.26.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5191">ARTEMIS-5191</a> - Update commons-dbcp2 to 2.13.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5203">ARTEMIS-5203</a> - Bump pax.exam.version from 4.13.5 to 4.14.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5208">ARTEMIS-5208</a> - Bump Jetty from 10.0.24 to 12.0.15</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5210">ARTEMIS-5210</a> - Bump com.google.errorprone:error_prone_core from 2.31.0 to 2.36.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5211">ARTEMIS-5211</a> - Bump org.jline:jline from 3.27.1 to 3.28.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5212">ARTEMIS-5212</a> - Bump io.micrometer:micrometer-core from 1.14.1 to 1.14.2</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
