<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.31.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.31.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4174">ARTEMIS-4174</a> - JMX RMI connector-ports limited to localhost listen for remote connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4370">ARTEMIS-4370</a> - Publishing message with existing topic alias and different topic causes message to be sent to incorrect topic</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4382">ARTEMIS-4382</a> - CLI import / export may take a huge amount of time in large datasets.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4387">ARTEMIS-4387</a> - Empty consumer filter string leak</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4389">ARTEMIS-4389</a> - The word “mesage” should be corrected to “message”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4390">ARTEMIS-4390</a> - Windows build fails smoke tests on upgrade-linux</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4394">ARTEMIS-4394</a> - management console war file contains some duplicate jars</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4397">ARTEMIS-4397</a> - Problem with bootstrap.xml after artemis upgrade</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4399">ARTEMIS-4399</a> - Authentication cache set to size 0 (i.e. disabled) is not threadsafe</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4400">ARTEMIS-4400</a> - artemis-cdi-client: artemis-unit-test-support should be in test scope</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4405">ARTEMIS-4405</a> - Incorrect username logging in AMQ601264 events</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4406">ARTEMIS-4406</a> - connection router LocalCache persisted entry tracking is not thread safe</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4410">ARTEMIS-4410</a> - Openwire prefetched messages can be out of order after failover to an exclusive queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4417">ARTEMIS-4417</a> - AbstractJournalStorageManager storeKeyValuePair + deleteKeyValuePair are not thread safe</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4418">ARTEMIS-4418</a> - openwire lastDeliveredSequenceId depends on message order, it should not</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4421">ARTEMIS-4421</a> - Page Counters are not working before rebuild is done</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4424">ARTEMIS-4424</a> - “AMQ212025: did not connect the cluster” when bootstrapping a static cluster</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4427">ARTEMIS-4427</a> - MDB reusing Thread is using wrong transactionTimeout</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4431">ARTEMIS-4431</a> - AMQP federated address consumer not applying hops annotation correctly</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3057">ARTEMIS-3057</a> - Provide alternative to max-disk-usage to measure by remaining disk free</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4159">ARTEMIS-4159</a> - Support duplicate cache size configuration per address</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4372">ARTEMIS-4372</a> - Move CLI framework to picocli and implement auto-complete</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4375">ARTEMIS-4375</a> - JLine3 integration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4384">ARTEMIS-4384</a> - CLI method to verify topology on all the nodes (cluster verify)</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4385">ARTEMIS-4385</a> - Expand queue stat to other members of the topology</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4419">ARTEMIS-4419</a> - Add broker federation support to the AMQP broker connection feature-set</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-966">ARTEMIS-966</a> - MQTT Session States do not survive a reboot</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4349">ARTEMIS-4349</a> - Replace Guava cache with Caffeine</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4368">ARTEMIS-4368</a> - ensure predictable order of subjects for accurate logging</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4378">ARTEMIS-4378</a> - Federation, ignore address policy when using pull consumer connection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4391">ARTEMIS-4391</a> - tests: rework AssertionLoggerHandler</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4396">ARTEMIS-4396</a> - Make address/queue “internal” property durable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4398">ARTEMIS-4398</a> - Support configuring Database with Broker Properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4401">ARTEMIS-4401</a> - Improving Paging &amp; JDBC Performance</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4404">ARTEMIS-4404</a> - Update the artemis-docker readme.md with minor clarification on building local distribution</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4408">ARTEMIS-4408</a> - Update docker-run.sh for overriding etc folder after instance creation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4411">ARTEMIS-4411</a> - Change log level from  ActiveMQRALogger.instantiatingDestination to DEBUG</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4428">ARTEMIS-4428</a> - Expand default loggers configuration</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4402">ARTEMIS-4402</a> - add unit tests to exercise semi-generated LogBundle code more directly</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4412">ARTEMIS-4412</a> - openwire TwoBrokerFailoverClusterTest test fails sporadically</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4413">ARTEMIS-4413</a> - CheckTest.testNodeCheckTopology fails sporadically</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4369">ARTEMIS-4369</a> - add clarifying note to docs around transport options for broker-connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4376">ARTEMIS-4376</a> - Add Dockerfile for Alpine + JRE 11</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4377">ARTEMIS-4377</a> - Add script for pushing docker images for a release</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4383">ARTEMIS-4383</a> - Migrate user docs to AsciiDoc</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4386">ARTEMIS-4386</a> - consolidate used servlet-api deps</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4388">ARTEMIS-4388</a> - Add a test with TopicSubscription and redistribution OFF and OFF_WITH_REDISTRIBUTION</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4409">ARTEMIS-4409</a> - Update examples to use management.xml</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4355">ARTEMIS-4355</a> - Update to Сurator 5.5.0 and Zookeeper 3.8.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4373">ARTEMIS-4373</a> - Upgrade Karaf to 4.4.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4374">ARTEMIS-4374</a> - Upgrade Pax Exam to 4.13.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4392">ARTEMIS-4392</a> - Upgrade Netty to 4.1.96.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4395">ARTEMIS-4395</a> - Upgrade example spring-boot-plugin version to 2.6.15</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4423">ARTEMIS-4423</a> - Upgrade Netty to 4.1.97.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4425">ARTEMIS-4425</a> - Upgrade Hawtio to 2.17.6</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2024, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
