<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.33.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.33.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4187">ARTEMIS-4187</a> - SizeAwareMetric attribute inconsistency</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4527">ARTEMIS-4527</a> - Redistributor race when consumerCount reaches 0 in cluster</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4532">ARTEMIS-4532</a> - MQTT-to-core wildcard conversion is broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4585">ARTEMIS-4585</a> - Mirror may fail with previously created SNF queues if metrics plugin is in use</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4588">ARTEMIS-4588</a> - Queue Federation and large messages move slowdown</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4626">ARTEMIS-4626</a> - AMQP Federation demand tracking can overcount demand</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4629">ARTEMIS-4629</a> - Core bridge configuration validation errors</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4638">ARTEMIS-4638</a> - Remove bashism from install validation script</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4639">ARTEMIS-4639</a> - Artemis Cluster and NullpointerException in “sending topology”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4642">ARTEMIS-4642</a> - AMQP Federation demand tracking can under count demand in some narrow cases</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4646">ARTEMIS-4646</a> - Unacknowledged MQTT message ID is reused after ID generator wraparound</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4647">ARTEMIS-4647</a> - Use specified call-timeout on backup connector</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4649">ARTEMIS-4649</a> - STOMP message IDs are not unique when same message is received on multiple subscriptions</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4652">ARTEMIS-4652</a> - Rollback of XAResource implementation should never return XA_RETRY</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4664">ARTEMIS-4664</a> - autoCreatedResource can get removed while receiving batch of messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4668">ARTEMIS-4668</a> - Move AMQP Large Message File Handling away from Netty thread</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4670">ARTEMIS-4670</a> - Slow performance with Core large messages and JDBC</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4676">ARTEMIS-4676</a> - Use ActionContext consistently for logging in CLI commands</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4677">ARTEMIS-4677</a> - Validate AutoCreate queues with Mirroring and Clustering</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4678">ARTEMIS-4678</a> - JDBC User and password is not used by CLI Exporter</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4682">ARTEMIS-4682</a> - JDBC Storage slow to reboot the server</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4684">ARTEMIS-4684</a> - Internal queues should not have message redistributed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4687">ARTEMIS-4687</a> - Concurrent use of DocumentBuilder breaking Xpath filtering</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4689">ARTEMIS-4689</a> - Import command should accept URL</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4691">ARTEMIS-4691</a> - AMQ212037 warning when closing any in-vm connection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4695">ARTEMIS-4695</a> - Fix a few bugs found via static analysis</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4648">ARTEMIS-4648</a> - Support typed properties on CLI producer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4650">ARTEMIS-4650</a> - CLI command PWD showing current folders.</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1230">ARTEMIS-1230</a> - Create Maven Bill of Materials (BOM)</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4579">ARTEMIS-4579</a> - Add the <em>FirstMessage</em> API for scheduled messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4582">ARTEMIS-4582</a> - add view and edit permissions to extend security-settings rbac for management operations</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4586">ARTEMIS-4586</a> - Auto reload web binding SSL stores on change</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4587">ARTEMIS-4587</a> - Config security setting plugins by using broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4627">ARTEMIS-4627</a> - Oracle tests now can use publicly “maven central” available JDBC drivers.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4637">ARTEMIS-4637</a> - Allow unordered xml conf elements for clusters and bridges</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4641">ARTEMIS-4641</a> - Allow AMQP federation to recover from missing or removed resources</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4651">ARTEMIS-4651</a> - Performance improvements on Mirror and Paging</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4653">ARTEMIS-4653</a> - AMQP Federation should apply queue consumer filters for demand</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4655">ARTEMIS-4655</a> - Report logging metrics</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4657">ARTEMIS-4657</a> - Support better correlation ID compatibility between JMS clients</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4658">ARTEMIS-4658</a> - AMQP Federation should prevent reflection of multicast messages between nodes</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4679">ARTEMIS-4679</a> - Config HA policy by using broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4686">ARTEMIS-4686</a> - Reduce number of FilterImpl instances</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4690">ARTEMIS-4690</a> - Remove deprecated StorageManager.addAddressSettings from codebase.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4693">ARTEMIS-4693</a> - Improve XPath filter performance</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4559">ARTEMIS-4559</a> - Refactor HA docs &amp; code/module naming</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4583">ARTEMIS-4583</a> - remove artemis-server module test-jar, do some related cleanup</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4589">ARTEMIS-4589</a> - consolidate utility code and remove test-jar usages within tests/ subtree</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4592">ARTEMIS-4592</a> - Detect possible dependency updates</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4601">ARTEMIS-4601</a> - Remove OpenTelemetry deps from main pom</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4640">ARTEMIS-4640</a> - move extension added to aid ‘offline’ maven usage into a profile</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4644">ARTEMIS-4644</a> - convert some broker-connection tests to use test peer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4645">ARTEMIS-4645</a> - Update AMQP broker connection tests to use better connector names</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4656">ARTEMIS-4656</a> - Remove superfluous artemis-spring-integration module</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4665">ARTEMIS-4665</a> - Fix intermittent failures in a few AMQP federation tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4669">ARTEMIS-4669</a> - Clarify Large Messages around StorageManager usage</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4683">ARTEMIS-4683</a> - Add additional examples for AMQP federation</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4591">ARTEMIS-4591</a> - Upgrade Netty to 4.1.106.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4593">ARTEMIS-4593</a> - Upgrade Caffeine to 3.1.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4594">ARTEMIS-4594</a> - Upgrade Error Prone to 2.24.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4595">ARTEMIS-4595</a> - Upgrade Guava to 33.0.0-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4596">ARTEMIS-4596</a> - Upgrade Commons Codec to 1.16.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4597">ARTEMIS-4597</a> - Upgrade Commons IO to 2.15.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4598">ARTEMIS-4598</a> - Upgrade Commons Logging to 1.3.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4599">ARTEMIS-4599</a> - Upgrade PEM Keystore to 2.3.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4600">ARTEMIS-4600</a> - Upgrade Micrometer to 1.12.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4602">ARTEMIS-4602</a> - Upgrade Jetty to 10.0.20</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4603">ARTEMIS-4603</a> - Upgrade JavaCC to 7.0.13</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4604">ARTEMIS-4604</a> - Upgrade Commons DBCP2 to 2.11.0 and Commons Pool to 2.12.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4605">ARTEMIS-4605</a> - Upgrade Commons Lang to 3.14.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4606">ARTEMIS-4606</a> - Upgrade Commons Text to 1.11.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4607">ARTEMIS-4607</a> - Upgrade Curator to 5.6.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4608">ARTEMIS-4608</a> - Upgrade Derby to 10.15.2.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4609">ARTEMIS-4609</a> - Upgrade Log4j to 2.22.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4610">ARTEMIS-4610</a> - Upgrade ZooKeeper to 3.9.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4611">ARTEMIS-4611</a> - Upgrade BouncyCastle to 1.77</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4612">ARTEMIS-4612</a> - Upgrade EasyMock to 5.2.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4613">ARTEMIS-4613</a> - Upgrade Jansi to 2.4.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4614">ARTEMIS-4614</a> - Upgrade Jacoco to 0.8.11</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4615">ARTEMIS-4615</a> - Upgrade JCTools to 4.0.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4616">ARTEMIS-4616</a> - Upgrade JGroups to 5.3.2.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4617">ARTEMIS-4617</a> - Upgrade JLine to 3.25.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4618">ARTEMIS-4618</a> - Upgrade JUnit to 5.10.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4619">ARTEMIS-4619</a> - Upgrade Mockito to 5.10.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4620">ARTEMIS-4620</a> - Upgrade OWASP to 9.0.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4621">ARTEMIS-4621</a> - Upgrade PostgreSQL to 42.7.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4622">ARTEMIS-4622</a> - Upgrade Selenium to 4.17.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4623">ARTEMIS-4623</a> - Upgrade SLF4J to 2.0.11</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4624">ARTEMIS-4624</a> - Upgrade TestContainers to 1.19.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4631">ARTEMIS-4631</a> - Upgrade Spring to 5.3.33</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4632">ARTEMIS-4632</a> - Upgrade Apache HTTP Client to 4.5.14</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4633">ARTEMIS-4633</a> - Upgrade Apache HTTP Core to 4.4.16</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4634">ARTEMIS-4634</a> - Upgrade Maven Plugin Annotations to 3.11.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4635">ARTEMIS-4635</a> - Upgrade Arquillian &amp; Weld dependencies</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4636">ARTEMIS-4636</a> - Upgrade OpenWebBeans to 2.0.27</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4672">ARTEMIS-4672</a> - Upgrade Netty to 4.107.Final</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
