<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.29.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.29.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-2431">ARTEMIS-2431</a> - [AMQP] Broker does not send security errors for unauthorized anonymous sasl with pipelined open</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-2824">ARTEMIS-2824</a> - _AMQ_Client_ID on SESSION_CLOSED notification is always null</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3640">ARTEMIS-3640</a> - external clients cannot use cluster topology for HA or load balancing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3809">ARTEMIS-3809</a> - LargeMessageControllerImpl hangs the message consume</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4082">ARTEMIS-4082</a> - AcknowledgementTest.testDupsOKAcknowledgeQueue test is flakey</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4143">ARTEMIS-4143</a> - Improve mitigation against split-brain with shared-storage</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4153">ARTEMIS-4153</a> - Support “offline” Maven</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4155">ARTEMIS-4155</a> - Broker will dead lock if sending OpenWire Large Messages With Journal Retention configured.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4157">ARTEMIS-4157</a> - Error setting broker properties for AddressSettings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4160">ARTEMIS-4160</a> - jolokia-access.xml getting invalid XML from hostname during instance creation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4161">ARTEMIS-4161</a> - AMQP and OpenWire have a few Leaks during open and close connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4162">ARTEMIS-4162</a> - Support deleting addresses and queues without usage check</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4163">ARTEMIS-4163</a> - Fix concurrency on Large Message parsing in OpenWire</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4168">ARTEMIS-4168</a> - Keycloak example is broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4170">ARTEMIS-4170</a> - Remove redundant queue creation for OpenWire</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4171">ARTEMIS-4171</a> - Potential large message file leak</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4172">ARTEMIS-4172</a> - Sending large message via core skips plugins &amp; audit logging</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4175">ARTEMIS-4175</a> - JournalFileImpl Leaking</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4176">ARTEMIS-4176</a> - Console custom root redirect ignored</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4177">ARTEMIS-4177</a> - Misleading documentation for “Logging the clients remote address”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4183">ARTEMIS-4183</a> - Broker diagram is not properly updated when new nodes become available</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4185">ARTEMIS-4185</a> - Resending compressed message uncompressed throws exception in consumer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4188">ARTEMIS-4188</a> - creating dynamicQueues from an JavaEE MDB applies configured messageSelector as per-queue filters</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4190">ARTEMIS-4190</a> - config-delete-queues doesn’t always work as expected</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4191">ARTEMIS-4191</a> - JournalImpl::needs compact should include more logging to enable eventual investigations</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4193">ARTEMIS-4193</a> - Interrupting Large Message Streaming with a server kill may leave orphaned files</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4196">ARTEMIS-4196</a> - MQTT cluster message distribution is broken with OFF and OFF_WITH_REDISTRIBUTION loadbalancing types</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4199">ARTEMIS-4199</a> - PageCounter leaving record out of Transaction</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4201">ARTEMIS-4201</a> - Not sending proper MQTT disconnect code on stolen link</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4206">ARTEMIS-4206</a> - Unreferenced AMQP Large Messages are not removed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4207">ARTEMIS-4207</a> - Redistribution may leave large messages stranded</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4208">ARTEMIS-4208</a> - OpenWire ChunkSend issuing CriticalAnalyzer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4209">ARTEMIS-4209</a> - “User ID” in web console prefixed with “ID:ID:” for AMQP messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4211">ARTEMIS-4211</a> - AMQ222153: Cannot locate record in bidirectional upstream queue federation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4215">ARTEMIS-4215</a> - JournalFlush might never happen when journal-sync-* is false</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4233">ARTEMIS-4233</a> - QueueImpl::NPE on holder.iter == null</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4234">ARTEMIS-4234</a> - EmbeddedActiveMQResource is able to receive only first message</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4235">ARTEMIS-4235</a> - Losing bridge connection when sending empty Openwire map message.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4238">ARTEMIS-4238</a> - transaction timeout ActivationConfigProperty is no longer working</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4241">ARTEMIS-4241</a> - Paging + FQQN is broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4243">ARTEMIS-4243</a> - ActiveMQ Artemis CLI fails to export bindings without routing types</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4247">ARTEMIS-4247</a> - Inconsistencies between AMQP Mirror and Artemis Clustering</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4249">ARTEMIS-4249</a> - Failure to create internal MQTT consumer can orphan subscription queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4258">ARTEMIS-4258</a> - delayBeforeDispatch not working with OpenWire</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4259">ARTEMIS-4259</a> - JMS consumer + FQQN + selector not working</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4266">ARTEMIS-4266</a> - Mitigate NPE with bad SSL config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4267">ARTEMIS-4267</a> - Original exception lost for NoCacheLoginException</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4268">ARTEMIS-4268</a> - AMQPMessage copy constructor shouldn’t copy all message annotations</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4273">ARTEMIS-4273</a> - Mask command not picking up codec properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4275">ARTEMIS-4275</a> - _AMQ_ConsumerName is missing from Consumer Created/Closed notifications</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4278">ARTEMIS-4278</a> - Incorrect Page Counters when using Prepared Transactions with Paging</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4279">ARTEMIS-4279</a> - CriticalAnalyzer thread does not shut down if error during broker initialization</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4281">ARTEMIS-4281</a> - Queue Reaper may remove non empty queues</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4282">ARTEMIS-4282</a> - Sending Large ApplicationProperties section in a transactional session may break the server.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4286">ARTEMIS-4286</a> - Sometimes federated consumer won’t stop</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4298">ARTEMIS-4298</a> - Journal Retention Duplicated files during replication</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4302">ARTEMIS-4302</a> - NPE on JournalTransaction::forget</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4303">ARTEMIS-4303</a> - Artemis Windows Service fails to start correctly when filepath has a space</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4309">ARTEMIS-4309</a> - Large JMS ObjectMessage types result in UTFDataFormatException when deserialized on client side</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4312">ARTEMIS-4312</a> - Duplicates with redistribution and multiple multicast queues on the same address</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4195">ARTEMIS-4195</a> - Auth callback to get Client ID</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4244">ARTEMIS-4244</a> - Set web config using system properties</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4169">ARTEMIS-4169</a> - Auto detect dead-letter and expiry queues in the console</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4186">ARTEMIS-4186</a> - Ability to set compressionLevel for compressLargeMessages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4200">ARTEMIS-4200</a> - Allow configuring link-stealing behavior for MQTT</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4202">ARTEMIS-4202</a> - expand coverage of noCacheExceptions in LDAPLoginModule</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4204">ARTEMIS-4204</a> - Connectors added via management are not durable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4210">ARTEMIS-4210</a> - Audit connection creation &amp; destruction</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4212">ARTEMIS-4212</a> - Unexpected Behavior when Routing Type of Destinations Doesn’t Match Clients</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4236">ARTEMIS-4236</a> - Reorganize default broker.xml around paging configuration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4239">ARTEMIS-4239</a> - use StandardCharsets.UTF_8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4245">ARTEMIS-4245</a> - Expose web SNI settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4251">ARTEMIS-4251</a> - Support CORE client failover to other live servers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4256">ARTEMIS-4256</a> - properties config - support removal</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4262">ARTEMIS-4262</a> - Clarify wildcard syntax documentation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4263">ARTEMIS-4263</a> - support access to our JaasCallbackhandler from a jdk http Authenticator</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4265">ARTEMIS-4265</a> - Make more web console tabs conditional on permission</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4274">ARTEMIS-4274</a> - Push masked credential support into core client</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4280">ARTEMIS-4280</a> -  Kubernetes JaaS LoginModule extract role info from review groups</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4283">ARTEMIS-4283</a> - Fail fast CORE client connect on closing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4284">ARTEMIS-4284</a> - Openwire prefetched messages can be out of order for a single consumer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4285">ARTEMIS-4285</a> - Disable Redelivery Persistence for new broker installations.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4291">ARTEMIS-4291</a> - Some metrics do not have the “broker” tag</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4292">ARTEMIS-4292</a> - Support additional Micrometer system metrics</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4293">ARTEMIS-4293</a> - Add management ops to clear authn/z caches</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4294">ARTEMIS-4294</a> - Support text WebSocket encoding</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4297">ARTEMIS-4297</a> - Allow regex in no-cache exception config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4313">ARTEMIS-4313</a> - Bridge does not retry if destination is full when configured to FAIL</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4324">ARTEMIS-4324</a> - extensible OCI image  tar for the broker; java -jar with properties files and optional base xml config</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4218">ARTEMIS-4218</a> - Support console smoke tests from remote servers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4223">ARTEMIS-4223</a> - compatibility tests fail on JDK builds with version qualifiers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4248">ARTEMIS-4248</a> - Fix PagingTest::testSimpleResume</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4250">ARTEMIS-4250</a> - ShutdownOnCriticalIOErrorMoveNextTest failing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4252">ARTEMIS-4252</a> - Fix flaky QuorumFailOverTest tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4253">ARTEMIS-4253</a> - disabling a few ActiveMQServerControlUsingCoreTest tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4254">ARTEMIS-4254</a> - Transactional / Replication Soak Test</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4290">ARTEMIS-4290</a> - Move some tests out of integration-tests into a new module where these tests will run individually</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4308">ARTEMIS-4308</a> - Add tests for JDBC and Paging in Soak tests</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4150">ARTEMIS-4150</a> - Disable Log4j2 MBean by default</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4151">ARTEMIS-4151</a> - Tighten default MBean access</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4178">ARTEMIS-4178</a> - Fixing typo on amqp-broker-connections.md</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4181">ARTEMIS-4181</a> - Make try-with-resources style consistent</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4224">ARTEMIS-4224</a> - Manage memory consumption on the test suite</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4237">ARTEMIS-4237</a> - Move SoakPagingTest and ReplicationFlowControlTest into soak-tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4288">ARTEMIS-4288</a> - Update to maven-bundle-plugin 5.1.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4299">ARTEMIS-4299</a> - Exclude unused json-smart dependency</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4158">ARTEMIS-4158</a> - Upgrade doc generation utilities</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4179">ARTEMIS-4179</a> - Upgrade keycloak version to 21.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4194">ARTEMIS-4194</a> - Upgrade CheckLeak to 0.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4198">ARTEMIS-4198</a> - Upgrade qpid/proton-j to 0.34.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4203">ARTEMIS-4203</a> - Replace aether-api with maven-resolver-api 1.9.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4221">ARTEMIS-4221</a> - update to Groovy 4.0.10</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4222">ARTEMIS-4222</a> - Update to Mockito 5.2.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4226">ARTEMIS-4226</a> - Upgrade guava version to 31.1-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4227">ARTEMIS-4227</a> - Upgrade opentelemetry version to 1.24.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4228">ARTEMIS-4228</a> - Upgrade testcontainers version to 1.17.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4229">ARTEMIS-4229</a> - Upgrade selenium version to 4.8.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4269">ARTEMIS-4269</a> - Upgrade netty version to 4.1.93.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4271">ARTEMIS-4271</a> - Update to Spring 5.3.27</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4272">ARTEMIS-4272</a> - Update to Jetty 10.0.15</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4287">ARTEMIS-4287</a> - Update to Qpid JMS 1.9.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4289">ARTEMIS-4289</a> - update to Log4j 2.20.0</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
