<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.24.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.24.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12351822&amp;projectId=12315920">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.24.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.24.0</p>

<p>** Bug</p>
<ul>
  <li>[ARTEMIS-1964] - Address control has 2 methods to get same metric</li>
  <li>[ARTEMIS-3585] - Broken link in tests.md</li>
  <li>[ARTEMIS-3743] - Discrepancy in message counts / address sizes</li>
  <li>[ARTEMIS-3766] - Mirror is not using AckReason to perform similar operations on the target mirror</li>
  <li>[ARTEMIS-3767] - Replication inconsistencies between 2.17 and main</li>
  <li>[ARTEMIS-3815] - Target mirror controller may commit received message after receiving ACK for it</li>
  <li>[ARTEMIS-3820] - expired AMQP messages do not show value for “original queue”</li>
  <li>[ARTEMIS-3840] - Core bridges with concurrency &gt; 1 will get removed on configuration reload</li>
  <li>[ARTEMIS-3851] - MQTT subscription queues exist after restart despite CleanSession=1</li>
  <li>[ARTEMIS-3858] - navigating from session to related consumers/producers gives NPE</li>
  <li>[ARTEMIS-3859] - Offer “Original Queue” column only for dead-letter or expiry queues</li>
  <li>[ARTEMIS-3862] - Short lived subscription can make the addressSize out of sync.</li>
  <li>[ARTEMIS-3863] - properties config - allow role configuration</li>
  <li>[ARTEMIS-3864] - Stomp Transactions are leaking sessions on ActiveMQServer</li>
  <li>[ARTEMIS-3868] - Journal Compactor split logic creating too many files</li>
  <li>[ARTEMIS-3886] - Fix CLI operation retry</li>
  <li>[ARTEMIS-3890] - LVQ - missing and duplicate messages for existing consumer</li>
  <li>[ARTEMIS-3891] - properties config - allow divert/transformer configuration</li>
  <li>[ARTEMIS-3892] - User limits not working with certificate authentication</li>
  <li>[ARTEMIS-3894] - properties config - allow core bridge configuration</li>
  <li>[ARTEMIS-3895] - properties config - treat url with / as directory of alphabetically ordered &lt;..&gt;.properties files</li>
  <li>[ARTEMIS-3896] - Clarify logging for transactional ops</li>
  <li>[ARTEMIS-3905] - Can’t find “Connect” tab on Artemis Console Navigation Menu</li>
</ul>

<p>** New Feature</p>
<ul>
  <li>[ARTEMIS-3850] - Eliminate Soft Cache in paging, and add reading options</li>
  <li>[ARTEMIS-3873] - AMQP Broker Connection Encrypted Attributes</li>
</ul>

<p>** Improvement</p>
<ul>
  <li>[ARTEMIS-3888] - Make web console detection more robust</li>
</ul>

<p>** Test</p>
<ul>
  <li>[ARTEMIS-3874] - reduce use of test-jar and related module/test interdependencies</li>
</ul>

<p>** Task</p>
<ul>
  <li>[ARTEMIS-3558] - [DOC] Add broker-connections to broker.xml reference</li>
  <li>[ARTEMIS-3870] - Mark the -all client deps as optional in the distribution pom to avoid clashing/duplicate deps</li>
  <li>[ARTEMIS-3876] - avoid unecessary artemis-native dependency unpack for each module</li>
  <li>[ARTEMIS-3877] - move javadoc creation to release profile as with other site content</li>
  <li>[ARTEMIS-3883] - align various dependency versions used in build/test/examples</li>
  <li>[ARTEMIS-3885] - refresh documentation build deps</li>
  <li>[ARTEMIS-3899] - Improve salt calculation</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2022, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
