<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.2.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.2.0 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12340541">here</a>.</p>

<h4 id="bug">Bug</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-565">ARTEMIS-565</a>] - Artemis use no free json.org</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1154">ARTEMIS-1154</a>] - Backup activates if isolated on the network with no network health check</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1155">ARTEMIS-1155</a>] - JDBC Sequential File would leak after open</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1164">ARTEMIS-1164</a>] - NameNotFoundException when using java.naming.provider.url to set url via jndi</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1172">ARTEMIS-1172</a>] - ActiveMQServerPlugin beforeDeliver and afterDeliver should pass in the ServerConsumer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1173">ARTEMIS-1173</a>] - AMQP assumes divert route to be non-null</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1175">ARTEMIS-1175</a>] - Memory Leak Mqtt</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1178">ARTEMIS-1178</a>] - Backwards compatibility issues</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1180">ARTEMIS-1180</a>] - Artemis is logging warnings during server shut down</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1186">ARTEMIS-1186</a>] - Consumer.receive hangs if http acceptor with non-zero batch-delay is configured</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1187">ARTEMIS-1187</a>] - Incompatible version when recreating a session with older server</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1189">ARTEMIS-1189</a>] - Fix checkstyle violations post checkstyle upgrade</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1190">ARTEMIS-1190</a>] - Long/int type mismatch in JDBCSequentialFile.setWritePosition</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1193">ARTEMIS-1193</a>] - [extra-tests] StartStopDeadlockTest#testDeadlock gets stuck</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1195">ARTEMIS-1195</a>] - Artemis.create filters should be independent</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1196">ARTEMIS-1196</a>] - Unusable JSON api on Karaf</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1197">ARTEMIS-1197</a>] - Missing browse permission on Karaf</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1204">ARTEMIS-1204</a>] - JDBCSequentialFile getSize does not work if the file is not open</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1205">ARTEMIS-1205</a>] - AMQP Shared Durable Subscriber incorrect behaviour.</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1206">ARTEMIS-1206</a>] - [Core JMS Client] Violates JMS Specification - allows two active connections with same clientid</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1207">ARTEMIS-1207</a>] - [Core JMS Client] Align order of when setClientId can be called with AcitveMQ5 and QPID</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1208">ARTEMIS-1208</a>] - Do not use reconnect-atempts=-1 in tests</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1209">ARTEMIS-1209</a>] - JMS OpenWire client cannot read notifications from activemq.notifications topic</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1212">ARTEMIS-1212</a>] - [extra-tests] HornetQProtocolManagerTest fails on InvalidDestinationException</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1215">ARTEMIS-1215</a>] - Broker startup issue with MQTT</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1220">ARTEMIS-1220</a>] - Diverted LargeMessage file corrupted during replication</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1221">ARTEMIS-1221</a>] - Duplicated ID causes LargeMessage lost at backup</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1223">ARTEMIS-1223</a>] - OutOfDirectMemoryError raised from TimedBuffer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1224">ARTEMIS-1224</a>] - Journal File Size needs to be multiple of alignment size</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1225">ARTEMIS-1225</a>] - Log messages without prefixed id code in artemis-ra</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1226">ARTEMIS-1226</a>] - Log messages without prefixed id code in artemis-jms-client</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1228">ARTEMIS-1228</a>] - Log messages without prefixed id code in artemis-rest</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1232">ARTEMIS-1232</a>] - deserialization black/white list are not used by regular JMS connection factories</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1233">ARTEMIS-1233</a>] - Wrong Log level set on backupDeletingData log message.</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1240">ARTEMIS-1240</a>] - Disconnect at client side on decoding error</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1242">ARTEMIS-1242</a>] - OpenWire Transactions never removed</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1243">ARTEMIS-1243</a>] - Release ReferenceCounted messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1244">ARTEMIS-1244</a>] - [mqtt] Retain flag of received message is lost (caught by outgoing interceptor)</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1246">ARTEMIS-1246</a>] - AMQ119019: Queue already exists</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1247">ARTEMIS-1247</a>] - Allow tracing on ReplicatedJournal</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1250">ARTEMIS-1250</a>] - ClusteredMessageCounterTest.testNonDurableMessageAddedWithPaging fails</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1251">ARTEMIS-1251</a>] - Log messages without prefixed id code in artemis-jms-server</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1253">ARTEMIS-1253</a>] - Regression: NetworkHealthCheck is not restarting the server</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1254">ARTEMIS-1254</a>] - JDBCStorageManager does not allocate LargeMessage handler new executor</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1256">ARTEMIS-1256</a>] - PagingOMETest.testPageCleanup fails</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1257">ARTEMIS-1257</a>] - ActiveMQActivationSpec.java should use boxed types for attributes values according to the JCA specification</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1259">ARTEMIS-1259</a>] - Log messages without prefixed id code in artemis-server-osgi</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1261">ARTEMIS-1261</a>] - Adjust default confirmation-window-size for bridges</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1268">ARTEMIS-1268</a>] - stomp client can send large message but not receive</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1269">ARTEMIS-1269</a>] - Replication Initial Synchronization won’t finish sometimes</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1272">ARTEMIS-1272</a>] - Artemis incorrectly handle MQTT acknowledgement</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1274">ARTEMIS-1274</a>] - MultipleProducersTest.wrongQueue fails</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1277">ARTEMIS-1277</a>] - purgeOnNoConsumer is not working properly</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1280">ARTEMIS-1280</a>] - Redistribution Future does not get deleted if it gets canceled before it’s run</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1282">ARTEMIS-1282</a>] - createQueue(String address, RoutingType routingType, String queueName) is creating a temporaryQueue</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1283">ARTEMIS-1283</a>] - AMQP Drain of a link encounters unexpected response delay</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1284">ARTEMIS-1284</a>] - Deleting queue is not cleaning up Paging</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1288">ARTEMIS-1288</a>] - Crash on compacting could leave to server not being able to restart</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1289">ARTEMIS-1289</a>] - Unable to configure queues containing “/” in broker.xml</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1290">ARTEMIS-1290</a>] - Prefixes are not prepended on QueueQuery Results</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1292">ARTEMIS-1292</a>] - Removing paging folder can lead to message loss</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1293">ARTEMIS-1293</a>] - Log messages without prefixed id code in artemis-commons</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1294">ARTEMIS-1294</a>] - TimedBuffer is not timing, reverting timeout policy</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1296">ARTEMIS-1296</a>] - Quorum vote doesn’t check for live</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1300">ARTEMIS-1300</a>] - Sending Core &amp; receiving AMQP can lead to deadlock when direct delivering</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1301">ARTEMIS-1301</a>] - Network failures recognition on backpressure while streaming large messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1304">ARTEMIS-1304</a>] - Communication Timeout on Commit &amp; Failover can lead to message loss</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1311">ARTEMIS-1311</a>] - Log messages without prefixed id code in artemis-core-client</li>
</ul>

<h4 id="improvement">Improvement</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1129">ARTEMIS-1129</a>] - Client Dependencies</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1156">ARTEMIS-1156</a>] - Long Autoboxing occurring on Hot Path</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1158">ARTEMIS-1158</a>] - Expose Netty.channelID properly</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1159">ARTEMIS-1159</a>] - Fixes and Improvement to the AMQP test client</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1162">ARTEMIS-1162</a>] - Make new Adapting TimedBuffer and old Fixed TimedBuffer configurable</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1163">ARTEMIS-1163</a>] - Refactory connection factory client creation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1169">ARTEMIS-1169</a>] - Implement Interceptors for the AMQP protocol</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1174">ARTEMIS-1174</a>] - Update Hacking Guide Documentation: IDE Integration</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1176">ARTEMIS-1176</a>] - Use text messages for management reply messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1179">ARTEMIS-1179</a>] - Add Optional Client JMS Destination Cache</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1188">ARTEMIS-1188</a>] - Update sevntu to 1.24.0 available in maven central</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1211">ARTEMIS-1211</a>] - Allow local transactions when no jta in Resource Adapter</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1214">ARTEMIS-1214</a>] - Improve performance of read on Paging</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1248">ARTEMIS-1248</a>] - Reduce garbage while Paging</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1252">ARTEMIS-1252</a>] - Add service loading of password codec to obtain its implementation from the application’s root context, rather than using a class loader</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1258">ARTEMIS-1258</a>] - ActiveMQServerPlugin beforeSend and afterSend should pass in ServerSession</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1302">ARTEMIS-1302</a>] - Make quorum voting more transparent</li>
</ul>

<h4 id="new-feature">New Feature</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-821">ARTEMIS-821</a>] - Support scheduled messages with the STOMP protocol</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1182">ARTEMIS-1182</a>] - Add / Port in support for JNDIReferenceFactory and JNDIStorable</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1235">ARTEMIS-1235</a>] - Support the ability to enable queue and address deletion when broker.xml changes</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1264">ARTEMIS-1264</a>] - Client authentication via Kerberos TLS Cipher Suites (RFC 2712).</li>
</ul>

<h4 id="task">Task</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1153">ARTEMIS-1153</a>] - Create an .NET client example for AMQP and Durable Subscriptions</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1168">ARTEMIS-1168</a>] - Update Qpid JMS to 0.23.0 and Proton-J to 0.19.0</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1266">ARTEMIS-1266</a>] - Mapped Journal refactoring</li>
</ul>

<h4 id="test">Test</h4>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1160">ARTEMIS-1160</a>] - AMQP Test client doesn’t configure its netty WS handler with the AMQP frame size</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1166">ARTEMIS-1166</a>] - Handle WebSocket continuation frames on AMQP test client</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1167">ARTEMIS-1167</a>] - Add test to validate broker handling of AMQP idle timeout handling</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1276">ARTEMIS-1276</a>] - [openwire-tests] Enable more OpenWire tests (from ActiveMQ 5)</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1287">ARTEMIS-1287</a>] - Test Suite cleanups</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
