<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.10.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.10.0 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12345602">here</a></p>

<p>A list of commits can be found <a href="commit-report-2.10.0">here</a>.</p>

<h2 id="bug">Bug</h2>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1011">ARTEMIS-1011</a>] - Slow consumer detection - producer msg/s rate for queue should take into account messages which are already in queue</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1825">ARTEMIS-1825</a>] - Live-backup topology not correctly displayed on console</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-1982">ARTEMIS-1982</a>] - Queue#MessageCount negative and messages stop flowing to AMQP consumer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2002">ARTEMIS-2002</a>] - Proton transport objects leaked if client disconnects abruptly leading to OutOfMemoryError: Java heap space</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2069">ARTEMIS-2069</a>] - Backup doesn’t activate after shared store is reconnected</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2128">ARTEMIS-2128</a>] - Replication - 2nd backup server is unable to go into passive mode</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2327">ARTEMIS-2327</a>] - JMS Connection ExceptionListener not invoked when ActiveMQConnectionTimedOutException occurs on sendPacket</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2350">ARTEMIS-2350</a>] - ClassNotFoundException while invoking ActiveMQServerControlImpl::listConsumers</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2366">ARTEMIS-2366</a>] - artemis-service start failed by java.lang.NoClassDefFoundError</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2368">ARTEMIS-2368</a>] - Fix races on closing consumer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2371">ARTEMIS-2371</a>] - AMQP: message with very large header shuts broker down</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2374">ARTEMIS-2374</a>] - JournalStorageManager::addBytesToLargeMessage leaks ByteBuffer</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2378">ARTEMIS-2378</a>] - openwire redelivery counter for message increasing, if consumer is closed without consuming any message</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2386">ARTEMIS-2386</a>] - MQTT should use internal calls for QOS2</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2390">ARTEMIS-2390</a>] - JMSMessageID header can be null when messages are cross-protocol</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2391">ARTEMIS-2391</a>] - Statically created addresses may be auto-deleted</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2395">ARTEMIS-2395</a>] - Empty address.txt causes NPE</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2403">ARTEMIS-2403</a>] - Consumer command, clientID is not saved during JMS exception</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2405">ARTEMIS-2405</a>] - Resource adapter getter should return wrapped objects and not primitive</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2407">ARTEMIS-2407</a>] - Large message file not deleted if broker crashes between page deleted and pending large message written</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2408">ARTEMIS-2408</a>] - Too many opened FDs after server stops</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2409">ARTEMIS-2409</a>] - HornetQ client vs Artemis broker compatibility: issue while using JMSMessageID as selector</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2410">ARTEMIS-2410</a>] - max-saved-replicated-journals-size=0 throws ArrayIndexOutOfBoundsException</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2414">ARTEMIS-2414</a>] - Sync before closing file in case data loss</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2418">ARTEMIS-2418</a>] - Race conditions between cursor movement and page writing</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2425">ARTEMIS-2425</a>] - Message loss due to writing incomplete page file</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2429">ARTEMIS-2429</a>] - Swapped arguments to registerQueueGauge cause wrong tags on metrics</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2430">ARTEMIS-2430</a>] - Avoid data loss when live page cache evicted</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2437">ARTEMIS-2437</a>] - AMQP message conversion fails if annotations contain values outwith simple property types</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2439">ARTEMIS-2439</a>] - ServerSessionImpl cache does not clear names of deleted temporary destinations</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2440">ARTEMIS-2440</a>] - Connection.fail should be executed on a separate thread</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2444">ARTEMIS-2444</a>] - Artemis hawtio plugin overriding sublevel tabs</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2448">ARTEMIS-2448</a>] - group-name ignored in replicated colocated setup</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2450">ARTEMIS-2450</a>] - page-size-bytes should not be greater than Integer.MAX_VALUE</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2453">ARTEMIS-2453</a>] - DeadLock between server.destroyQueue and server.removeAddressInfo</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2454">ARTEMIS-2454</a>] - AMQPMessage re-encode may damage the message body and application properties.</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2459">ARTEMIS-2459</a>] - Fix err in the replacement of a non-destructively consumed LVQ message</li>
</ul>

<h2 id="new-feature">New Feature</h2>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2364">ARTEMIS-2364</a>] - Implement collision avoidance for redelivery</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2401">ARTEMIS-2401</a>] - Implement the Pause method for a Topic</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2412">ARTEMIS-2412</a>] - Full connection configuration through JNDI</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2457">ARTEMIS-2457</a>] - Implement ring queue</li>
</ul>

<h2 id="improvement">Improvement</h2>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2322">ARTEMIS-2322</a>] - Expose Queue.getRate() data as JMX metric</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2336">ARTEMIS-2336</a>] - Use zero copy to replicate journal/page/large message file</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2338">ARTEMIS-2338</a>] - Live server does not shutdown when using vote-on-replication-failure</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2358">ARTEMIS-2358</a>] - Add user and pass to database store to allow encryption</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2376">ARTEMIS-2376</a>] - Remove guava dependency from OSGi feature</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2377">ARTEMIS-2377</a>] - Masked password does not work in LDAP security-setting-plugin</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2381">ARTEMIS-2381</a>] - ActiveMQJMSConnectionFactory - Allow to configure brokerURL via setter</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2382">ARTEMIS-2382</a>] - Reclaimer doesn’t need to be instantiatable</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2384">ARTEMIS-2384</a>] - AMQ224091 message does not provide reason why bridge connection fails</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2385">ARTEMIS-2385</a>] - Log header for rejecting message with too large header</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2387">ARTEMIS-2387</a>] - Add schedule count and routing type to the queue stat command</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2389">ARTEMIS-2389</a>] - Add more details to AMQ212037</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2392">ARTEMIS-2392</a>] - Enable remove on cancel policy for scheduled pool</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2394">ARTEMIS-2394</a>] - Improve scheduling synchronization for AMQPConnectionContext</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2399">ARTEMIS-2399</a>] - Improve Paging performance when there are a lot of subscribers</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2428">ARTEMIS-2428</a>] - Exposing shutdownTimeout and gracePeriodTimeout on acceptor as properties</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2433">ARTEMIS-2433</a>] - Support LDAP role mapping of SASL EXTERNAL credentials</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2434">ARTEMIS-2434</a>] - Don’t lock ServerConsumerImpl for long period of time</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2435">ARTEMIS-2435</a>] - Configuration on device-block-size through CLI / broker.xml</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2438">ARTEMIS-2438</a>] - Server Activations should remove themselves after shutdown</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2441">ARTEMIS-2441</a>] - Use separate file for locking broker and backup</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2447">ARTEMIS-2447</a>] - Allow mapping admin permission to manage permission in LegacyLDAPSecuritySettingsPlugin</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2449">ARTEMIS-2449</a>] - Limit size of producer details</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2451">ARTEMIS-2451</a>] - eliminate knownDestinations cache</li>
</ul>

<h2 id="task">Task</h2>

<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2348">ARTEMIS-2348</a>] - The Versions page is out of date</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2354">ARTEMIS-2354</a>] - Improve compatibillity of tests with JDK 11</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2359">ARTEMIS-2359</a>] - Upgrade to Guava 24.1</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2363">ARTEMIS-2363</a>] - spring-core-5.0.1.RELEASE.jar vulnerable to CVE-2018-15756</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2367">ARTEMIS-2367</a>] - Test Data dir bening created outside the target dir in artemis-server</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2379">ARTEMIS-2379</a>] - AMQP: Update Qpid JMS and Proton-J to latest releases</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2383">ARTEMIS-2383</a>] - Upgrade to Guava 24.1.1</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2396">ARTEMIS-2396</a>] - Clarify documentation on how to add users</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2458">ARTEMIS-2458</a>] - AMQP Transaction rollback causes loss of message order</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2461">ARTEMIS-2461</a>] - Update qpid-jms to 0.45</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2024, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
