<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.42.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.42.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 17 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3110">ARTEMIS-3110</a> - PullMessage timeout is ignored</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4140">ARTEMIS-4140</a> - HTTP Transport - Wrong authority compoment in HTTP request causes 400 Bad Request</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4967">ARTEMIS-4967</a> - store.commit(txDeleteCursorOnReload); may not be reachable in processReload() method</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4993">ARTEMIS-4993</a> - ActiveMQIOErrorException for transformed messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5134">ARTEMIS-5134</a> - Incorrect address size calculated due to a race condition in AMQP application properties decode process</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5349">ARTEMIS-5349</a> - Bridges with concurrency can leak</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5377">ARTEMIS-5377</a> - Deadlock and Crash of Artemis Broker When Restarting a Bridged Peer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5444">ARTEMIS-5444</a> - Refactor temp-queue-namespace</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5446">ARTEMIS-5446</a> - Memory leak on Artemis backup node with failover &amp; failback</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5452">ARTEMIS-5452</a> - Hierarchical Topics extra size added</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5458">ARTEMIS-5458</a> - Incorrect capitalization of transport constant “connectionTTL” in documentation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5463">ARTEMIS-5463</a> - ServerStatus.instance.server leaking instances between restarts</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5465">ARTEMIS-5465</a> - Connection router doesn’t resolve the USER_NAME key with TextFileCertificateLoginModule</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5466">ARTEMIS-5466</a> - ClassCastException in AuthenticationFilter after upgrade from 2.38.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5467">ARTEMIS-5467</a> - High CPU usage in OutboundStore.generateMqttId</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5469">ARTEMIS-5469</a> - MQTT5 flow control rules violation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5481">ARTEMIS-5481</a> - Accumulation activemq.managment queues and addresses, increase connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5517">ARTEMIS-5517</a> - MQTT subscription identifier can’t be nullified</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5520">ARTEMIS-5520</a> - JSON broker properties for map entries with dots cause NPE</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5521">ARTEMIS-5521</a> - brokerProperties - storeConfiguration.dataSourceProperties values don’t support conversion from string</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5522">ARTEMIS-5522</a> - MQTT LWT not sent after subsequent disconnects on same session</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5523">ARTEMIS-5523</a> - AddressSize might be incorrect with race condition between AMQPMessage.getMemoryEstimate and lazyDecodeProperties.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5536">ARTEMIS-5536</a> - Openwire Flowcontrol Hardening</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5540">ARTEMIS-5540</a> - Expire MQTT 3.x session immediately when defaultMqttSessionExpiryInterval is 0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5554">ARTEMIS-5554</a> - Minor resources leaks when using CLI</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5564">ARTEMIS-5564</a> - Unecessary scans on Mirror ACKManager</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5574">ARTEMIS-5574</a> - Fix handling of pending large messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5575">ARTEMIS-5575</a> - Potential NPE during MQTT link stealing</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3692">ARTEMIS-3692</a> - Extend Functionality of Temporary Queue Namespace to Security Settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5316">ARTEMIS-5316</a> - Support for SASL XOAUTH2 Mechanism in Broker Connection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5493">ARTEMIS-5493</a> - MQTT max in-flight messages setting</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-615">ARTEMIS-615</a> - Prompt users if they are browsing documentation for older release</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4032">ARTEMIS-4032</a> - Empty journal folders are created even when the jdbc store is used</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5121">ARTEMIS-5121</a> - Improve performance of MQTT subscription ID matching</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5476">ARTEMIS-5476</a> - Add a durable subscription option to AMQP bridge senders and receivers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5485">ARTEMIS-5485</a> - Use parent address to deploy queues by broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5498">ARTEMIS-5498</a> - Scan cluster topology to detect wrong discovery entries</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5499">ARTEMIS-5499</a> - Refactor MQTT subscription persistence</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5519">ARTEMIS-5519</a> - Enable AMQP Bridge address receiver to use shared durable subscriptions</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5529">ARTEMIS-5529</a> - Only calculate publish props for MQTT 5 clients</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5541">ARTEMIS-5541</a> - MQTT documentation on session scan interval discrepancy</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5565">ARTEMIS-5565</a> - Add API for AMQP broker connections to add offered capabilities</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5464">ARTEMIS-5464</a> - Simplify LargeMessageInterruptTest</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5364">ARTEMIS-5364</a> - Clean up scripts &amp; profiles</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5468">ARTEMIS-5468</a> - Clarify docs on expiring messages from queue on expiry address</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5482">ARTEMIS-5482</a> - Remove documentation for specific IDEs</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5489">ARTEMIS-5489</a> - Provide an example showing AMQP bridges with broker connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5518">ARTEMIS-5518</a> - Fix case of “MessageCount” in AddressView</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5527">ARTEMIS-5527</a> - Use single default WildcardConfiguration instance</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5528">ARTEMIS-5528</a> - Replace SimpleString.containsEitherOf with WildcardConfiguration.isWild</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5533">ARTEMIS-5533</a> - Use Objects.requireNonNull() where sensible</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5534">ARTEMIS-5534</a> - Use Objects.requireNonNullElse() where sensible</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5535">ARTEMIS-5535</a> - Use Objects.toString() instead of ternary operator</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5539">ARTEMIS-5539</a> - Use Objects.hash consistently</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5542">ARTEMIS-5542</a> - Use Objects.equals consistently</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5543">ARTEMIS-5543</a> - Replace jline uber jar with module jars</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5553">ARTEMIS-5553</a> - Update default management address-settings match</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5555">ARTEMIS-5555</a> - Use TLS protocol for KubernetesClientImpl SSLContext</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5556">ARTEMIS-5556</a> - Initialize IO executor resources just once</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5559">ARTEMIS-5559</a> - Clarify Jolokia ignore-scheme in docs/config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5566">ARTEMIS-5566</a> - remove unused and invalid pluginManagement entry for jetty-maven-plugin</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5453">ARTEMIS-5453</a> - Bump com.google.errorprone:error_prone_core from 2.37.0 to 2.39.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5454">ARTEMIS-5454</a> - Bump picocli.version from 4.7.6 to 4.7.7</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5455">ARTEMIS-5455</a> - Bump testcontainers.version from 1.20.6 to 1.21.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5456">ARTEMIS-5456</a> - Bump jackson.version from 2.18.3 to 2.19.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5462">ARTEMIS-5462</a> - Update to Netty 4.1.121.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5477">ARTEMIS-5477</a> - Bump byteman.version from 4.0.24 to 4.0.25</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5478">ARTEMIS-5478</a> - Bump selenium.version from 4.31.0 to 4.34.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5479">ARTEMIS-5479</a> - Bump org.jline:jline from 3.29.0 to 3.30.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5480">ARTEMIS-5480</a> - Bump io.micrometer:micrometer-core from 1.14.6 to 1.15.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5487">ARTEMIS-5487</a> - Bump owb.version from 2.0.27 to 2.0.28</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5488">ARTEMIS-5488</a> - Bump org.easymock:easymock from 5.5.0 to 5.6.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5502">ARTEMIS-5502</a> - Bump mockito.version from 5.17.0 to 5.18.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5503">ARTEMIS-5503</a> - Bump com.puppycrawl.tools:checkstyle from 10.23.1 to 10.26.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5504">ARTEMIS-5504</a> - Bump io.netty:netty-tcnative-boringssl-static from 2.0.71.Final to 2.0.72.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5505">ARTEMIS-5505</a> - Bump commons-beanutils:commons-beanutils from 1.10.1 to 1.11.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5506">ARTEMIS-5506</a> - Bump org.apache.groovy:groovy-all from 4.0.26 to 4.0.27</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5507">ARTEMIS-5507</a> - Bump org.postgresql:postgresql from 42.7.5 to 42.7.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5508">ARTEMIS-5508</a> - Bump org.codehaus.mojo:exec-maven-plugin from 3.5.0 to 3.5.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5513">ARTEMIS-5513</a> - Bump org.junit:junit-bom from 5.12.2 to 5.13.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5524">ARTEMIS-5524</a> - Bump bc-java-version from 1.80 to 1.81</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5525">ARTEMIS-5525</a> - Bump org.codehaus.mojo:build-helper-maven-plugin from 3.6.0 to 3.6.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5526">ARTEMIS-5526</a> - Bump plugin.components.maven.version from 3.9.9 to 3.9.10</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5531">ARTEMIS-5531</a> - Bump owasp.version from 12.1.1 to 12.1.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5532">ARTEMIS-5532</a> - Bump com.github.ben-manes.caffeine:caffeine from 3.2.0 to 3.2.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5537">ARTEMIS-5537</a> - Bump org.postgresql:postgresql from 42.7.6 to 42.7.7</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5549">ARTEMIS-5549</a> - Bump org.apache:apache from 34 to 35</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5550">ARTEMIS-5550</a> - Bump log4j.version from 2.24.3 to 2.25.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5552">ARTEMIS-5552</a> - Bump com.google.cloud.tools:jib-maven-plugin from 3.4.5 to 3.4.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5561">ARTEMIS-5561</a> - upgrade console to 1.2.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5563">ARTEMIS-5563</a> - Bump org.apache.maven.plugins:maven-pmd-plugin from 3.26.0 to 3.27.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5567">ARTEMIS-5567</a> - Update to jetty 12.0.23</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5568">ARTEMIS-5568</a> - Update to arquillian 1.10.0</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
