<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.23.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.23.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12351677">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.23.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h1 id="bug">Bug</h1>
<ul>
  <li>[ARTEMIS-3376] - help text for “artemis address –no-anycast/–no-multicast” is incorrect</li>
  <li>[ARTEMIS-3810] - XID Resumes on already Active Transactions should not throw any error</li>
  <li>[ARTEMIS-3811] - QueueBinding type will clash with cluster connections</li>
  <li>[ARTEMIS-3816] - Connection router null pointer dereferences</li>
  <li>[ARTEMIS-3823] - Connection router - consistent hash modulo needs to deal with negative hash values</li>
  <li>[ARTEMIS-3824] - browse message screen does not display the reply-to address for amqp messages</li>
  <li>[ARTEMIS-3826] - properties config - allow address and queue configuration</li>
  <li>[ARTEMIS-3827] - OpenWire - Anonymous producers risk loosing their sent messages</li>
  <li>[ARTEMIS-3830] - Lots of large messages prevent startup when using JDBC backend</li>
  <li>[ARTEMIS-3833] - Distributed AMQP large messages lose JMSCorrelationID</li>
  <li>[ARTEMIS-3836] - Print-data may not print messages when middle stream is executed</li>
  <li>[ARTEMIS-3837] - Support getData() on AMQP Large Messages</li>
  <li>[ARTEMIS-3848] - High cpu usage on ReadWrite locks</li>
  <li>[ARTEMIS-3853] - Ping command for IPv6 is wrong on Windows</li>
</ul>

<h1 id="new-feature">New Feature</h1>
<ul>
  <li>[ARTEMIS-3700] - Provide JakartaEE 10 artefacts and support</li>
  <li>[ARTEMIS-3817] - Management schedulePageCleanup operation on AddressControl</li>
</ul>

<h1 id="improvement">Improvement</h1>
<ul>
  <li>[ARTEMIS-3759] - Allow for Mirroring (Broker Connections) to specify a specific set of addresses to send events, as is done for a cluster connection</li>
  <li>[ARTEMIS-3770] - Refactor MQTT handling of client ID</li>
  <li>[ARTEMIS-3807] - Simplify Message Redistributor avoiding races</li>
  <li>[ARTEMIS-3808] - Support starting/stopping the embedded web server via mangement</li>
  <li>[ARTEMIS-3821] - header field “properties.absoluteExpiryTime” is not annotated with readable date-time</li>
  <li>[ARTEMIS-3822] - Get broker name via management</li>
  <li>[ARTEMIS-3825] - Improve print-data to recognize queues that do not exist</li>
  <li>[ARTEMIS-3835] - Deprecate addressesSettings configuration attribute with double plural in place of addressSettings</li>
</ul>

<h1 id="dependency-upgrade">Dependency upgrade</h1>
<ul>
  <li>[ARTEMIS-3806] - Upgrade logging dependencies</li>
  <li>[ARTEMIS-3812] - Upgrade Micrometer</li>
  <li>[ARTEMIS-3814] - Update to ActiveMQ 5.17.1</li>
  <li>[ARTEMIS-3838] - Update Netty to 4.1.77.Final</li>
  <li>[ARTEMIS-3844] - Update maven dependencies</li>
  <li>[ARTEMIS-3845] - Update hawtio</li>
  <li>[ARTEMIS-3849] - Upgrade Spring Framework to 5.3.20</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
