<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.11.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.11.0 release can be found <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12315920&amp;version=12346258">here</a></p>

<p>A list of commits can be found <a href="commit-report-2.11.0">here</a>.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.11.0</p>

<h2 id="bug">Bug</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2421">ARTEMIS-2421</a>] - Implement periodic journal lock evaluation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2466">ARTEMIS-2466</a>] - PageSyncTimer::timeSync isn’t configurable using ASYNCIO journal</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2494">ARTEMIS-2494</a>] - Artemis responds with disposition Rejected if queue is full</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2497">ARTEMIS-2497</a>] - Allow configuring alternative reject behavior for AMQP</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2500">ARTEMIS-2500</a>] - LargeMessage doesn’t make a full copy of its props</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2505">ARTEMIS-2505</a>] - Unable to configure address-settings/max-size-bytes-reject-threshold</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2506">ARTEMIS-2506</a>] - MQTT doesn’t cleanup underlying connection for bad clients</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2508">ARTEMIS-2508</a>] - Crititical analyser trigger shutdown if removeAllMessages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2513">ARTEMIS-2513</a>] - Large message’s copy may be interfered by other threads</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2514">ARTEMIS-2514</a>] - Duplicate cache leak with clustered temp queues</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2517">ARTEMIS-2517</a>] - JMX Server is stopped after a failback</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2519">ARTEMIS-2519</a>] - ActiveMQUnexpectedRoutingTypeForAddress uses wrong enum type</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2521">ARTEMIS-2521</a>] - Role-mapping not described in documentation</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2526">ARTEMIS-2526</a>] - ActiveMQServerQueuePlugin calls wrong beforeDestroyQueue method</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2527">ARTEMIS-2527</a>] - Print-data may leave thread hanging when there’s paged data</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2529">ARTEMIS-2529</a>] - Update address-settings management</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2531">ARTEMIS-2531</a>] - FederatedQueue has invalid filter string leading to an infinite consumer loop</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2534">ARTEMIS-2534</a>] - Deleting addresses auto created on configuration reload</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2538">ARTEMIS-2538</a>] - Removing all messages from a huge queue causes OOM</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2550">ARTEMIS-2550</a>] - Unsupported STOMP Websocket Continuation Frames</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2554">ARTEMIS-2554</a>] - Queue control browse broken with large messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2560">ARTEMIS-2560</a>] - Duplicate messages created by cluster lead to OOME crash</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2564">ARTEMIS-2564</a>] - Possible durable message count error with retryMessages()</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2566">ARTEMIS-2566</a>] - Thread safety in the Client InitialContext</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2567">ARTEMIS-2567</a>] - Shared-store failback broken on NFS</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2570">ARTEMIS-2570</a>] - Very slow loading of Connections view</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2572">ARTEMIS-2572</a>] - The retryMessages remove all paged messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2577">ARTEMIS-2577</a>] - Thread leak test failure with IBM JRE</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2583">ARTEMIS-2583</a>] - Message permanently in “delivering” state if a JMS XA client crashes</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2592">ARTEMIS-2592</a>] - Purge Queues can lead to deadLock if paging and depaging happening at the same time.</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2593">ARTEMIS-2593</a>] - Thread leak test failure with OpenJ9 JVM</li>
</ul>

<h2 id="new-feature">New Feature</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2504">ARTEMIS-2504</a>] - Support retroactive addresses</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2540">ARTEMIS-2540</a>] - Display LargeMessage column in message browser of admin UI</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2541">ARTEMIS-2541</a>] - Improve rendering in message browser of Admin UI</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2549">ARTEMIS-2549</a>] - Add support for Downstream Federated Queues and Addresses</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2574">ARTEMIS-2574</a>] - Make security manager configurable via XML</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2580">ARTEMIS-2580</a>] - Support pluggable SSL TrustManagerFactory</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2503">ARTEMIS-2503</a>] - Improve wildcards for the roles access match</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2509">ARTEMIS-2509</a>] - Better legacy support for legacy openwire clients</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2512">ARTEMIS-2512</a>] - Move the LocalMonitor tick log</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2515">ARTEMIS-2515</a>] - pageIterator.hasNext spends too much time in the case of no messages matched</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2516">ARTEMIS-2516</a>] - Support system property in xinclude href</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2524">ARTEMIS-2524</a>] - Remove message from map in LVQ if it’s deleted/moved/expired/changed</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2535">ARTEMIS-2535</a>] - Add option to ignore PartialResultExceptions in LDAP searches</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2558">ARTEMIS-2558</a>] - Add the commented out args to dump the java heap on OOME</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2559">ARTEMIS-2559</a>] - Connection failure should rollback XA transactions if != Prepared</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2565">ARTEMIS-2565</a>] - Add plugin support for Federated Queues/Addresses</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2573">ARTEMIS-2573</a>] - io.netty:netty-tcnative-boringssl-static should be removed from distribution</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2578">ARTEMIS-2578</a>] - Clarify storage capacity messages</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2579">ARTEMIS-2579</a>] - [DOC] How to use custom logging handlers</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2581">ARTEMIS-2581</a>] - Make Duplicate Detection Optional on AMQP, default=true</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2584">ARTEMIS-2584</a>] - Optimize PageTransactionInfoImpl in-memory size</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2585">ARTEMIS-2585</a>] - Remove nested quotes from artemis.profile</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2590">ARTEMIS-2590</a>] - Support com.sun.jndi.ldap.read.timeout in LDAPLoginModule</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2591">ARTEMIS-2591</a>] - Add details to consumer lock timeout log</li>
</ul>

<h2 id="test">Test</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2569">ARTEMIS-2569</a>] - LinkedListImpl tests should not rely on the GC mechanism</li>
</ul>

<h2 id="task">Task</h2>
<ul>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2523">ARTEMIS-2523</a>] - Deprecate the parameter failoverOnInitialConnection</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2530">ARTEMIS-2530</a>] - Upgrade to artemis native 1.0.1</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2547">ARTEMIS-2547</a>] - AMQP Client reconnect fails on broker stop start</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2557">ARTEMIS-2557</a>] - Don’t export openwire-protocol JMS spec dependency</li>
  <li>[<a href="https://issues.apache.org/jira/browse/ARTEMIS-2423">ARTEMIS-2423</a>] - Explain in documentation that auto-create-addresses/queues doesn’t work for core protocol</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
