<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.26.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.26.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12352297&amp;projectId=12315920">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.26.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h1 id="release-notes---activemq-artemis---version-2260">Release Notes - ActiveMQ Artemis - Version 2.26.0</h1>

<h4 id="upgrading-from-older-versions">Upgrading from older versions</h4>
<ol>
  <li>We removed the *-all clients from ./lib/client in the assembly as part of <a href="https://issues.apache.org/jira/browse/ARTEMIS-4006">ARTEMIS-4006</a>. If you use these libraries they can be found at Maven Central, please refer to the <a href="https://activemq.apache.org/components/artemis/documentation/latest/client-classpath">client class path documentation</a> for more information.</li>
  <li>We removed ActiveMQ-Artemis rest as part of 2.26.0. If you still require activemq rest you can still have access to its latest version at <a href="https://mvnrepository.com/artifact/org.apache.activemq.rest/artemis-rest/2.25.0">Maven central</a>. You can still follow the steps on Rest from any <a href="https://activemq.apache.org/components/artemis/documentation/2.24.0/rest.html">previous documentation</a>, however you should stop using the module as it will not be maintained any more.</li>
  <li>We removed web content from distribution and redirected to the console web requests with the root target as part of  <a href="https://issues.apache.org/jira/browse/ARTEMIS-3980">ARTEMIS-3980</a>. If you used to customize the index page or to add custom content in the web folder please refer to the <a href="https://activemq.apache.org/components/artemis/documentation/latest/web-server">web-server documentation</a> for more information on disabling the redirect and enabling the web content.</li>
</ol>

<h2 id="bug">Bug</h2>
<ul>
  <li>[ARTEMIS-3748] - Cannot create docker for an older version of Artemis</li>
  <li>[ARTEMIS-3913] - MQTTReasonCodes byte loss of precision，must int type</li>
  <li>[ARTEMIS-3964] - Windows ping IPv4/6 commands have wrong time unit</li>
  <li>[ARTEMIS-3967] - Camel WAR pom.xml file incorrect and incomplete</li>
  <li>[ARTEMIS-3971] - remove vulnerable .js deps from javadoc output - jQuery, jQuery UI, jszip</li>
  <li>[ARTEMIS-3973] - High pressure on paging can leave address stuck in paging</li>
  <li>[ARTEMIS-3975] - examples pom enables snapshot repo for release artifacts</li>
  <li>[ARTEMIS-3978] - properties config - allow federation upstream configuration</li>
  <li>[ARTEMIS-3981] - empty docker image if Artemis release download returns 404</li>
  <li>[ARTEMIS-3984] - LegacyLDAPSecuritySettingPlugin shouldn’t modify existing matches</li>
  <li>[ARTEMIS-3986] - Last value errors</li>
  <li>[ARTEMIS-3989] - ActiveMQServerControlImpl.getRoles doesn’t return all the security role permissions</li>
  <li>[ARTEMIS-3990] - AMQP NettyReadable buffer does not consume readable bytes on string reads</li>
  <li>[ARTEMIS-3998] - Error setting broker properties for connectionRouters</li>
  <li>[ARTEMIS-3999] - Error setting extraParams for new acceptors via broker properties</li>
  <li>[ARTEMIS-4001] - properties config - have configuration refresh track properties urls</li>
  <li>[ARTEMIS-4003] - FlowControl on BridgeImpl is broken for Large Messages</li>
  <li>[ARTEMIS-4005] - e2e-tests module is broken due Dockerfile change change</li>
  <li>[ARTEMIS-4007] - properties config - complete feedback loop with server status attribute</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[ARTEMIS-3902] - Adding reason for Security failure on Audit Security Message</li>
  <li>[ARTEMIS-3962] - Port filter updates from “Classic”</li>
  <li>[ARTEMIS-3983] - Update all base docker images to use Eclipse-Temurin</li>
</ul>

<h2 id="task">Task</h2>
<ul>
  <li>[ARTEMIS-3934] - Restore settings equivalent to -XX:+AggressiveOpts</li>
  <li>[ARTEMIS-3969] - Remove extra-tests module</li>
  <li>[ARTEMIS-3970] - update keycloak used in example to 19.0.2</li>
  <li>[ARTEMIS-3980] - Remove web content from distribution</li>
  <li>[ARTEMIS-3987] - Remove ActiveMQ Artemis Rest</li>
  <li>[ARTEMIS-3988] - Move MMSFactoryTest tests from smoke-tests -&gt; soak-tests</li>
  <li>[ARTEMIS-3995] - Mute System.out on maven plugins</li>
  <li>[ARTEMIS-4006] - remove ‘-all’ repackaged clients from the assembly</li>
</ul>

<h2 id="dependency-upgrade">Dependency upgrade</h2>
<ul>
  <li>[ARTEMIS-3985] - update to activemq 5.17.2</li>
  <li>[ARTEMIS-3996] - update to proton-j 0.34.0</li>
  <li>[ARTEMIS-3997] - update vertx-proton test dep to 4.3.3</li>
  <li>[ARTEMIS-4008] - Update to Qpid JMS 1.7.0</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
