<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.32.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.32.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3831">ARTEMIS-3831</a> - Scale-down fails when using same discovery-group used by Broker cluster connection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4436">ARTEMIS-4436</a> - Artemis is logging warnings during clean shutdown of server in cluster</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4470">ARTEMIS-4470</a> - Add documentation about calling reencode on AMQP Interceptors or anything on server’s side</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4480">ARTEMIS-4480</a> - exclusiveConsumer release needs an operation context completion callbacks to ensure isolation for delivered and transacted messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4483">ARTEMIS-4483</a> - Log.warn messages with AMQP during regular closing of AMQP clients.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4486">ARTEMIS-4486</a> - update metrics documentation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4499">ARTEMIS-4499</a> - ThreadCreateAction won’t work properly with SecurityManager</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4504">ARTEMIS-4504</a> - running examples creates unexpected dirs/files (or shows failure trying)</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4506">ARTEMIS-4506</a> - Restore MQTT subscription queue name syntax</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4507">ARTEMIS-4507</a> - Make critical analyzer logging consistent</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4508">ARTEMIS-4508</a> - The recovery connection factory ignores useTopologyForLoadBalancing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4512">ARTEMIS-4512</a> - JMS queue consumer can mistakenly connect to multicast queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4513">ARTEMIS-4513</a> - HTTP request logging not working</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4515">ARTEMIS-4515</a> - Setting web request log using system properties not working</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4517">ARTEMIS-4517</a> - rollback causes loss of message order if concurrent producers commit out of order</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4518">ARTEMIS-4518</a> - Exclude slf4j-api from activemq-client to prevent java.lang.LinkageError during artemis-jms-bridge.war deployment</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4520">ARTEMIS-4520</a> - JMSContext.acknowledge() doesn’t work if last message received is null</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4521">ARTEMIS-4521</a> - Deleting divert using management API doesn’t remove binding from journal</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4523">ARTEMIS-4523</a> - Failover leaving consumers and producers behind</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4529">ARTEMIS-4529</a> - NPE with empty core message and STOMP consumer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4535">ARTEMIS-4535</a> - invalid filter in GUI gives large stack-trace in logfile</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4537">ARTEMIS-4537</a> - Address setting matches with wildcard are not idempotent</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4540">ARTEMIS-4540</a> - Validate MQTT session state data</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4542">ARTEMIS-4542</a> - Improve MQTT state storage</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4543">ARTEMIS-4543</a> - Journal Sync in NIO not scalling</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4544">ARTEMIS-4544</a> - Option to not sync large messages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4547">ARTEMIS-4547</a> - empty message shows “Unsupported message body type which cannot be displayed by hawtio”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4549">ARTEMIS-4549</a> - confirmation for delete/purge-queue mention “address” instead of “queue”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4551">ARTEMIS-4551</a> - Interceptor client example should not depend on interceptor example</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4558">ARTEMIS-4558</a> - AMQP Mirror ACKS should be idempotent</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4560">ARTEMIS-4560</a> - Wrong default on BridgeConfiguration options when using broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4563">ARTEMIS-4563</a> - Auto created addresses are not removed upon restart</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4564">ARTEMIS-4564</a> - Large Message files left over in case of duplicate detection and Mirror</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4565">ARTEMIS-4565</a> - ‘artemis help’ shows wrong text for ‘queue’</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4570">ARTEMIS-4570</a> - filter not applied to all brokers in cluster</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4571">ARTEMIS-4571</a> - Race condition w/TTL impacting in-vm connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4574">ARTEMIS-4574</a> - Broker diagram no longer works</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4576">ARTEMIS-4576</a> - ServerSessionImpl#updateProducerMetrics access large messages after being routed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4577">ARTEMIS-4577</a> - CONNECTION_CLOSED event is sent before deleting temporary resources</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4580">ARTEMIS-4580</a> - Security settings for FQQN not enforced on send</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4581">ARTEMIS-4581</a> - NullPointer exception on Queue scan Init</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4584">ARTEMIS-4584</a> - broker-connections TLS example reconnecting due to mismatched sender config</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4452">ARTEMIS-4452</a> - Allow to customize http header in http-upgrade request from Artemis</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4488">ARTEMIS-4488</a> - Support “literal” address setting match</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4502">ARTEMIS-4502</a> - Allow core messages to cross AMQP broker connection links without conversion</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4516">ARTEMIS-4516</a> - Support reloading connectors</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4568">ARTEMIS-4568</a> - Support reloading AMQP broker federation configuration</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3932">ARTEMIS-3932</a> - replace addAddressSettings with JSON param</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4164">ARTEMIS-4164</a> - Auto reload acceptor SSL keystores on change</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4495">ARTEMIS-4495</a> - Improve documentation on journal retention</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4501">ARTEMIS-4501</a> - Clean up MQTT subscription queues when session expires</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4503">ARTEMIS-4503</a> - Use BufferedOutputStream on Consumer –data output</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4505">ARTEMIS-4505</a> - Cleanup page transactions in case paged files were removed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4514">ARTEMIS-4514</a> - Make Jetty thread pool configurable</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4522">ARTEMIS-4522</a> - Flow control may get delayed significantly on occupied pool</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4525">ARTEMIS-4525</a> - Deterministic webapp directory names</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4528">ARTEMIS-4528</a> - TLS support PEM format for key and trust store type</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4536">ARTEMIS-4536</a> - Imrpvoment JournalTransaction API</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4541">ARTEMIS-4541</a> - Clarify divert docs</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4552">ARTEMIS-4552</a> - Configure all connection-router settings by using broker properties</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4557">ARTEMIS-4557</a> - expose producer window size in clusterconnection JMX</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4561">ARTEMIS-4561</a> - allow key and trust store type to be configured on the web component</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4566">ARTEMIS-4566</a> - Allow management of Mirrored Internal Queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4569">ARTEMIS-4569</a> - Blocked Producers Memory Leaks</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4575">ARTEMIS-4575</a> - Don’t start all previous consumers when new consumer added</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4526">ARTEMIS-4526</a> - Move ShutdownOnCriticalIOErrorMoveNextTest into Isolated tests</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3474">ARTEMIS-3474</a> - Replace use of non-inclusive terms throughout source code, comments and documentation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4476">ARTEMIS-4476</a> - Connection Failure Race Conditions in AMQP and Core</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4492">ARTEMIS-4492</a> - update logging docs to match current config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4509">ARTEMIS-4509</a> - ActiveMQTestBase leak check should identify state clearly without need of logs</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4511">ARTEMIS-4511</a> - prevent MainTest failure causing knock-on failures in later tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4530">ARTEMIS-4530</a> - Clean up SessionCallback interface</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4533">ARTEMIS-4533</a> - Move the examples to their own repository</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4538">ARTEMIS-4538</a> - Make note around amqp broker-connection URI transport options more prominent</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4539">ARTEMIS-4539</a> - simplify various release process steps</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4546">ARTEMIS-4546</a> - Modernize Validators</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4548">ARTEMIS-4548</a> - Refactor MQTT tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4554">ARTEMIS-4554</a> - Upgrade to latest Java for Docker images</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4556">ARTEMIS-4556</a> - Support release of multi-platform Docker images</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4567">ARTEMIS-4567</a> - Support OpenWire clients for broker embedded in Jakarta environment</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4478">ARTEMIS-4478</a> - update to Log4j 2.21.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4489">ARTEMIS-4489</a> - Update to Karaf 4.4.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4490">ARTEMIS-4490</a> - update to SLF4J 2.0.9</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4491">ARTEMIS-4491</a> - update to activemq 5.18.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4493">ARTEMIS-4493</a> - Upgrade Hawtio to 2.17.7</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4494">ARTEMIS-4494</a> - Upgrade commons-lang3 from 3.12.0 to 3.13.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4500">ARTEMIS-4500</a> - Upgrade Netty to 4.1.101.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4550">ARTEMIS-4550</a> - Upgrade spring boot version to 2.7.18</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4572">ARTEMIS-4572</a> - Upgrade to Apache parent 31</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4573">ARTEMIS-4573</a> - Upgrade Checkstyle to 10.12.7 &amp; Sevntu to 1.44.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4578">ARTEMIS-4578</a> - Upgrade Jackson to 2.16.1</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
