<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/news/artemis-tlp">Artemis</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.27.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12352297&amp;projectId=12315920">A complete list of JIRAs</a> for the 2.27.0 release.</p>
  </li>
  <li>
    <p><a href="commit-report-2.27.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the “Versions” chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bug">Bug</h2>
<ul>
  <li>[ARTEMIS-3264] - Core to AMQP conversion error causes client disconnect</li>
  <li>[ARTEMIS-4002] - Support env $JAVA_ARGS_APPEND to override by appending to the java command used by the scripts</li>
  <li>[ARTEMIS-4010] - LegacyLDAPSecuritySettingPlugin missing data</li>
  <li>[ARTEMIS-4013] - PostgresLargeObjectManager does incorrectly unwrap the jdbc connection</li>
  <li>[ARTEMIS-4024] - Avoid excessive NativeMemory allocation when sending OpenWire Multi mega sized messages in openwire</li>
  <li>[ARTEMIS-4025] - properties config -  provide error status for invalid properties</li>
  <li>[ARTEMIS-4026] - fix a couple of logging errors in connection-router classes</li>
  <li>[ARTEMIS-4028] - properties config - provide checksum read status for properties</li>
  <li>[ARTEMIS-4029] - PageCleanup may OME if many pages are cleared all at once</li>
  <li>[ARTEMIS-4033] - Update replay descriptions on the Management Controllers</li>
  <li>[ARTEMIS-4035] - All consumers of federated queue drop if only one consumer drops</li>
  <li>[ARTEMIS-4045] - AMQ224041: Failed to deliver in mirror</li>
  <li>[ARTEMIS-4049] - Creating user fails on Windows with space in instance path</li>
  <li>[ARTEMIS-4057] - Backup last OOME heap dump fails on Windows</li>
  <li>[ARTEMIS-4071] - Erroneus audit log messages due to console logouts</li>
  <li>[ARTEMIS-4079] - CLI retry doesn’t work sometimes</li>
  <li>[ARTEMIS-4089] - Auto-deleted queue with active producer leaves producer disabled (or impotent)</li>
</ul>

<h2 id="new-feature">New Feature</h2>
<ul>
  <li>[ARTEMIS-4022] - Display “auto-delete” queue/address status column or attribute in web console</li>
  <li>[ARTEMIS-4081] - Upgrade command</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[ARTEMIS-3763] - Use configurable time margin for checking offset between database server and broker</li>
  <li>[ARTEMIS-3902] - Adding reason for Security failure on Audit Security Message</li>
  <li>[ARTEMIS-4020] - switch to using SLF4J for logging API and use Log4j 2 for broker distribution</li>
  <li>[ARTEMIS-4041] - Improve criticalIO reporting</li>
  <li>[ARTEMIS-4042] - DefaultSensitiveStringCodec - read ARTEMIS_DEFAULT_SENSITIVE_STRING_CODEC_KEY env if system property is not set</li>
  <li>[ARTEMIS-4056] - Optimize Paging Startup And Management operation</li>
  <li>[ARTEMIS-4064] - Harden MetricsManager</li>
  <li>[ARTEMIS-4073] - Page counters can go off sync with multiple producers in the same address</li>
  <li>[ARTEMIS-4074] - AMQ144009: Could not get a file in 5 seconds: diagnostics needed</li>
</ul>

<h2 id="task">Task</h2>
<ul>
  <li>[ARTEMIS-4037] - Use random alphanumeric strings for MQTTRetainMessageManagerTest</li>
  <li>[ARTEMIS-4043] - cleanup some leftover artemis-rest docs and dependency management</li>
  <li>[ARTEMIS-4048] - stop the ‘-all’ client modules grabbing their own -SNAPSHOT sources unnecessarily during build</li>
  <li>[ARTEMIS-4053] - ensure scm tag reference on main uses a non-release version</li>
  <li>[ARTEMIS-4054] - configure release plugin to auto version submodules and pre-set desired tag name format</li>
  <li>[ARTEMIS-4055] - update to apache parent pom 27</li>
  <li>[ARTEMIS-4061] - update maven-bundle-plugin to 5.1.8</li>
  <li>[ARTEMIS-4067] - remove unused site distributionManagement settings</li>
  <li>[ARTEMIS-4068] - speed up release preparation process</li>
  <li>[ARTEMIS-4076] - add JDK 19 run to CI jobs</li>
</ul>

<h2 id="dependency-upgrade">Dependency upgrade</h2>
<ul>
  <li>[ARTEMIS-4038] - Upgrade groovy version to 4.0.5</li>
  <li>[ARTEMIS-4039] - Upgrade to jackson 2.13.4 and jackson-databind 2.13.4.2</li>
  <li>[ARTEMIS-4040] - Update to Netty 4.1.82</li>
  <li>[ARTEMIS-4060] - Upgrade Commons Text to 1.10.0</li>
  <li>[ARTEMIS-4062] - Update to Mockito 4.8.0</li>
  <li>[ARTEMIS-4063] - Update to jacoco 0.8.8</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
