<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.30.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.30.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4095">ARTEMIS-4095</a> - OpenWire clients are unable to consume from mutlicast queue after 2nd paging</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4184">ARTEMIS-4184</a> - Bidges with concurrency not checked/cleared properly on config reload</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4311">ARTEMIS-4311</a> - Strange typo propagated throughout the codebase: “Mesasge”</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4315">ARTEMIS-4315</a> - Incorrect validation for page-limit settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4316">ARTEMIS-4316</a> - Example HTML does not render correctly</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4319">ARTEMIS-4319</a> - Mitigate NPE in paging log statement</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4322">ARTEMIS-4322</a> - BundleFactory should use PrivilegedAction</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4328">ARTEMIS-4328</a> - Test can hang indefinitely</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4338">ARTEMIS-4338</a> - STOMP inoperable w/resource audit logging enabled</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4340">ARTEMIS-4340</a> - fix artemis-journal ThreadLocalByteBufferPool.borrow zeroing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4351">ARTEMIS-4351</a> - unnecessary web console logging on impatient jolokia client</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4354">ARTEMIS-4354</a> - Update the recovery XAResource underlying session</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4356">ARTEMIS-4356</a> - address match with wildcards seems to be broken</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4365">ARTEMIS-4365</a> - MQTT retain flag not set correctly</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4366">ARTEMIS-4366</a> - Addresses with multiple subscriptions are not working with Mirroring</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4310">ARTEMIS-4310</a> - Smaller Container / Dockerfile based on Alpine</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4314">ARTEMIS-4314</a> - Queue Federation, support consumerWindowSize zero and federate in batches only when the local queue is has excess capacity</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4332">ARTEMIS-4332</a> - Add management method to close stuck server sessions</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4348">ARTEMIS-4348</a> - CLI Abstract Connector should parse connectors if can’t find acceptor on broker.xml</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4362">ARTEMIS-4362</a> - Produce a logger when consumers are holding too many messages not allowing deposing</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4329">ARTEMIS-4329</a> - dont [over]write RAT output in source tree root, use standard output location</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4333">ARTEMIS-4333</a> - Document web SNI settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4334">ARTEMIS-4334</a> - tidyup around artemis-website module used to generate docs for website</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4341">ARTEMIS-4341</a> - Refactor JavaDoc generation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4346">ARTEMIS-4346</a> - move stomp test-client into systest support module</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4353">ARTEMIS-4353</a> - Clean up Maven dependencies</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4357">ARTEMIS-4357</a> - Replace Logger.unableToFindTargetQueue (LoggerID 222188) by a logger.debug</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4360">ARTEMIS-4360</a> - Make compatibility-tests opt in with -Pcompatibility-tests</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4277">ARTEMIS-4277</a> - Upgrade checkstyle</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4318">ARTEMIS-4318</a> - Migrate to Airline 2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4320">ARTEMIS-4320</a> - Upgrade Netty to 4.1.94.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4321">ARTEMIS-4321</a> - Upgrade Guava to 32.0.1-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4323">ARTEMIS-4323</a> - Upgrade to Apache parent 30</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4331">ARTEMIS-4331</a> - Upgrade JGroups to 5.2.16.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4335">ARTEMIS-4335</a> - Upgrade bcprov to bcprov-jdk18on:1.75</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4336">ARTEMIS-4336</a> - Upgrade mockserver version to 5.15.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4342">ARTEMIS-4342</a> - update Groovy to 4.0.13</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4343">ARTEMIS-4343</a> - Update to Mockito 5.4.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4344">ARTEMIS-4344</a> - Update to Jacoco 0.8.10</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4345">ARTEMIS-4345</a> - Update to Error Prone 2.20.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4347">ARTEMIS-4347</a> - Upgrade Keycloak in security example</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4358">ARTEMIS-4358</a> - Upgrade commons-configuration2 to 2.9.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4363">ARTEMIS-4363</a> - Update to Qpid JMS 1.10.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4364">ARTEMIS-4364</a> - Upgrade johnzon version to 1.2.21</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2023, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
