<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.28.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12352880&amp;projectId=12315920">A complete list of JIRAs</a> for the 2.29.0 release.</p>
  </li>
  <li>
    <p><a href="commit-report-2.29.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the “Versions” chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<p>Release Notes - ActiveMQ Artemis - Version 2.29.0</p>

<h2 id="bug">Bug</h2>
<ul>
  <li>[ARTEMIS-2431] - [AMQP] Broker does not send security errors for unauthorized anonymous sasl with pipelined open</li>
  <li>[ARTEMIS-4082] - AcknowledgementTest.testDupsOKAcknowledgeQueue test is flakey</li>
  <li>[ARTEMIS-4153] - Support “offline” Maven</li>
  <li>[ARTEMIS-4155] - Broker will dead lock if sending OpenWire Large Messages With Journal Retention configured.</li>
  <li>[ARTEMIS-4157] - Error setting broker properties for AddressSettings</li>
  <li>[ARTEMIS-4160] - jolokia-access.xml getting invalid XML from hostname during instance creation</li>
  <li>[ARTEMIS-4161] - AMQP and OpenWire have a few Leaks during open and close connections</li>
  <li>[ARTEMIS-4162] - Support deleting addresses and queues without usage check</li>
  <li>[ARTEMIS-4163] - Fix concurrency on Large Message parsing in OpenWire</li>
  <li>[ARTEMIS-4168] - Keycloak example is broken</li>
  <li>[ARTEMIS-4170] - Remove redundant queue creation for OpenWire</li>
  <li>[ARTEMIS-4171] - Potential large message file leak</li>
  <li>[ARTEMIS-4172] - Sending large message via core skips plugins &amp; audit logging</li>
  <li>[ARTEMIS-4175] - JournalFileImpl Leaking</li>
  <li>[ARTEMIS-4176] - Console custom root redirect ignored</li>
  <li>[ARTEMIS-4177] - Misleading documentation for “Logging the clients remote address”</li>
  <li>[ARTEMIS-4188] - creating dynamicQueues from an JavaEE MDB applies configured messageSelector as per-queue filters</li>
  <li>[ARTEMIS-4191] - JournalImpl::needs compact should include more logging to enable eventual investigations</li>
  <li>[ARTEMIS-4193] - Interrupting Large Message Streaming with a server kill may leave orphaned files</li>
  <li>[ARTEMIS-4196] - MQTT cluster message distribution is broken with OFF and OFF_WITH_REDISTRIBUTION loadbalancing types</li>
  <li>[ARTEMIS-4199] - PageCounter leaving record out of Transaction</li>
  <li>[ARTEMIS-4201] - Not sending proper MQTT disconnect code on stolen link</li>
  <li>[ARTEMIS-4206] - Unreferenced AMQP Large Messages are not removed</li>
  <li>[ARTEMIS-4207] - Redistribution may leave large messages stranded</li>
  <li>[ARTEMIS-4208] - OpenWire ChunkSend issuing CriticalAnalyzer</li>
  <li>[ARTEMIS-4209] - “User ID” in web console prefixed with “ID:ID:” for AMQP messages</li>
  <li>[ARTEMIS-4233] - QueueImpl::NPE on holder.iter == null</li>
  <li>[ARTEMIS-4234] - EmbeddedActiveMQResource is able to receive only first message</li>
  <li>[ARTEMIS-4235] - Losing bridge connection when sending empty Openwire map message.</li>
  <li>[ARTEMIS-4241] - Paging + FQQN is broken</li>
  <li>[ARTEMIS-4243] - ActiveMQ Artemis CLI fails to export bindings without routing types</li>
  <li>[ARTEMIS-4247] - Inconsistencies between AMQP Mirror and Artemis Clustering</li>
  <li>[ARTEMIS-4249] - Failure to create internal MQTT consumer can orphan subscription queue</li>
  <li>[ARTEMIS-4258] - delayBeforeDispatch not working with OpenWire</li>
  <li>[ARTEMIS-4266] - Mitigate NPE with bad SSL config</li>
  <li>[ARTEMIS-4267] - Original exception lost for NoCacheLoginException</li>
  <li>[ARTEMIS-4273] - Mask command not picking up codec properties</li>
  <li>[ARTEMIS-4282] - Sending Large ApplicationProperties section in a transactional session may break the server.</li>
  <li>[ARTEMIS-4286] - Sometimes federated consumer won’t stop</li>
  <li>[ARTEMIS-4298] - Journal Retention Duplicated files during replication</li>
  <li>[ARTEMIS-4302] - NPE on JournalTransaction::forget</li>
  <li>[ARTEMIS-4311] - Strange typo propagated throughout the codebase: “Mesasge”</li>
  <li>[ARTEMIS-4316] - Example HTML does not render correctly</li>
</ul>

<h2 id="new-feature">New Feature</h2>
<ul>
  <li>[ARTEMIS-4195] - Auth callback to get Client ID</li>
</ul>

<h2 id="improvement">Improvement</h2>
<ul>
  <li>[ARTEMIS-4200] - Allow configuring link-stealing behavior for MQTT</li>
  <li>[ARTEMIS-4202] - expand coverage of noCacheExceptions in LDAPLoginModule</li>
  <li>[ARTEMIS-4204] - Connectors added via management are not durable</li>
  <li>[ARTEMIS-4210] - Audit connection creation &amp; destruction</li>
  <li>[ARTEMIS-4212] - Unexpected Behavior when Routing Type of Destinations Doesn’t Match Clients</li>
  <li>[ARTEMIS-4236] - Reorganize default broker.xml around paging configuration</li>
  <li>[ARTEMIS-4239] - use StandardCharsets.UTF_8</li>
  <li>[ARTEMIS-4245] - Expose web SNI settings</li>
  <li>[ARTEMIS-4256] - properties config - support removal</li>
  <li>[ARTEMIS-4262] - Clarify wildcard syntax documentation</li>
  <li>[ARTEMIS-4263] - support access to our JaasCallbackhandler from a jdk http Authenticator</li>
  <li>[ARTEMIS-4280] -  Kubernetes JaaS LoginModule extract role info from review groups</li>
  <li>[ARTEMIS-4284] - Openwire prefetched messages can be out of order for a single consumer</li>
  <li>[ARTEMIS-4294] - Support text WebSocket encoding</li>
  <li>[ARTEMIS-4297] - Allow regex in no-cache exception config</li>
  <li>[ARTEMIS-4313] - Bridge does not retry if destination is full when configured to FAIL</li>
  <li>[ARTEMIS-4314] - Federation, support consumerWindowSize zero and federate in batches only when the local queue is has excess capacity</li>
</ul>

<h2 id="test">Test</h2>
<ul>
  <li>[ARTEMIS-4218] - Support console smoke tests from remote servers</li>
  <li>[ARTEMIS-4223] - compatibility tests fail on JDK builds with version qualifiers</li>
  <li>[ARTEMIS-4248] - Fix PagingTest::testSimpleResume</li>
  <li>[ARTEMIS-4250] - ShutdownOnCriticalIOErrorMoveNextTest failing</li>
  <li>[ARTEMIS-4308] - Add tests for JDBC and Paging in Soak tests</li>
</ul>

<h2 id="task">Task</h2>
<ul>
  <li>[ARTEMIS-4150] - Disable Log4j2 MBean by default</li>
  <li>[ARTEMIS-4151] - Tighten default MBean access</li>
  <li>[ARTEMIS-4178] - Fixing typo on amqp-broker-connections.md</li>
  <li>[ARTEMIS-4181] - Make try-with-resources style consistent</li>
  <li>[ARTEMIS-4224] - Manage memory consumption on the test suite</li>
  <li>[ARTEMIS-4288] - Update to maven-bundle-plugin 5.1.9</li>
  <li>[ARTEMIS-4299] - Exclude unused json-smart dependency</li>
</ul>

<h2 id="dependency-upgrade">Dependency upgrade</h2>
<ul>
  <li>[ARTEMIS-4158] - Upgrade doc generation utilities</li>
  <li>[ARTEMIS-4179] - Upgrade keycloak version to 21.0.0</li>
  <li>[ARTEMIS-4194] - Upgrade CheckLeak to 0.8</li>
  <li>[ARTEMIS-4198] - Upgrade qpid/proton-j to 0.34.1</li>
  <li>[ARTEMIS-4203] - Replace aether-api with maven-resolver-api 1.9.6</li>
  <li>[ARTEMIS-4221] - update to Groovy 4.0.10</li>
  <li>[ARTEMIS-4222] - Update to Mockito 5.2.0</li>
  <li>[ARTEMIS-4226] - Upgrade guava version to 31.1-jre</li>
  <li>[ARTEMIS-4227] - Upgrade opentelemetry version to 1.24.0</li>
  <li>[ARTEMIS-4228] - Upgrade testcontainers version to 1.17.6</li>
  <li>[ARTEMIS-4229] - Upgrade selenium version to 4.8.3</li>
  <li>[ARTEMIS-4269] - Upgrade netty version to 4.1.93.Final</li>
  <li>[ARTEMIS-4271] - Update to Spring 5.3.27</li>
  <li>[ARTEMIS-4272] - Update to Jetty 10.0.15</li>
  <li>[ARTEMIS-4287] - Update to Qpid JMS 1.9.0</li>
  <li>[ARTEMIS-4289] - update to Log4j 2.20.0</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2023, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
