<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.19.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.19.0 release can be found  * <a href="">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.19.0">here</a>.</p>

<h1 id="bug">Bug</h1>
<ul>
  <li>[ARTEMIS-1946] - Cluster with allow-direct-connections-only=”true” and localAddress in netty connections with allow-direct-connections-only=”true”  prevents core bridge to be created.</li>
  <li>[ARTEMIS-1960] - “Clusters: Scaling Down” documentation wrong or incomplete</li>
  <li>[ARTEMIS-3223] - MQTT spec violation when subscribed to wildcard topic on redistribution</li>
  <li>[ARTEMIS-3313] - DLA messages disappear when running retry or export/import</li>
  <li>[ARTEMIS-3421] - update doc for default change in ARTEMIS-3367</li>
  <li>[ARTEMIS-3422] - Message deletion via web console causes NullPointerException if log level &gt;= INFO</li>
  <li>[ARTEMIS-3423] - recreated shared durable subscription is created as unshared</li>
  <li>[ARTEMIS-3425] - Paging NPE on reloading after PageComplete record and PageACK record</li>
  <li>[ARTEMIS-3426] - MQTT retain large messages not copied correctly</li>
  <li>[ARTEMIS-3429] - Backup forget coordination-id after quorum loss</li>
  <li>[ARTEMIS-3430] - Activation Sequence Auto-Repair</li>
  <li>[ARTEMIS-3431] - PrintData is missing a retro-compatible printData method</li>
  <li>[ARTEMIS-3433] - AMQ224068 on stop due to No OpenSSLContextFactory registered</li>
  <li>[ARTEMIS-3434] - Journal Retention is using the wrong month</li>
  <li>[ARTEMIS-3438] - Legacy updateQueue doesn’t respect ringSize</li>
  <li>[ARTEMIS-3443] - Browse Queue Body don’t show full text</li>
  <li>[ARTEMIS-3454] - Prevent directory listing for deployed web apps</li>
  <li>[ARTEMIS-3459] - AMQPMessage.scanMessageData() creates unecessary buffer wrapper</li>
  <li>[ARTEMIS-3464] - Mirror could Miss Acks with Paging</li>
  <li>[ARTEMIS-3465] -  BufferSplitter::split shouldn’t consume input buffer</li>
  <li>[ARTEMIS-3466] - byte arrays are shown with negative hex numbers</li>
  <li>[ARTEMIS-3467] - FD leak on receiving AMQP large messages</li>
  <li>[ARTEMIS-3468] - field “selected” is sometimes visible in the message details in Browse queue</li>
  <li>[ARTEMIS-3470] - IDE integration - error on junit interspection</li>
  <li>[ARTEMIS-3471] - Implement “session present” for MQTT CONNACK</li>
  <li>[ARTEMIS-3472] - Openwire reconnect may leave internal session null</li>
  <li>[ARTEMIS-3475] - Possible recursion on PacketImpl::toString</li>
  <li>[ARTEMIS-3485] - Custom web context path doesn’t work</li>
  <li>[ARTEMIS-3491] - JMX: cluster-connection restart does not work</li>
  <li>[ARTEMIS-3494] - ActiveMQClientProtocolManagerFactory shouldn’t have a private constructor</li>
  <li>[ARTEMIS-3498] - Bridge will not discount delivering counts on internal queues</li>
  <li>[ARTEMIS-3501] - Corrupted message in journal can inhibit broker from starting</li>
  <li>[ARTEMIS-3502] - Auto delete of a queue could lead to inconsistencies</li>
  <li>[ARTEMIS-3513] - Compacting Exception May Invalid Journal Deletes and updates</li>
  <li>[ARTEMIS-3519] - OperationContextImpl storeOnly is broken</li>
  <li>[ARTEMIS-3520] - include failure hint in Open frame sent when broker-balancer rejects or redirects AMQP connection</li>
</ul>

<h1 id="new-feature">New Feature</h1>
<ul>
  <li>[ARTEMIS-3329] - Add ability to purge all queues on an address</li>
  <li>[ARTEMIS-3436] - Expose Retention as a JMX Operation replay</li>
  <li>[ARTEMIS-3488] - Create env variable <code class="language-plaintext highlighter-rouge">AMQ_PASSWORD_CODEC_INIT_KEY</code></li>
</ul>

<h1 id="improvement">Improvement</h1>
<ul>
  <li>[ARTEMIS-1925] - Allow message redistribution even with OFF message-load-balancing semantics</li>
  <li>[ARTEMIS-2007] - Messages not redistributed to consumers with matching filters when local non matching consumers are present</li>
  <li>[ARTEMIS-2545] - Auto queue creation does not work with MDBs</li>
  <li>[ARTEMIS-3300] - artemis.data system property for OSGi runtime environment</li>
  <li>[ARTEMIS-3432] - Use batavia to produce transformed source code instead of transformed binaries</li>
  <li>[ARTEMIS-3442] - Allow configuration of journal-retention through CLI</li>
  <li>[ARTEMIS-3445] - Automatically clean-up abandoned MQTT subscriptions</li>
  <li>[ARTEMIS-3446] - Pluggable quorum vote force live CLI command</li>
  <li>[ARTEMIS-3448] - AMQP Large message delivery fails with expiry eventually</li>
  <li>[ARTEMIS-3449] - Speedup AMQP large message streaming</li>
  <li>[ARTEMIS-3457] - Log WARN for OpenWire property conversion problem</li>
  <li>[ARTEMIS-3462] - Improve MBean Guard exception messages</li>
  <li>[ARTEMIS-3469] - Browse queue shows timestamp/expires as human readable, but message view does not</li>
  <li>[ARTEMIS-3484] - Flesh out Jakarta Messaging support</li>
  <li>[ARTEMIS-3493] - expose the User ID in the send message tab in console</li>
  <li>[ARTEMIS-3508] - detailed message view provides less information for some fields</li>
  <li>[ARTEMIS-3510] - explain magic values in properties in browse view</li>
  <li>[ARTEMIS-3521] - Configuration property to disable openwire duplicate detection on failover clients</li>
</ul>

<h1 id="test">Test</h1>
<ul>
  <li>[ARTEMIS-3435] - ActiveMQTestBase.checkLibaio waits can cause hours to be added to failing test suite</li>
  <li>[ARTEMIS-3450] - StaticPoolTest and DiscoveryPoolTest fail sporadically in CI</li>
  <li>[ARTEMIS-3458] - CuratorDistributedLockTest fails a lot in CI</li>
  <li>[ARTEMIS-3473] - Testsuite leaving “null” folder behind</li>
  <li>[ARTEMIS-3514] - update Mockito to 3.12.4</li>
</ul>

<h1 id="task">Task</h1>
<ul>
  <li>[ARTEMIS-2933] - Add .NET Famework v4.0 supported runtime for com.sun.winsw</li>
  <li>[ARTEMIS-3038] - unwind defunct changes from ARTEMIS-1264</li>
  <li>[ARTEMIS-3440] - separate effect of -Pdev from -Ptests</li>
  <li>[ARTEMIS-3441] - Removing some finalize methods</li>
  <li>[ARTEMIS-3451] - add dependencyManagement entry to consolidate versioning for qpid-jms-client usage</li>
  <li>[ARTEMIS-3453] - exclude transitive log4j dep from zookeeper usage</li>
  <li>[ARTEMIS-3482] - Tidy up on AMQP Large message methods</li>
  <li>[ARTEMIS-3486] - refresh data tools documentation</li>
  <li>[ARTEMIS-3515] - Adding an example with broker connection and multicast</li>
</ul>

<h1 id="dependency-upgrade">Dependency upgrade</h1>
<ul>
  <li>[ARTEMIS-3447] - update version of bcprov-jdk15on used by Directory in tests</li>
  <li>[ARTEMIS-3455] - Upgrade jasypt to 1.9.3</li>
  <li>[ARTEMIS-3476] - Upgrade maven-artifact to 3.8.2</li>
  <li>[ARTEMIS-3477] - Upgrade selenium-java to 3.141.59</li>
  <li>[ARTEMIS-3478] - Upgrade netty version to 4.1.68.Final</li>
  <li>[ARTEMIS-3479] - Upgrade commons-codec version to 1.15</li>
  <li>[ARTEMIS-3497] - update to proton-j 0.33.9</li>
  <li>[ARTEMIS-3518] - Upgrade karaf version to 4.3.3</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2022, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
