<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.31.1 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.31.1">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4141">ARTEMIS-4141</a> - Message flow gets stuck</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4270">ARTEMIS-4270</a> - Messages get lost when using multiple consumers with topic hierarchies</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4432">ARTEMIS-4432</a> - openwire connection failure handling is bypassing the actor and ignoring the operation context leading to contention in error</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4435">ARTEMIS-4435</a> - Some Artemis artifacts misses MANIFEST.MF content</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4442">ARTEMIS-4442</a> - Message Redistributor is leaking LinkedListImpl$Iterator</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4450">ARTEMIS-4450</a> - Auto-deleted clustered destinations can cause message loss</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4451">ARTEMIS-4451</a> - non-SASL AMQP connection fails if resource audit logging enabled</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4453">ARTEMIS-4453</a> - Bridge blocked by flow control, seemingly forever</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4433">ARTEMIS-4433</a> - improve Reproducible Builds</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4443">ARTEMIS-4443</a> - properties config - support broker plugin - logging broker plugin</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4444">ARTEMIS-4444</a> - Allow broker classpath extension using custom paths</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4447">ARTEMIS-4447</a> - Add paging prefetch parameters into address settings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4449">ARTEMIS-4449</a> - [DOC] Fix url parameter separator in acceptor configuration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4456">ARTEMIS-4456</a> - Register metrics plugin</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4459">ARTEMIS-4459</a> - Broker should log when ignoring a duplicate MQTT QoS 2 message</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4467">ARTEMIS-4467</a> - Core client code visibility change required</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4434">ARTEMIS-4434</a> - Add extra logging.debug on Redistributor when redistribution is happening</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4441">ARTEMIS-4441</a> - Add Docker chapter to User Manual</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4446">ARTEMIS-4446</a> - Improve readability of code/config blocks in user manual</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4461">ARTEMIS-4461</a> - Declare implicit dependencies for artemis-features</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4464">ARTEMIS-4464</a> - Cleanup on Soak and Smoke Tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4466">ARTEMIS-4466</a> - Disable Artemis-features verification on non test profiles</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4471">ARTEMIS-4471</a> - Mark Artemis Maven Plugins as threadSafe=true</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4437">ARTEMIS-4437</a> - Upgrade OWASP to 8.4.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4438">ARTEMIS-4438</a> - Upgrade JGroups to 5.3.0.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4439">ARTEMIS-4439</a> - Upgrade Netty to 4.1.100.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4457">ARTEMIS-4457</a> - Upgrade jetty version to 10.0.16</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4474">ARTEMIS-4474</a> - Update to Zookeeper 3.8.3</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4475">ARTEMIS-4475</a> - Upgrade ActiveMQ “Classic” to 5.17.6</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2024, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
