<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.43.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.43.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 17 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4924">ARTEMIS-4924</a> - Handle invalid messages in SNF queues</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5099">ARTEMIS-5099</a> - Probable impossible cast in AMQPLargeMessage</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5530">ARTEMIS-5530</a> - Some handling of compressed messages can throw NegativeArraySizeException</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5562">ARTEMIS-5562</a> - NullPointerException on call closeConnectionFactory method in ActiveMQResourceAdapter class</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5579">ARTEMIS-5579</a> - Address not available while paging cleanup being performed</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5581">ARTEMIS-5581</a> - Discovery group deadlock on ServerLocator.close</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5587">ARTEMIS-5587</a> - HttpServerAuthenticator needs to set correct TCCL</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5596">ARTEMIS-5596</a> - New client w/old broker chokes on null ConfigurationManaged flag</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5597">ARTEMIS-5597</a> - Initial distribution broken when sending to FQQN</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5598">ARTEMIS-5598</a> - Mitigate race condition on ServerConsumer callback</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5601">ARTEMIS-5601</a> - Auto create queues in AMQP is not synchronizing bindings storage</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5605">ARTEMIS-5605</a> - AMQP Bridge and Federation receivers can NPE if closed before remote Attach arrives</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5612">ARTEMIS-5612</a> - Unable to disable queue metrics</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5616">ARTEMIS-5616</a> - Compressed Large Messages handled as regular messages are returning too many credits upon rollback</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5634">ARTEMIS-5634</a> - Transactions should be used on the server’s side when mirror source is in use</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5639">ARTEMIS-5639</a> - Fix MQTTRetainMessageManagerTest</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5651">ARTEMIS-5651</a> - AMQP Bridge policy managers missing some needed synchronized tags</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5672">ARTEMIS-5672</a> - Fix AddressManager Leaks</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5675">ARTEMIS-5675</a> - Server’s JVM won’t halt when storage is disconnected</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5679">ARTEMIS-5679</a> - The CLI perf command doesn’t close the connection factory</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5683">ARTEMIS-5683</a> - Properly convert wildcards in LegacyLDAPSecuritySettingPlugin</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5687">ARTEMIS-5687</a> - Closing an AMQP session via console or management does not send an End frame</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5688">ARTEMIS-5688</a> - Set routing-type when creating MQTT subscription queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5689">ARTEMIS-5689</a> - Tunneling Core Large Messages over broker connections can fail in some cases</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5691">ARTEMIS-5691</a> - Race between MQTT CONNACK &amp; disconnection for auth failures</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5693">ARTEMIS-5693</a> - jgroups scaledown race with shared channel</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5694">ARTEMIS-5694</a> - Lingering sessions after a storage timeout</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5696">ARTEMIS-5696</a> - Tunneled core large messages can drop some bytes if flow controled at specific stages</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5697">ARTEMIS-5697</a> - Fix looping call from AMQP Sasl handling on no available mechanisms</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5700">ARTEMIS-5700</a> - KubernetesLoginModule doesn’t control HttpClient instances</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5609">ARTEMIS-5609</a> - Add support for (add/remove/update) of acceptors via config reload</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5625">ARTEMIS-5625</a> - Support AMQP address federation links using filters from the address bindings</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3915">ARTEMIS-3915</a> - Support PROXY Protocol</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5588">ARTEMIS-5588</a> - config reload of properties requires an xml config</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5608">ARTEMIS-5608</a> - Option to purge page folder after exiting page mode</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5637">ARTEMIS-5637</a> - Reduce MQTT-to-Core session ratio</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5645">ARTEMIS-5645</a> - AMQP senders should have their credit drained after a send fails when address space constraints are exceeded</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5650">ARTEMIS-5650</a> - Send Modified(delivery-failed) to AMQP Federation receivers by default when the target address is full</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5656">ARTEMIS-5656</a> - Prevent bi-directional AMQP Address Federation from creating unneeded links</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5659">ARTEMIS-5659</a> - Support masking JDBC URL</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5669">ARTEMIS-5669</a> - Send Modified(delivery-failed) to AMQP bridge receivers by default when the target address is full</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5682">ARTEMIS-5682</a> - brokerProperties: support clearing of collections and maps with the removeValue -</li>
</ul>

<h2 id="tests">Tests</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5594">ARTEMIS-5594</a> - Adjust sizes on LargeMessageTest</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5606">ARTEMIS-5606</a> - Refactor chapter on duplicate detection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5619">ARTEMIS-5619</a> - Fix documentation around failover list on broker connections</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5621">ARTEMIS-5621</a> - logger.info on QueueImpl when messages are dropped from a noRoute situation.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5622">ARTEMIS-5622</a> - Remove duplicated InVMContext from test code</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5624">ARTEMIS-5624</a> - Clarify connection router doc</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5628">ARTEMIS-5628</a> - Tidy up Netty test dependency issues</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5638">ARTEMIS-5638</a> - Clarify docs for installing libaio</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5640">ARTEMIS-5640</a> - Wrong property mentioned in documentation 11.1. Config access using client certificates</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5674">ARTEMIS-5674</a> - Update search button locator for queues page tests</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5678">ARTEMIS-5678</a> - Add some additional AMQP bridge tests for some edge case usages</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5578">ARTEMIS-5578</a> - Update to Netty 4.1.127</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5582">ARTEMIS-5582</a> - Update to errorprone 2.42.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5583">ARTEMIS-5583</a> - Update to commons-lang3 3.19.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5585">ARTEMIS-5585</a> - Update to caffeine 3.2.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5586">ARTEMIS-5586</a> - Update to jackson 2.20.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5589">ARTEMIS-5589</a> - Update to commons-io 2.20.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5590">ARTEMIS-5590</a> - Update to commons-codec 1.19.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5591">ARTEMIS-5591</a> - Update to JUnit 6.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5592">ARTEMIS-5592</a> - Update to groovy 4.0.28</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5593">ARTEMIS-5593</a> - Update to commons-text 1.14.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5603">ARTEMIS-5603</a> - Update to curator 5.9.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5604">ARTEMIS-5604</a> - Update to commons-compress 1.28.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5610">ARTEMIS-5610</a> - Bump plugin.components.maven.version from 3.9.10 to 3.9.11</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5613">ARTEMIS-5613</a> - Bump jline.version from 3.30.4 to 3.30.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5617">ARTEMIS-5617</a> - Update to karaf 4.4.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5618">ARTEMIS-5618</a> - Update to checkstyle 11.1.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5620">ARTEMIS-5620</a> - Update to selenium 4.36.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5623">ARTEMIS-5623</a> - Bump mockito.version to latest release</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5635">ARTEMIS-5635</a> - Update to qpid-jms 1.15.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5636">ARTEMIS-5636</a> - Update to groovy 5.0.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5643">ARTEMIS-5643</a> - Update to hadoop-minikdc 3.4.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5644">ARTEMIS-5644</a> - Update to zookeeper 3.9.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5646">ARTEMIS-5646</a> - Update to protonj2 1.0.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5652">ARTEMIS-5652</a> - Bump jetty.version to 12.1.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5653">ARTEMIS-5653</a> - Bump io.micrometer:micrometer-core to 1.15.4</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5654">ARTEMIS-5654</a> - Bump artemis-console-version from 1.2.1 to 1.3.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5670">ARTEMIS-5670</a> - Bump bc-java-version from 1.81 to 1.82</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5671">ARTEMIS-5671</a> - Bump com.google.guava:guava from 33.4.8-jre to 33.5.0-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5673">ARTEMIS-5673</a> - Bump org.postgresql:postgresql to 42.7.8</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5680">ARTEMIS-5680</a> - Bump log4j.version to 2.25.2</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5681">ARTEMIS-5681</a> - Bump owasp.version to 12.1.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5692">ARTEMIS-5692</a> - Update exec-maven-plugin to 3.6.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5695">ARTEMIS-5695</a> - Bump org.asciidoctor:asciidoctorj-pdf 2.3.20</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
