<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.41.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.41.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 17 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3351">ARTEMIS-3351</a> - Explicitly disconnect consumers when closing session administratively</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4777">ARTEMIS-4777</a> - Broker connections (AMQP) with receiver operation not working</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5253">ARTEMIS-5253</a> - ActiveMQRAConnectionFactoryImpl fails to implement getReference()</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5254">ARTEMIS-5254</a> - MQTTSession.stop failure: Parameters not enabled.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5325">ARTEMIS-5325</a> - Don’t block session creation/closing with sending management notification</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5337">ARTEMIS-5337</a> - Consumer + auto-create receives from existing wildcard queue</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5358">ARTEMIS-5358</a> - Log when core bridge fails to send a message</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5372">ARTEMIS-5372</a> - parsing invalid json properties should trap error and report in status</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5373">ARTEMIS-5373</a> - json properties need to support keySurround and only auto surround when not already surrounded</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5379">ARTEMIS-5379</a> - Journal commit record recorded before Page Writer is finished leading to possible message loss on a crash</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5380">ARTEMIS-5380</a> - json properties need to respect insertion order</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5381">ARTEMIS-5381</a> - auto increment of link name in amqp address federation can lead to missing messages on restart</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5382">ARTEMIS-5382</a> - Temporary network issues can cause persistent cluster subgroups</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5384">ARTEMIS-5384</a> - PagedTimeWriter should be stopped before a server shutdown</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5385">ARTEMIS-5385</a> - Paging check completion should be done at the page’s executor</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5428">ARTEMIS-5428</a> - Hardening Paging Operation around Server Shutdown</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5439">ARTEMIS-5439</a> - Value ‘ROLE_NAME’ is not facet-valid with respect to enumeration ‘[CLIENT_ID, SNI_HOST, SOURCE_IP, USER_NAME]’</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5441">ARTEMIS-5441</a> - Replication start will deadlock / starve if PageTimedWriter is flow controlled</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5371">ARTEMIS-5371</a> - Support HTTP/2 from the embedded web server</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5437">ARTEMIS-5437</a> - Add a more advanced message bridging feature to AMQP broker connections</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5207">ARTEMIS-5207</a> - Expose persisted status of queue’s paused attribute</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5351">ARTEMIS-5351</a> - Harmonize AddressControl and AddressView</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5360">ARTEMIS-5360</a> - Syntax issues in Docker files</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5368">ARTEMIS-5368</a> - AMQP Federation prevent consumer loops for included federation consumers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5375">ARTEMIS-5375</a> - provide a fileAlder32 checksum in status of property configuration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5388">ARTEMIS-5388</a> - Expose core bridge connection status via JMX</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5422">ARTEMIS-5422</a> - AMQP Federation example needs hardening</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5434">ARTEMIS-5434</a> - Use full exception name in exceptions</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5056">ARTEMIS-5056</a> - make auto-delete queues/addresses ‘default’ documentation clearer</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5363">ARTEMIS-5363</a> - Clean up old war references in docs &amp; configs</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5383">ARTEMIS-5383</a> - Performance issues with HierarchicalRepositoryChangeListener</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5387">ARTEMIS-5387</a> - Test suite improvements</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5426">ARTEMIS-5426</a> - Update jar exclusions for new console</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5352">ARTEMIS-5352</a> - Bump org.apache:apache from 33 to 34</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5353">ARTEMIS-5353</a> - Bump curator.version from 5.7.1 to 5.8.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5354">ARTEMIS-5354</a> - Bump io.micrometer:micrometer-core from 1.14.4 to 1.14.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5355">ARTEMIS-5355</a> - Bump mockito.version from 5.16.0 to 5.16.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5356">ARTEMIS-5356</a> - Bump org.junit:junit-bom from 5.12.0 to 5.12.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5357">ARTEMIS-5357</a> - Bump com.google.cloud.tools:jib-maven-plugin from 3.4.4 to 3.4.5</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5365">ARTEMIS-5365</a> - Bump com.google.errorprone:error_prone_core from 2.36.0 to 2.37.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5366">ARTEMIS-5366</a> - Bump com.google.guava:guava from 33.4.0-jre to 33.4.5-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5369">ARTEMIS-5369</a> - Bump org.asciidoctor:asciidoctor-maven-plugin from 3.1.1 to 3.2.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5370">ARTEMIS-5370</a> - Bump selenium.version from 4.29.0 to 4.30.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5397">ARTEMIS-5397</a> - Bump org.codehaus.mojo:javacc-maven-plugin from 3.1.0 to 3.1.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5398">ARTEMIS-5398</a> - Bump org.jboss.marshalling:jboss-marshalling-river from 2.2.2.Final to 2.2.3.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5399">ARTEMIS-5399</a> - Bump com.puppycrawl.tools:checkstyle from 10.21.4 to 10.23.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5400">ARTEMIS-5400</a> - Bump jacoco from 0.8.12 to 0.8.13</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5401">ARTEMIS-5401</a> - Bump mockito.version from 5.16.1 to 5.17.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5402">ARTEMIS-5402</a> - Bump owasp.version from 12.1.0 to 12.1.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5403">ARTEMIS-5403</a> - Bump selenium.version from 4.30.0 to 4.31.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5404">ARTEMIS-5404</a> - Bump com.google.guava:guava from 33.4.6-jre to 33.4.7-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5420">ARTEMIS-5420</a> - Update to jetty 12.0.19</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5421">ARTEMIS-5421</a> - Bump org.apache.commons:commons-text from 1.13.0 to 1.13.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5429">ARTEMIS-5429</a> - Bump commons-io:commons-io from 2.18.0 to 2.19.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5430">ARTEMIS-5430</a> - Bump com.google.guava:guava from 33.4.7-jre to 33.4.8-jre</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-5431">ARTEMIS-5431</a> - Bump io.micrometer:micrometer-core from 1.14.5 to 1.14.6</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
