<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.20.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.20.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12350581&amp;styleName=Html&amp;projectId=12315920&amp;Create=Create&amp;atl_token=A5KQ-2QAV-T4JA-FDED_b2248fcb49e268ed7f1613cb3f74bf39daae3fab_lin">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.20.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h1 id="known-issues">Known issues:</h1>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3616">ARTEMIS-3616</a> - Epoll not loading correctly.</li>
</ul>

<p>Right after the release of 2.20.0 we discovered that epoll from Netty is not loading correctly which may affect performance for high throughput use cases. 
The work around is simple and it is described on on <a href="https://issues.apache.org/jira/browse/ARTEMIS-3616">ARTEMIS-3616</a></p>

<h1 id="bug">Bug</h1>
<ul>
  <li>[ARTEMIS-2293] - addPacket method in the org.apache.activemq.artemis.core.client.impl.LargeMessageControllerImpl doesn’t notify threads in case of an Exception</li>
  <li>[ARTEMIS-2922] - artemis-cli consumer on large message results in a ClassCastException</li>
  <li>[ARTEMIS-3021] - OOM due to wrong CORE clustered message memory estimation</li>
  <li>[ARTEMIS-3115] - Incorrect default call-failover-timeout on clusterConnection in broker.xml</li>
  <li>[ARTEMIS-3140] - Support com.sun.jndi.ldap.tls.cbtype in LDAPLoginModule</li>
  <li>[ARTEMIS-3308] - Federated queue will not move large messages</li>
  <li>[ARTEMIS-3342] - large AMQP messages are not shown as such in GUI</li>
  <li>[ARTEMIS-3363] - using parameter minLargeMessage on cluster connections results in stack traces</li>
  <li>[ARTEMIS-3433] - AMQ224068 on stop due to No OpenSSLContextFactory registered</li>
  <li>[ARTEMIS-3461] - Browse Queue fails when the queue contains AMQP highly structured messages</li>
  <li>[ARTEMIS-3495] - Backup cluster controller connection loop after failover</li>
  <li>[ARTEMIS-3496] - Replica connection to its live should fail fast</li>
  <li>[ARTEMIS-3529] - Expire move should not reject duplicates from duplicateID</li>
  <li>[ARTEMIS-3530] - Space in role list breaks user listing</li>
  <li>[ARTEMIS-3535] - management-message-attribute-size-limit = -1 does not unlimit</li>
  <li>[ARTEMIS-3541] - destroyQueue ignoring autoDeleteAddress flag</li>
  <li>[ARTEMIS-3543] - Artemis client doesn’t support encrypted passwords in composite urls</li>
  <li>[ARTEMIS-3546] - ClassNotFoundException: javax.json.JsonValue when creating an ActiveMQConnectionFactory using artemis-jakarta-client-all</li>
  <li>[ARTEMIS-3552] - NullPointerException on message expiration</li>
  <li>[ARTEMIS-3553] - Expiry Fields AMQP Large Message are not translated on AmqpToCore conversion</li>
  <li>[ARTEMIS-3554] - Prepared Transaction with Invalid Data may prevent a server start</li>
  <li>[ARTEMIS-3555] - Invalid Journal Update Record could break compacting</li>
  <li>[ARTEMIS-3566] - Stomp Embedded Interceptor Example throws NPE</li>
  <li>[ARTEMIS-3567] - IllegalStateException on web console logout</li>
  <li>[ARTEMIS-3568] - fixes/improvements on the “Send message” screens</li>
  <li>[ARTEMIS-3571] - pluralization not always correct</li>
  <li>[ARTEMIS-3575] - Wrong address size estimation on broker restart</li>
  <li>[ARTEMIS-3576] - Fix toString methods throwing exceptions</li>
  <li>[ARTEMIS-3577] - Save Core msg re-encoding due to msg copy</li>
  <li>[ARTEMIS-3586] - ActiveMQActivationSpec equals method has switched singleConnection and useJNDI null pointer verification</li>
  <li>[ARTEMIS-3587] - After upgrade: AMQ224107: The Critical Analyzer detected slow paths on the broker.</li>
  <li>[ARTEMIS-3593] - OOM error on rogue message to Artemis Broker</li>
  <li>[ARTEMIS-3596] - ServiceLoader.load causing issues in OSGi enviroments.</li>
  <li>[ARTEMIS-3604] - Async sends could overflow server with messages in openwire</li>
</ul>

<h1 id="new-feature">New Feature</h1>
<ul>
  <li>[ARTEMIS-2097] - Pause and Block Producers</li>
</ul>

<h1 id="improvement">Improvement</h1>
<ul>
  <li>[ARTEMIS-649] - Improve or deprecate the HTML based JMX reports.</li>
  <li>[ARTEMIS-1925] - Allow message redistribution even with OFF message-load-balancing semantics</li>
  <li>[ARTEMIS-3523] - Expose replay through AddressControl</li>
  <li>[ARTEMIS-3525] - Empty Auto created queues should be removed right away</li>
  <li>[ARTEMIS-3528] - Only enable JVM debug options for ‘run’ command</li>
  <li>[ARTEMIS-3531] - adding documentation for management-message-attribute-size-limit</li>
  <li>[ARTEMIS-3533] - Have federation configuration respect extra url parameters from the connector-ref</li>
  <li>[ARTEMIS-3539] - Allow a shared single connection in the Resource Adaptor</li>
  <li>[ARTEMIS-3542] - Avoid requesting the root attribute when binding a user to LDAP</li>
  <li>[ARTEMIS-3547] - client load balance code can be improved</li>
  <li>[ARTEMIS-3556] - Artemis console should show the message protocol</li>
  <li>[ARTEMIS-3569] - Broker balancer based on authenticated user role assignment</li>
  <li>[ARTEMIS-3570] - additional decoding of some known message header fields</li>
  <li>[ARTEMIS-3574] - Allow multiple bindings for embedded webserver</li>
  <li>[ARTEMIS-3578] - Save SimpleString duplication and long[] allocation while moving Core messages</li>
  <li>[ARTEMIS-3581] - Allow setMaxSizeBytes(0) to indicate an address that will always page</li>
  <li>[ARTEMIS-3594] - Broker balancer - allow a key transformer for a local-target-filter</li>
  <li>[ARTEMIS-3595] - PrintData options to help with visualization</li>
  <li>[ARTEMIS-3599] - Remove finalize() usage</li>
  <li>[ARTEMIS-3601] - Expose acceptors via management</li>
</ul>

<h1 id="test">Test</h1>
<ul>
  <li>[ARTEMIS-3489] - JdbcLeaseLockTest fails sporadically in CI</li>
  <li>[ARTEMIS-3600] - Add console index page test</li>
</ul>

<h1 id="task">Task</h1>
<ul>
  <li>[ARTEMIS-3420] - Target Java 11+ , i.e. drop support for Java 8</li>
  <li>[ARTEMIS-3538] - Removing // ——— comments from the codebase</li>
  <li>[ARTEMIS-3565] - Remove mvnw</li>
</ul>

<h1 id="dependency-upgrade">Dependency upgrade</h1>
<ul>
  <li>[ARTEMIS-3537] - update to proton-j 0.33.10</li>
  <li>[ARTEMIS-3559] - Update netty version to 4.1.72.Final</li>
  <li>[ARTEMIS-3564] - update to Qpid JMS 1.3.0</li>
  <li>[ARTEMIS-3605] - Upgrade jetty version to 9.4.44.v20210927</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
