<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.21.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <p>A complete list of JIRAs for the 2.21.0 release can be found  * <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12351083&amp;styleName=Text&amp;projectId=12315920&amp;Create=Create">here</a></p>

<p>A list of commits can be found  * <a href="commit-report-2.21.0">here</a>.</p>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h1 id="new-feature">New Feature</h1>
<ul>
  <li>[ARTEMIS-3522] - Implement performance tools to evaluate throughput and Response Under Load performance of Artemis</li>
  <li>[ARTEMIS-3638] - Support MQTT 5</li>
  <li>[ARTEMIS-3670] - Support diverting to multiple addresses</li>
  <li>[ARTEMIS-3685] - Support reloading bridges</li>
  <li>[ARTEMIS-3686] -  Add example integrating OpenTelemetry</li>
  <li>[ARTEMIS-3720] - Max number of messages as a deciding factor for Paging</li>
</ul>

<h1 id="bug">Bug</h1>
<ul>
  <li>[ARTEMIS-2582] - EmbeddedActiveMQ.stop() should check for null</li>
  <li>[ARTEMIS-2934] - ARTEMIS-2226 causes excessive notifications to be sent for Spring XA clients</li>
  <li>[ARTEMIS-3145] - Failure when shutting down the broker</li>
  <li>[ARTEMIS-3591] - PagingStoreImpl#checkMemory can run the provided task more than once</li>
  <li>[ARTEMIS-3607] - JsonUtil addToObject should be able to add a JsonValue</li>
  <li>[ARTEMIS-3608] - OFF_WITH_REDISTRIBUTION - no redistribution for non persistent Multicast messages</li>
  <li>[ARTEMIS-3616] - Netty epoll is not available</li>
  <li>[ARTEMIS-3620] - Journal blocking delete/update record with no sync</li>
  <li>[ARTEMIS-3623] - extraProperties._AMQ_ACTUAL_EXPIRY should be numeric in expired AMQP messages</li>
  <li>[ARTEMIS-3624] - MVN eclipse:eclipse fails due to missing version for org.apache.kerby/token-provider</li>
  <li>[ARTEMIS-3625] - NPE on createSharedSubscription when client connects to older versions</li>
  <li>[ARTEMIS-3626] - simple syntax error in PluggableQuorumBackupSyncJournalTest.java</li>
  <li>[ARTEMIS-3628] - validation error in pom file</li>
  <li>[ARTEMIS-3629] - syntax error in css file</li>
  <li>[ARTEMIS-3630] - missing end tag for pf-table-view in diagram.js</li>
  <li>[ARTEMIS-3633] - The tooltip for “Artemis password” is the same as for the username field</li>
  <li>[ARTEMIS-3636] - LinkedListImpl$Iterator leak on mesage consume error</li>
  <li>[ARTEMIS-3646] - OpenWire clients leave incorrect queue metrics when messages are sent to DLQ</li>
  <li>[ARTEMIS-3647] - rolledbackMessageRefs can grow until OOM with OpenWire clients</li>
  <li>[ARTEMIS-3649] - OpenWire consumers with zero prefetch get stuck</li>
  <li>[ARTEMIS-3664] - Critical Analyzer should not kick in during Starting phase of the broker</li>
  <li>[ARTEMIS-3676] - “No route to host” exceptions from Netty with NIO transport</li>
  <li>[ARTEMIS-3677] - Mitigate NPE when browsing messages</li>
  <li>[ARTEMIS-3678] - Return proper CONNACK code when MQTT 3.x auth fails</li>
  <li>[ARTEMIS-3679] - Brokers with JDBC shared-store shutdown after daylight saving fall back</li>
  <li>[ARTEMIS-3682] - No way of knowing if a bridge was successfully deployed or not</li>
  <li>[ARTEMIS-3687] - Bridges with concurrency &gt; 1 can leak</li>
  <li>[ARTEMIS-3696] - Avoid null property values on STOMP messages</li>
  <li>[ARTEMIS-3701] - Do not block libaio before moving to next file.</li>
  <li>[ARTEMIS-3702] - Authorization failures don’t adhere to MQTT spec</li>
  <li>[ARTEMIS-3709] - Queue “group-rebalance-pause-dispatch” attribute invalid</li>
  <li>[ARTEMIS-3714] - Change Docker group and user IDs to 1001</li>
  <li>[ARTEMIS-3719] - Dead-letter and expiry address not applied when using temp-queue-namespace</li>
  <li>[ARTEMIS-3721] - AMQP Mirrored Large Message’s body file is not deleted</li>
  <li>[ARTEMIS-3729] - JMS CORE client session commit doesn’t work after async sends</li>
  <li>[ARTEMIS-3732] - ServerLocator disableFinalizeCheck method has been removed without being deprecated first</li>
  <li>[ARTEMIS-3734] - Correct typo on CLI transfer</li>
</ul>

<h1 id="improvement">Improvement</h1>
<ul>
  <li>[ARTEMIS-3573] - Support PropertiesLoginModule custom password codecs</li>
  <li>[ARTEMIS-3613] - Deprecate stompMaxFramePayloadLength which is use for any protocol no just stomp</li>
  <li>[ARTEMIS-3618] - Faster Artemis CORE client MessageListener::onMessage without SecurityManager</li>
  <li>[ARTEMIS-3621] - viewing message without timestamp shows a 1970 datetime</li>
  <li>[ARTEMIS-3627] - Allow properties to configure ‘new’ broker attributes and load from a file</li>
  <li>[ARTEMIS-3631] - 2 more header fields can be interpreted as timestamp</li>
  <li>[ARTEMIS-3632] - expiry timestamps are only shown in relative form in the details table</li>
  <li>[ARTEMIS-3637] - config-delete-diverts not being applied properly</li>
  <li>[ARTEMIS-3644] - Add cert info to CONNECTION_CREATED notification</li>
  <li>[ARTEMIS-3645] - Support broker balancer cache persistence</li>
  <li>[ARTEMIS-3653] - BrokerDiagram improvements, a.o. highlight the (real) current broker</li>
  <li>[ARTEMIS-3660] - broker balancer - tidy up configuration; rename to connection router</li>
  <li>[ARTEMIS-3671] - Fix readability of queue stat output</li>
  <li>[ARTEMIS-3673] - Set default hawtio role</li>
  <li>[ARTEMIS-3690] - Enhancement of ActiveMQRAManagedConnectionFactory by compressLargeMessage and initialConnectAttempts</li>
  <li>[ARTEMIS-3691] - Build the CLI connector from a broker acceptor</li>
  <li>[ARTEMIS-3694] - Support remote servers for console smoke tests</li>
  <li>[ARTEMIS-3697] - Paging improvements</li>
  <li>[ARTEMIS-3698] - Avoid byte[] property values when converting from OpenWire</li>
  <li>[ARTEMIS-3699] - add method exposing the bound port of an acceptor</li>
  <li>[ARTEMIS-3708] - Collapse key transformer into policy</li>
  <li>[ARTEMIS-3710] - Deprecate queues config element</li>
  <li>[ARTEMIS-3711] - Support AMQ_SCHEDULED_DELAY for OpenWire clients</li>
  <li>[ARTEMIS-3715] - Support testClientID for artemis-maven-plugin</li>
</ul>

<h1 id="test">Test</h1>
<ul>
  <li>[ARTEMIS-3652] - ElasticQueueTest can leave behind task loops creating producers and consumers</li>
  <li>[ARTEMIS-3654] - AllClassesTest can create and fail to close a LibaioContext instance</li>
</ul>

<h1 id="wish">Wish</h1>
<ul>
  <li>[ARTEMIS-3186] - enable option “Create queue” more often</li>
</ul>

<h1 id="task">Task</h1>
<ul>
  <li>[ARTEMIS-3612] - Update Hawtio and strip Log4j from console web app</li>
  <li>[ARTEMIS-3641] - Move to the latest checkstyle</li>
  <li>[ARTEMIS-3650] - rework assembly creation to simplify and ease maintenance</li>
  <li>[ARTEMIS-3655] - isolate the ErrorProne dependencies to the profiles that use them</li>
  <li>[ARTEMIS-3657] - Refactor address docs</li>
  <li>[ARTEMIS-3658] - Remove refs to Jetty’s deprecated NCSARequestLog</li>
  <li>[ARTEMIS-3662] - Remove deprecated config from default broker.xml</li>
  <li>[ARTEMIS-3675] - use reload4j in optional openwire tests module</li>
  <li>[ARTEMIS-3689] - Tidy up console build, use consistent plugin versions etc</li>
  <li>[ARTEMIS-3695] - use specific jetty dependencies instead of jetty-all</li>
  <li>[ARTEMIS-3716] - Move end-to-end tests from smoke-tests to e2e-tests module</li>
</ul>

<h1 id="dependency-upgrade">Dependency upgrade</h1>
<ul>
  <li>[ARTEMIS-2413] - Upgrade JGroups</li>
  <li>[ARTEMIS-3648] - Update netty version to 4.1.73.Final</li>
  <li>[ARTEMIS-3666] - Update to PostgreSQL 42.3.3</li>
  <li>[ARTEMIS-3667] - Update to Groovy 4.0.0</li>
  <li>[ARTEMIS-3668] - Update to Qpid JMS 1.5.0</li>
  <li>[ARTEMIS-3674] - Update to SLF4J 1.7.36</li>
  <li>[ARTEMIS-3684] - Update Netty to 4.1.74</li>
  <li>[ARTEMIS-3712] - Refresh doc generation tool-chain</li>
  <li>[ARTEMIS-3723] - Update Netty to 4.1.75.Final</li>
  <li>[ARTEMIS-3724] - Update Jetty to 9.4.45</li>
</ul>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
