<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-all.min.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"></script>
    <script src="/js/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ Classic</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis-console/">ActiveMQ Artemis Console</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/asf_logo_wide.png" style="height:25px"> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-artemis">
    <div class="container">
      <h1>ActiveMQ Artemis 2.34.0 Release Notes</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 artemis">
        <ul>
  <li>
    <p><a href="commit-report-2.34.0">A list of commits</a>.</p>
  </li>
  <li>
    <p>Please see the <a href="https://activemq.apache.org/components/artemis/documentation/latest/versions.html">“Versions”</a> chapter in the User Guide for upgrade instructions.</p>
  </li>
</ul>

<p><strong>Note</strong>: This release requires use of Java 11 or above.</p>

<h2 id="bugs-fixed">Bugs Fixed</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1551">ARTEMIS-1551</a> - Conversion of most of the properties is not working when crossing protocols.</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1634">ARTEMIS-1634</a> - Coverity: Unintentional integer overflow (OVERFLOW_BEFORE_WIDEN) in QueueControlImpl.java</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1691">ARTEMIS-1691</a> - JMS Bridge: After the FailureHandler exits, a bridge cannot be started full functional anymore</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1921">ARTEMIS-1921</a> - Setting client ID on core JMS should be reflected in broker RemotingConnection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-2492">ARTEMIS-2492</a> - [Doc] Confusing/old paragraph in clusters.md</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-3622">ARTEMIS-3622</a> - MQTT can deadlock on client connection / disconnection</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4420">ARTEMIS-4420</a> - User authentication leaks into non-Artemis servlets</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4652">ARTEMIS-4652</a> - Rollback of XAResource implementation should never return XA_RETRY</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4666">ARTEMIS-4666</a> - Federated queue consumers do not receive messages on classic clients</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4694">ARTEMIS-4694</a> - Servers should be resilient to large headers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4698">ARTEMIS-4698</a> - MetricsManagers’ remove method may cause a NullPointerException</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4699">ARTEMIS-4699</a> - properties config - implied factoryClassName on TransportConfiguration can be wrong, it needs to be provided via a property value</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4705">ARTEMIS-4705</a> - Remove unnecessary field from STOMP HeartBeater</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4711">ARTEMIS-4711</a> - XmlDataImporter now requires JMS code</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4712">ARTEMIS-4712</a> - Remove LDAP connection pooling</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4713">ARTEMIS-4713</a> - Mitigate NPE in LargeMessageControllerImpl</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4714">ARTEMIS-4714</a> - Mitigate NPE in FederatedQueueConsumerImpl MessageListener</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4718">ARTEMIS-4718</a> - Diverted messages are not properly routed on cluster remote bindings</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4721">ARTEMIS-4721</a> - Possible documentation error in wildcard syntax recommendation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4723">ARTEMIS-4723</a> - org.apache.activemq.artemis.utils.actors.Handler$Counter left on the ThreadLocal</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4725">ARTEMIS-4725</a> - Mirror may send wrong headers</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4726">ARTEMIS-4726</a> - Removing scheduled message from queue via management can cause negative message count</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4727">ARTEMIS-4727</a> - Fix STOMP durable sub doc and property precedence</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4731">ARTEMIS-4731</a> - Openwire failure detection leak with Windows Clients / Server won’t cleanup openwork clients with Exception</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4733">ARTEMIS-4733</a> - Mirror Infinite loops (mirror infinite Reflection) from Internal Queues</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4734">ARTEMIS-4734</a> - Null dereferencing in ReplicationManager.java</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4744">ARTEMIS-4744</a> - AMQP broker connections don’t fully support multi host URIs</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4746">ARTEMIS-4746</a> - SIMILAR_BRANCHES.SWITCH Identical branches in switch node</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4749">ARTEMIS-4749</a> - SIMILAR_BRANCHES.SWITCH in ../activemq/artemis/utils/ThreadDumpUtil.java</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4759">ARTEMIS-4759</a> - Restore compatibility with LiveOnlyPolicyConfiguration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4762">ARTEMIS-4762</a> - Queue Stat throw NPE if executed against old server</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4765">ARTEMIS-4765</a> - Target Mirror is setting wrong size on duplicate cache</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4768">ARTEMIS-4768</a> - Property _AMQ_SCHED_DELIVERY lost from Scheduled Persistent Message after broker restart</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4771">ARTEMIS-4771</a> - NPE between AMQPLargeMessageWriter::tryDelivering and resetClose</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4774">ARTEMIS-4774</a> - PageCounters get out of sync after AckManager</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4776">ARTEMIS-4776</a> - Replicated Paged Files may leak as open on replica target</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4784">ARTEMIS-4784</a> - Large messages are being kept on the ReplicationEndpoint after they are closed.</li>
</ul>

<h2 id="new-features">New Features</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4675">ARTEMIS-4675</a> - Add replication status metrics</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4709">ARTEMIS-4709</a> - Add a plugin to provide periodic expiry of connections on a per acceptor basis</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4763">ARTEMIS-4763</a> - properties config - support metrics plugin, conversion of .class for non string attributes and empty init</li>
</ul>

<h2 id="improvements">Improvements</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-1769">ARTEMIS-1769</a> - Return JMS Session’s ClientID via JMX</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4306">ARTEMIS-4306</a> - Add authn/z metrics</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4498">ARTEMIS-4498</a> - Enable management for internal addresses &amp; queues</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4510">ARTEMIS-4510</a> - Add auto-create-destination logic to diverts</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4582">ARTEMIS-4582</a> - add view and edit permissions to extend security-settings rbac for management operations</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4696">ARTEMIS-4696</a> - Deprecate queue prefetch address setting</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4697">ARTEMIS-4697</a> - Auto reload SSL PEM config sources on change</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4704">ARTEMIS-4704</a> - Eliminate unnecessary variable in ReplicationManager</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4710">ARTEMIS-4710</a> - Keep pem-keystore dependencies as is; make it really optional</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4740">ARTEMIS-4740</a> - Reduce unnecessary boxing</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4742">ARTEMIS-4742</a> - Decoding PersistedSecuritySetting fails after upgrade</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4743">ARTEMIS-4743</a> - Improve CLI Queue Stat Output: Split lines and include internal queue attribute</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4745">ARTEMIS-4745</a> - Allow configuration of AMQP federation pull consumer batch size</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4754">ARTEMIS-4754</a> - Make configuring security for AMQP federation user accounts simpler</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4758">ARTEMIS-4758</a> - Hardening Mirroring</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4766">ARTEMIS-4766</a> - gate every newInstance call with a type check on the class to ensure we only call static initialisers of the expected type</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4772">ARTEMIS-4772</a> - Expose registered broker plugin class names in JMX</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4773">ARTEMIS-4773</a> - Performance improvement on page.sync</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4783">ARTEMIS-4783</a> - Touch up federation docs</li>
</ul>

<h2 id="tasks">Tasks</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4703">ARTEMIS-4703</a> - Add additional Queue federation example for AMQP federation</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4715">ARTEMIS-4715</a> - Using # wildcard from OpenWire JMS consumer stopped working with 2.33.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4720">ARTEMIS-4720</a> - Add additional example for AMQP federation showing TLS configuration</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4722">ARTEMIS-4722</a> - Exclude netty-tcnative-boringssl-static artifacts</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4750">ARTEMIS-4750</a> - AMQP Large Message flow control to use runAfter</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4778">ARTEMIS-4778</a> - misc test cleanup</li>
</ul>

<h2 id="dependency-upgrades">Dependency Upgrades</h2>

<ul>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4625">ARTEMIS-4625</a> - Upgrade CheckStyle to 10.15.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4701">ARTEMIS-4701</a> - Update to Netty 4.1.108</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4717">ARTEMIS-4717</a> - Upgrade commons-configuration2 to 2.10.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4724">ARTEMIS-4724</a> - Upgrade karaf version to 4.4.6</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4728">ARTEMIS-4728</a> - Upgrade jgroups version to 5.3.4.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4729">ARTEMIS-4729</a> - Upgrade slf4j version to 2.0.12</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4751">ARTEMIS-4751</a> - Upgrade to Apache parent 32</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4752">ARTEMIS-4752</a> - Upgrade ErrorProne to 2.27.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4753">ARTEMIS-4753</a> - Upgrade CheckStyle to 10.16.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4755">ARTEMIS-4755</a> - Upgrade Jackson to 2.17.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4756">ARTEMIS-4756</a> - Upgrade Commons IO to 2.16.1</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4757">ARTEMIS-4757</a> - Upgrade Netty to 4.1.109.Final</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4769">ARTEMIS-4769</a> - Update to pem-keystore 2.4.0</li>
  <li><a href="https://issues.apache.org/jira/browse/ARTEMIS-4770">ARTEMIS-4770</a> - Update to bouncycastle 1.78</li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2025, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/Apache_PoweredBy.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
