RewriteEngine On
RewriteRule ^camel/(.*)$ http://camel.apache.org/$1 [R=301,L]
RewriteRule ^nms.*$ https://activemq.apache.org/components/nms/ [R=301,L]
RewriteRule ^cms.*$ https://activemq.apache.org/components/cms/ [R=301,L]
RewriteRule ^artemis/docs/(.*) https://activemq.apache.org/components/artemis/documentation/$1 [R=301,L]
RewriteRule ^artemis.*$ https://activemq.apache.org/components/artemis/ [R=301,L]
RewriteRule ^apollo.*$ https://activemq.apache.org/ [R=301,L]
