<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/team/reports">Board Reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-nms">
    <div class="container">
      <h1>Apache ActiveMQ ™ -- NMS Simple Asynchronous Consumer Example</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 nms">
        <p>The sample shows how to create an NMS Consumer to consume messages asynchronously.</p>

<div class="language-csharp highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="cm">/* 
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */</span>

<span class="k">using</span> <span class="nn">System</span><span class="p">;</span>
<span class="k">using</span> <span class="nn">System.Threading</span><span class="p">;</span>
<span class="k">using</span> <span class="nn">Apache.NMS</span><span class="p">;</span>
<span class="k">using</span> <span class="nn">Apache.NMS.Util</span><span class="p">;</span>

<span class="k">namespace</span> <span class="nn">Apache.NMS.ActiveMQ.Test</span>
<span class="p">{</span>
<span class="k">public</span> <span class="k">class</span> <span class="nc">TestMain</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="k">static</span> <span class="n">AutoResetEvent</span> <span class="n">semaphore</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">AutoResetEvent</span><span class="p">(</span><span class="k">false</span><span class="p">);</span>
    <span class="k">protected</span> <span class="k">static</span> <span class="n">ITextMessage</span> <span class="n">message</span> <span class="p">=</span> <span class="k">null</span><span class="p">;</span>
    <span class="k">protected</span> <span class="k">static</span> <span class="n">TimeSpan</span> <span class="n">receiveTimeout</span> <span class="p">=</span> <span class="n">TimeSpan</span><span class="p">.</span><span class="nf">FromSeconds</span><span class="p">(</span><span class="m">10</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">static</span> <span class="k">void</span> <span class="nf">Main</span><span class="p">(</span><span class="kt">string</span><span class="err">\</span><span class="p">[</span><span class="err">\</span><span class="p">]</span> <span class="n">args</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// Example connection strings:</span>
        <span class="c1">//    activemq:tcp://activemqhost:61616</span>
        <span class="c1">//    stomp:tcp://activemqhost:61613</span>
        <span class="c1">//    ems:tcp://tibcohost:7222</span>
        <span class="c1">//    msmq://localhost</span>

        <span class="n">Uri</span> <span class="n">connecturi</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">Uri</span><span class="p">(</span><span class="s">"activemq:tcp://activemqhost:61616"</span><span class="p">);</span>

        <span class="n">Console</span><span class="p">.</span><span class="nf">WriteLine</span><span class="p">(</span><span class="s">"About to connect to "</span> <span class="p">+</span> <span class="n">connecturi</span><span class="p">);</span>

        <span class="c1">// NOTE: ensure the nmsprovider-activemq.config file exists in the executable folder.</span>
        <span class="n">IConnectionFactory</span> <span class="n">factory</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">NMSConnectionFactory</span><span class="p">(</span><span class="n">connecturi</span><span class="p">);</span>

        <span class="k">using</span><span class="p">(</span><span class="n">IConnection</span> <span class="n">connection</span> <span class="p">=</span> <span class="n">factory</span><span class="p">.</span><span class="nf">CreateConnection</span><span class="p">())</span>
        <span class="k">using</span><span class="p">(</span><span class="n">ISession</span> <span class="n">session</span> <span class="p">=</span> <span class="n">connection</span><span class="p">.</span><span class="nf">CreateSession</span><span class="p">())</span>
        <span class="p">{</span>
             <span class="c1">// Examples for getting a destination:</span>
             <span class="c1">//</span>
             <span class="c1">// Hard coded destinations:</span>
             <span class="c1">//    IDestination destination = session.GetQueue("FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is IQueue);</span>
             <span class="c1">//    IDestination destination = session.GetTopic("FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is ITopic);</span>
             <span class="c1">//</span>
             <span class="c1">// Embedded destination type in the name:</span>
             <span class="c1">//    IDestination destination = SessionUtil.GetDestination(session, "queue://FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is IQueue);</span>
             <span class="c1">//    IDestination destination = SessionUtil.GetDestination(session, "topic://FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is ITopic);</span>
             <span class="c1">//</span>
             <span class="c1">// Defaults to queue if type is not specified:</span>
             <span class="c1">//    IDestination destination = SessionUtil.GetDestination(session, "FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is IQueue);</span>
             <span class="c1">//</span>
             <span class="c1">// .NET 3.5 Supports Extension methods for a simplified syntax:</span>
             <span class="c1">//    IDestination destination = session.GetDestination("queue://FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is IQueue);</span>
             <span class="c1">//    IDestination destination = session.GetDestination("topic://FOO.BAR");</span>
             <span class="c1">//    Debug.Assert(destination is ITopic);</span>
            <span class="n">IDestination</span> <span class="n">destination</span> <span class="p">=</span> <span class="n">SessionUtil</span><span class="p">.</span><span class="nf">GetDestination</span><span class="p">(</span><span class="n">session</span><span class="p">,</span> <span class="s">"queue://FOO.BAR"</span><span class="p">);</span>

            <span class="n">Console</span><span class="p">.</span><span class="nf">WriteLine</span><span class="p">(</span><span class="s">"Using destination: "</span> <span class="p">+</span> <span class="n">destination</span><span class="p">);</span>

            <span class="c1">// Create a consumer and producer</span>
            <span class="k">using</span><span class="p">(</span><span class="n">IMessageConsumer</span> <span class="n">consumer</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">CreateConsumer</span><span class="p">(</span><span class="n">destination</span><span class="p">))</span>
            <span class="k">using</span><span class="p">(</span><span class="n">IMessageProducer</span> <span class="n">producer</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">CreateProducer</span><span class="p">(</span><span class="n">destination</span><span class="p">))</span>
            <span class="p">{</span>
                <span class="c1">// Start the connection so that messages will be processed.</span>
                <span class="n">connection</span><span class="p">.</span><span class="nf">Start</span><span class="p">();</span>
		<span class="n">producer</span><span class="p">.</span><span class="n">DeliveryMode</span> <span class="p">=</span> <span class="n">MsgDeliveryMode</span><span class="p">.</span><span class="n">Persistent</span><span class="p">;</span>
                <span class="n">producer</span><span class="p">.</span><span class="n">RequestTimeout</span> <span class="p">=</span> <span class="n">receiveTimeout</span><span class="p">;</span>

                <span class="n">consumer</span><span class="p">.</span><span class="n">Listener</span> <span class="p">+=</span> <span class="k">new</span> <span class="nf">MessageListener</span><span class="p">(</span><span class="n">OnMessage</span><span class="p">);</span>

                <span class="c1">// Send a message</span>
                <span class="n">ITextMessage</span> <span class="n">request</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">CreateTextMessage</span><span class="p">(</span><span class="s">"Hello World!"</span><span class="p">);</span>
                <span class="n">request</span><span class="p">.</span><span class="n">NMSCorrelationID</span> <span class="p">=</span> <span class="s">"abc"</span><span class="p">;</span>
                <span class="n">request</span><span class="p">.</span><span class="n">Properties</span><span class="err">\</span><span class="p">[</span><span class="s">"NMSXGroupID"</span><span class="err">\</span><span class="p">]</span> <span class="p">=</span> <span class="s">"cheese"</span><span class="p">;</span>
                <span class="n">request</span><span class="p">.</span><span class="n">Properties</span><span class="err">\</span><span class="p">[</span><span class="s">"myHeader"</span><span class="err">\</span><span class="p">]</span> <span class="p">=</span> <span class="s">"Cheddar"</span><span class="p">;</span>

                <span class="n">producer</span><span class="p">.</span><span class="nf">Send</span><span class="p">(</span><span class="n">request</span><span class="p">);</span>

                <span class="c1">// Wait for the message</span>
                <span class="n">semaphore</span><span class="p">.</span><span class="nf">WaitOne</span><span class="p">((</span><span class="kt">int</span><span class="p">)</span> <span class="n">receiveTimeout</span><span class="p">.</span><span class="n">TotalMilliseconds</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>

                <span class="k">if</span><span class="p">(</span><span class="n">message</span> <span class="p">==</span> <span class="k">null</span><span class="p">)</span>
                <span class="p">{</span>
                    <span class="n">Console</span><span class="p">.</span><span class="nf">WriteLine</span><span class="p">(</span><span class="s">"No message received!"</span><span class="p">);</span>
                <span class="p">}</span>
                <span class="k">else</span>
                <span class="p">{</span>
                    <span class="n">Console</span><span class="p">.</span><span class="nf">WriteLine</span><span class="p">(</span><span class="s">"Received message with ID:   "</span> <span class="p">+</span> <span class="n">message</span><span class="p">.</span><span class="n">NMSMessageId</span><span class="p">);</span>
                    <span class="n">Console</span><span class="p">.</span><span class="nf">WriteLine</span><span class="p">(</span><span class="s">"Received message with text: "</span> <span class="p">+</span> <span class="n">message</span><span class="p">.</span><span class="n">Text</span><span class="p">);</span>
                <span class="p">}</span>
            <span class="p">}</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">static</span> <span class="k">void</span> <span class="nf">OnMessage</span><span class="p">(</span><span class="n">IMessage</span> <span class="n">receivedMsg</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">message</span> <span class="p">=</span> <span class="n">receivedMsg</span> <span class="k">as</span> <span class="n">ITextMessage</span><span class="p">;</span>
        <span class="n">semaphore</span><span class="p">.</span><span class="nf">Set</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>
<span class="p">}</span>
</code></pre></div></div>


      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2021, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
