<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActiveMQ</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/fontawesome-v5.0.8-all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"></script>
    <script src="/js/jquery-3.6.1.slim.min.js" integrity="sha384-MYL22lstpGhSa4+udJSGro5I+VfM13fdJfCbAzP9krCEoK5r2EDFdgTg2+DGXdj+"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand mr-auto" href="#"><img style="height: 50px" src="assets/img/apache-feather.png" /></a> -->
        <a class="navbar-brand mr-auto" href="/"><img src="/assets/img/activemq_logo_black_small.png" style="height: 50px"/></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="ml-auto collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownComponents" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownComponents">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/components/classic">ActiveMQ "Classic"</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/artemis/">ActiveMQ Artemis</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/nms">NMS Clients</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/components/cms">CMS Client</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownCommunity" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownCommunity">
                        <div class="row">
                            <div class="col-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/contributing">Contribute</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/issues">Report Issues</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/support">Get Support</a></li>
                                </ul>
                            </div>
                          </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownTeam" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/feather.png" style="height:20px">Apache<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-center multi-column columns-1" aria-labelledby="navbarDropdownTeam">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="multi-column-dropdown">
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org">The Apache Software Foundation</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/security-advisories">Security</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://www.apache.org/events/current-event">Events</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://people.apache.org/phonebook.html?pmc=activemq">PMC & Committers</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/ActiveMQ.html">Board Reports</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
  <div class="page-title-cms">
    <div class="container">
      <h1>Building ActiveMQ-CPP</h1>
    </div>
  </div>
  <div class="container" >
    <div class="row" style="margin-top: 30px">
      <div class="col-12 cms">
        <h2 id="dependencies">Dependencies</h2>

<hr />

<h3 id="libuuid">libuuid</h3>

<p>On *nix sytems, the build requires the libuuid library that is part of the e2fsprogs package and is available from <a href="http://e2fsprogs.sourceforge.net/">http://e2fsprogs.sourceforge.net/</a> which is not always installed by default.</p>

<p>On Fedora/Red Hat/openSUSE, you should install the e2fsprogs and e2fsprogs-devel packages. On Debian/Ubuntu, you should install uuid and uuid-dev packages.</p>

<h3 id="cppunit">CppUnit</h3>

<p>The package contains a complete set of CppUnit tests. In order for you to build an run the tests, you will need to download and install the CppUnit library. See <a href="http://cppunit.sourceforge.net/cppunit-wiki">http://cppunit.sourceforge.net/cppunit-wiki</a></p>

<p>On Fedora/Red Hat/openSUSE, you should install the cppunit and cppunit-devel packages. On Debian/Ubuntu, you should install the build-essential, libcppunit and libcppunit-dev packages.</p>

<p>Make sure that the paths to the installed CppUnit library and includes are visible in your current shell before you try building the tests.</p>

<p>Windows users will need to build the CppUnit library using the CppUnit MSVC project files. A discussion of the build process can be found on the CppUnit wiki under <a href="http://cppunit.sourceforge.net/cppunit-wiki/BuildingCppUnit1">CppUnit build instructions</a> this covers both MSVC along with many other platforms and tool suites.</p>

<h3 id="apr">APR</h3>

<p>With versions of ActiveMQ-CPP 2.2 and later, we have a dependency on the <a href="http://apr.apache.org">Apache Portable Runtime</a> project. You’ll need to install APR on your system before you’ll be able to build ActiveMQ-CPP.</p>

<h5 id="note-to-windows-vistamsvc-2008-users">Note to Windows Vista/MSVC++ 2008 Users</h5>

<p>The Vista SDK has introduced some build problems for APR. For a work-around, follow the instructions <a href="https://issues.apache.org/bugzilla/show_bug.cgi?id=40398">here</a>.</p>

<h2 id="building-on-nix-unixlinuxos-xcygwin">Building on *nix (Unix/Linux/OS X/Cygwin)</h2>

<hr />

<h3 id="gnu-build-system-for-building-on-nix">GNU Build System (for building on *nix)</h3>

<p>To Generate the ./configure script use to create the Makefiles, you need the following software installed:</p>

<table>
  <thead>
    <tr>
      <th>Tool</th>
      <th>Recommended Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>autoconf</td>
      <td>&gt;= 2.59</td>
    </tr>
    <tr>
      <td>automake</td>
      <td>&gt;= 1.9.6</td>
    </tr>
    <tr>
      <td>libtool</td>
      <td>&gt;= 1.5.22</td>
    </tr>
  </tbody>
</table>

<p>You can also install the Doxygen and Graphviz packages if you want to generate the API documentation in HTML format.</p>

<h3 id="building">Building</h3>

<p>This assumes you have all of the project dependencies installed. We’re now ready to create the configure script. To do this, run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>./autogen.sh
</code></pre></div></div>

<blockquote>
  <p>You may see the following warnings when running this command:</p>

  <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>src/test-integration/Makefile.am:44: 'CXXFLAGS' is a user variable, you should not override it;  
src/test-integration/Makefile.am:44: use 'AM_CXXFLAGS' instead.  
src/test/Makefile.am:104: 'CXXFLAGS' is a user variable, you should not override it;  
src/test/Makefile.am:104: use 'AM_CXXFLAGS' instead.
</code></pre></div>  </div>
</blockquote>

<p>These can be ignored. We override <code class="language-plaintext highlighter-rouge">CXXFLAGS</code> in the makefiles for the unit and integration tests in order to suppress compiler warnings.</p>

<p>This should be run the first time and anytime you change configure.ac or any of the Makefile.am files.</p>

<blockquote>
  <h5 id="solaris-10-note">Solaris 10 Note</h5>

  <p>CppUnit might not build until you correct the file libstdc++.la to contain the correct data, see this discussion.</p>

  <p><a href="http://forum.sun.com/jive/thread.jspa?threadID=73150">http://forum.sun.com/jive/thread.jspa?threadID=73150</a></p>
</blockquote>

<p>The configure script will customize the way the software is built and installed into your system along with detecting the available libraries that have been installed. To use the default configuration just run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>./configure
</code></pre></div></div>

<p>For more help on how to customize the build configuration, run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>./configure --help
</code></pre></div></div>

<p>Once the configure script has run successfully, you are ready to build. Run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>make
</code></pre></div></div>

<p>This will build all of the core ActiveMQ CPP source code. To build and install the code into the system directories, run:</p>

<p>You will have to become the superuser in order to be able to install the files.</p>

<h3 id="doxygen">Doxygen</h3>

<p>To generate the doxygen documentation for the project, just run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>make doxygen-run
</code></pre></div></div>

<h3 id="running-tests">Running Tests</h3>

<h4 id="unit-tests">Unit Tests</h4>

<p>In order to build and run the suite of unit tests, run:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>make check
</code></pre></div></div>

<p>This will verify that the library is functioning correctly on the target platform. In addition, it will generate the integration tests binary.</p>

<h4 id="integration-tests">Integration Tests</h4>

<p>The library also contains a set of tests that are run against a real AMQ broker. These allow you to validate this distribution of ActiveMQ CPP against your broker. Running these without a broker will result in failed tests. The tests currently hard-code the broker url to be tcp://localhost:61613 for stomp and tcp://localhost:61616 for openwire.</p>

<p>The integration tests are built via “make check”. To run them, first start a broker and then</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cd src/test-integration
./activemq-test-integration
</code></pre></div></div>

<p>This will take quite some time to complete, so be patient.</p>

<h3 id="example">Example</h3>

<p>There is an example application that ships with the distribution in src/examples. The example is compiled by default with the “make” command, but can easily be compiled manually using the command similar to the following (varies by platform).</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>g++ -o main -pthread -I ../main main.cpp ../../src/main/.libs/libactivemq-cpp.a -luuid -I /usr/include/apr-1.0/ -lssl -lcrypto -lapr-1
</code></pre></div></div>

<h2 id="building-on-windows-with-msvc">Building on Windows with MSVC</h2>

<hr />

<p>We support using the GNU compiler on Windows, using the Cygwin package. However we also support using the MSVC compiler on Windows.</p>

<p>There are a couple or things that you will need to setup to ensure that the MSVC compile succeeds.</p>

<h3 id="including-dependencies">Including Dependencies</h3>

<p>The Project files reference the libraries described in the Dependencies section. To build successfully, you must either place these libraries in a directory listed in the project settings, or add a new location for your library directories.</p>

<h3 id="msvc--2008">MSVC &gt;= 2008</h3>

<p>If you’re using MSVC &gt;= 2008, it comes with the Windows SDK (so you don’t need to download it separately).</p>

<p>For ActiveMQ-CPP &gt;= 2.2, you will have to follow some special instructions for building APR, duscussed above.</p>

<h3 id="non-vistamsvc--2008">Non-Vista/MSVC &lt; 2008</h3>

<p>If you are using Visual C++ &lt; 2008, you need to download and install the Platform SDK if you don’t have it installed already (the Platform SDK is called the “Windows SDK” since the release of Windows Vista). Once installed, do the following:</p>

<ul>
  <li>Ensure that the path to your MSVC install is set in the PATH env variable. You can test this by typing cl.exe at the command line, if you get an error complaining that it is not found, then you’ll need to fix your PATH. Alternatively, you can set up the necessary environment variables by running C:\Program Files\Microsoft Visual Studio 8\Common7\Tools\vsvars32.bat.</li>
  <li>
    <p>Set the INCLUDE env variable to include the path to your MSVC includes, and the platform SDK includes. For example:</p>

    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>INCLUDE = D:\Program Files\Microsoft Visual Studio 8\VC\include;D:\Program Files\Microsoft Platform SDK\Include\*
</code></pre></div>    </div>
  </li>
  <li>
    <p>Set the LIB env variable to include the path to your MSVC libs, and the Platform SDK libs. For example:</p>

    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>LIB = D:\Program Files\Microsoft Visual Studio 8\VC\lib;D:\Program Files\Microsoft Platform SDK\Lib
</code></pre></div>    </div>
  </li>
</ul>

      </div>
    </div>
  </div>
</div>
<div class="row sitemap">
  <div class="col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div >
                <img class="float-left" style="max-height: 100px" src="/assets/img/activemq_logo_white_vertical_small.png"/>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 0px; margin-top: 30px; font-size: 65%" class="col-sm-6">
              <p><a href="https://www.apache.org/foundation/marks/list/">Apache, ActiveMQ, Apache ActiveMQ</a>, the Apache feather logo, and the Apache ActiveMQ project logo are trademarks of The Apache Software Foundation. Copyright &copy; 2023, The Apache Software Foundation. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
            </div>
            <div class="col-sm-3">
              <div >
                <a href="https://www.apache.org"><img class="float-right" style="margin-top: 10px; max-height: 80px" src="/assets/img/apache-logo-small.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
